<div class="account-menu">
      <p class="account-menu__title"><a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a></p>
    <ul class="account-menu__list">
        <li id="menu-toogle" class="account-menu__item account-menu__item--details"><a
                    class="account-menu__link"
                    href="/account"><span class="account-menu__icon">{%- render 'icon', icon: 'user' -%}</span><span
                        class="account-menu__link-title account-menu__link-title--medium">{{ 'customer.account.details' | t }}</span></a>
            {%- if customer.default_address != nil -%}
                <ul id="sub-menu" class="account-menu_submenu">
                    <li>{{- customer.default_address.address1 -}}</li>
                    {{- customer.default_address.address1 -}}

                   {% comment %}{% if customer.default_address.address2 != "" %}
                    <li>{{ customer.default_address.address2 }}
                        {% endif %}
                    {% endcomment %} 
                        {% if customer.default_address.city != "" %}
                    <li>{{ customer.default_address.city }}
                        {% endif %}

                        {% if customer.default_address.province_code != "" %}
                            {{ customer.default_address.province_code | upcase }}
                        {% endif %}

                        {% if customer.default_address.zip != "" %}
                            {{ customer.default_address.zip | upcase }}
                        {% endif %}

                        {% if customer.default_address.country != "" %}
                    <li> {{ customer.default_address.country }}</li>
                    {% endif %}

                    {% if customer.default_address.phone != "" %}
                        <li>{{ customer.default_address.phone }}</li>
                    {% endif %}
                </ul>
            {%- else -%}
                <span class="account-menu__user-name">{{ customer.name }}</span>
            {%- endif -%}
        </li>
        <li class="account-menu__item account-menu__item--bordered"><a class="account-menu__link"
                                          href="{{ routes.account_addresses_url }}"><span
                        class="account-menu__icon">{%- render 'icon', icon: 'map-marker' -%}</span><span
                        class="account-menu__link-title">{{ 'customer.account.view_addresses' | t }}
                ({{ customer.addresses_count }})</span></a></li>
        <li class="account-menu__item" id="order-link"><a href="/account"
                                          class="account-menu__link"><span
                        class="account-menu__icon">{%- render 'icon', icon: 'time-book' -%}</span><span
                        class="account-menu__link-title">My orders</span></a>
        </li>
        <li class="account-menu__item"><a href="/tools/recurring/login"
                                          class="account-menu__link"><span
                        class="account-menu__icon">{%- render 'icon', icon: 'round-arrow' -%}</span><span
                        class="account-menu__link-title">Planted Subscription</span></a>
        </li>
        <li class="account-menu__item account-menu__item--grow"><a class="account-menu__link"
                                          href="/pages/loyalty-dashboard"><span
                        class="account-menu__icon">{%- render 'icon', icon: 'gift' -%}</span><span
                        class="account-menu__link-title">Planted Rewards</span></a>
        </li>
        <li class="account-menu__item"><a class="account-menu__link"
                                          href="{{ routes.account_logout_url }}"><span
                        class="account-menu__icon">{%- render 'icon', icon: 'log-out' -%}</span><span
                        class="account-menu__link-title">{{ 'customer.link.logout' | t }}</span>
            </a>
        </li>
    </ul>
</div>
<script>
(function () {
    var links = document.getElementsByClassName('account-menu__link');
    for (i = 0; i < links.length; i++) {
        if (links[i].href == window.location.href) {
            links[i].parentNode.classList.add('account-menu__item--active');
        }
    }
})();
(function () {
  var toggle = document.getElementById('menu-toogle');
  var menu = document.getElementById('sub-menu');
  toggle.addEventListener('click', function (e) {
      e.preventDefault();
      menu.classList.toggle('menu-visible');
  })
})();
</script>
<style>
.account-page {
    margin-top: 0px;
}
.account-menu {
    margin-bottom: 50px;
}
.account-menu__title {
    font-size: 2.6em;
    margin-bottom: 0.3em;
    padding: 15px 0;
}
.account-menu__list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}
.account-menu_submenu {
    position: absolute;
    z-index: 2;
    top: 100px;
    left: -20px;
    display: none;
    width: 300px;
    padding: 15px;
    color: #111;
    border-radius: 4px;
    background-color: #fff;
}
.account-menu_submenu.menu-visible {
    display: block;
}
.account-menu_submenu:before {
    position: absolute;
    top: -8px;
    left: 15%;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    transform: rotate(45deg);
    background-color: #FFF;
}
.account-menu__item {
    position: relative;
    max-width: 90px;
    padding: 0 10px;
}
.account-menu__item--active:after {
    position: absolute;
    right: calc(50% - 15px);
    bottom: -30px;
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    transform: rotate(45deg);
    background-color: #FFF;
    z-index: -1;
}
.account-menu__item--active .account-menu__link {
    color: #744A9E;
}
.account-menu__item--active .account-menu__link .account-menu__icon .icon {
    fill: #744A9E;
}
.account-menu__icon .icon {
    fill: #111;
}
.account-menu__item--details.account-menu__item--active .account-menu__link .account-menu__icon .icon {
    fill: none;
}
.account-menu__item--details.account-menu__item--active .account-menu__link {
    color: #111;
}
/* .account-menu__item--details.account-menu__item--active .account-menu__link .account-menu__icon .icon {
    fill: #111;
} */
.account-menu__item--details.account-menu__item--active:after {
    display: none;
}
.account-menu__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #111;
}
.account-menu__icon {
    width: auto;
    max-width: 20px;
    padding: 5px;
}
.account-menu__icon .icon--user {
    fill: none;
}
.account-menu__link-title {
    font-size: .85em;
    line-height: 1.1;
    text-align: center;
}
.account-menu__user-name {
    color: #111;
    padding-left: 35px;
}
span.account-menu__user-name {
  padding:0;
}
@media (max-width: 660px) {
    .account-menu__link-title {
        display: none;
    }
}
@media (max-width: 767px) {
    .account-menu_submenu {
        top:75px;
    }
}
@media (min-width: 1024px) {
  .account-details {
  padding: 0 30px;
  }
    .account-menu {
        width: 225px;
        max-width: 225px;
        border-radius: 4px;
        background-color: #fff;
        margin-bottom: 0;
    }
    .account-menu__list {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 560px;
    }
    .account-menu__item {
        width: 100%;
        max-width: 100%;
        padding: 8px 10px;
    }
    .account-menu__link {
        align-items: flex-start;
        flex-direction: row;
        justify-content: flex-start;
    }
    .account-menu__link-title {
        align-self: center;
        text-align: left;
    }
    .account-menu_submenu {
        font-size: 0.8em;
        position: relative;
        top: -3px;
        left: 0;
        display: block;
        width: unset;
        min-width: auto;
        max-width: 100%;
        margin-left: 30px;
        padding: 6px;
    }
    .account-menu_submenu:before {
        display: none;
    }
    .account-menu__item--grow {
        flex-grow: 1;
    }
    .account-menu__title {
        text-align: center;
    }
    .account-menu__list {
        padding: 10px 10px 24px 24px;
    }
    .account-menu__icon {
        margin-right: 15px;
    }
    .account-menu__link-title.account-menu__link-title--medium {
        font-size: 1em;
    }
    .account-menu__item--bordered {
        position: relative;
        margin-bottom: 20px;
    }
    .account-menu__item--bordered:before {
        position: absolute;
        right: 15px;
        bottom: -10px;
        left: 0;
        height: 1px;
        content: "";
        background-color: #E1E1E1;
    }
    .account-menu__item--active::after {
        right: -15px;
        top: 10px;
        bottom: unset;
    }
    span.account-menu__user-name {
        padding: 15px 15px 15px 35px;
        display: block;
    }
   .account-menu__item--details  a {
        cursor: default;
    }
    .account-menu__title a {
        text-decoration: none;
    }
}
</style>