{% raw %}
    <div id="app">
        <template v-if="products">
            <div class="product-bundle">
                <div v-for="product in products" class="b-product">
                    <div class="b-product__image">
                    </div>
                    {{ product.title }}
                    <div class="b-button-group">
                        <button class="b-product-plus"> +</button>
                        {{ count }}
                        <button class="b-product-minus"> - </button>
                    </div>
                </div>
            </div>
        </template>
    </div>
{% endraw %}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            products: [],
            selectedProducts: []
        },
        methods: {
            showVariants: function () {
            },
            addItem: function (e) {
                e.stopPropagation();
                this.count++;

            }
        }
    })
</script>
<style>
.product-bundle {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
}
.b-product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.b-product__image {
    position: relative;
    width: 100%;
    min-height: 150px;
    background-image: url("https://cdn.shopify.com/s/files/1/0552/5376/2219/products/Screenshotfrom2021-10-1720-10-26_200x100.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.b-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
</style>