<script>
    (function ($) {
        $(document).on("page:load page:change", function () {
            const customAddress2 = false;
            const separatedAddress = {% if customer %}false{% else %}false{% endif %};
            const customCheckbox = false;
            const errStr = '<p class="field__message field__message--error" style="display: block"></p>';
            const errClass = '.field__message--error';
            const emailRegex = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            const zip = $('#checkout_shipping_address_zip');
            const addr1 = $('#checkout_shipping_address_address1');
            const addr1Block = $('div[data-address-field = "address1"]');
            const city = $('#checkout_shipping_address_city');
            const province = $('#checkout_shipping_address_province');
            const email = $('#checkout_email');
            const errMsg = {
                checkout_email: '{{ 'shopify.checkout.field_errors.email_blank' | t }}',
                checkout_valid_email: '{{ 'shopify.checkout.field_errors.email_invalid' | t }}',
                checkout_email_or_phone: '{{ 'shopify.checkout.field_errors.email_or_phone_blank' | t }}',
                checkout_shipping_address_first_name: '{{ 'shopify.checkout.field_errors.address_first_name_blank' | t }}',
                checkout_shipping_address_last_name: '{{ 'shopify.checkout.field_errors.address_last_name_blank' | t }}',
                checkout_shipping_address_address1: '{{ 'shopify.checkout.field_errors.address_address1_blank' | t }}',
                checkout_shipping_address_address2: '{{ 'shopify.checkout.field_errors.address_address2_blank' | t }}',
                checkout_shipping_address_house_number: '{{ 'shopify.checkout.field_errors.address_house_blank' | t }}',
                checkout_shipping_address_apt_number: '{{ 'shopify.checkout.field_errors.address_apartment_blank' | t }}',
                checkout_shipping_address_zip: '{{ 'shopify.checkout.field_errors.address_zip_blank' | t }}',
                checkout_valid_zip: '{{ 'shopify.checkout.field_errors.address_zip_num' | t }}',
                checkout_valid_zip_4: '{{ 'shopify.checkout.field_errors.address_zip_4' | t }}',
                checkout_valid_zip_5: '{{ 'shopify.checkout.field_errors.address_zip_5' | t }}',
                checkout_shipping_address_city: '{{ 'shopify.checkout.field_errors.address_city_blank' | t }}',
            };

            $('.visually-hidden').each(function () {
                $(this).addClass('hidden');
            });

            function validateRequiredFields() {

                $('*[data-step] form ').find("input[aria-required=true]:not('.hidden')").not('visully-hidden').not('#checkout_shipping_address_province').each(function () {

                    if (!$.trim($(this).val())) {
                        var fieldId = $(this).attr('id');
                        var errText = errMsg[fieldId];
                        $(this).addClass('input--error');
                        if (!$(this).parent().find(errClass).length) {
                            $(this).parent().append(errStr);
                        }
                        $(this).siblings(errClass).text(errText);
                        console.log(fieldId)
                    }
                }).on("input", function () {
                    $(this).removeClass('input--error');
                    $(this).parent().find('.field__message--error').remove();
                });
            }

            function validateEmail(emailVal) {
                if (!emailRegex.test($.trim(emailVal))) {
                    if (!email.next().length) {
                        email.parent().append(errStr);
                    }
                    email.next().text(errMsg.checkout_valid_email);
                } else {
                    email.next().remove();
                }
            }

            $('#checkout_email').on('keyup', function () {
                validateEmail($(this).val());
            });

            function validateZip(zipVal) {
                const zipField = $('#checkout_shipping_address_zip');
                const countries4 = ['Austria', 'Switzerland'];
                const countries5 = ['Germany', 'France'];
                let country = $('#checkout_shipping_address_country').val();
                if (zipVal.length) {
                    if ($.isNumeric(zipVal)) {
                        if (countries4.includes(country) && zipVal.length !== 4) {
                            if (!zipField.next().length) {
                                zipField.parent().append(errStr);
                            }
                            zipField.addClass('input--error');
                            zipField.next().text(errMsg.checkout_valid_zip_4);

                        } else if (countries5.includes(country) && zipVal.length !== 5) {
                            if (!zipField.next().length) {
                                zipField.parent().append(errStr);
                            }
                            zipField.addClass('input--error');
                            zipField.next().text(errMsg.checkout_valid_zip_5);

                        } else {
                            zipField.next().remove();
                            zipField.removeClass('input--error');
                        }
                    } else {
                        if (!zipField.next().length) {
                            zipField.parent().append(errStr);
                        }
                        zipField.addClass('input--error');
                        zipField.next().text(errMsg.checkout_valid_zip);
                    }
                } else {
                    zipField.addClass('input--error');
                    zipField.next().text(errMsg.checkout_shipping_address_zip);
                }
            }

            // $('#checkout_shipping_address_zip').on('input', function () {
            //     validateZip($(this).val());
            // })


            addr1.on('blur', function () {
                city.removeClass('input--error');
                city.next().remove();
                setTimeout(function () {
                    validateZip(zip.val());
                }, 20);

            })

            let checkValid = function () {
                let err = $('.input--error');
                console.log(err.val())
                if (document.querySelector('.input--error') || document.querySelector('.field__message--error')) return false;
                return true
            }

            $('#checkout_shipping_address_country').change(function () {
                validateZip(zip.val());
                // setTimeout(function () {
                //     $('#apt_number').insertAfter(addr1Block);
                //     $('#house_number').insertAfter(addr1Block);
                // }, 50);
            });

            if (Shopify.Checkout.step === 'contact_information') {

                function createCheckbox() {
                    let block = document.createElement('div');
                    block.classList.add('checkbox__container');

                    let targetEl = document.querySelector('.section--contact-information');
                    targetEl.insertAdjacentElement('beforeend', block);
                    let termsHTML = '<div class="checkbox-wrapper">' +
                        '<div class="checkbox__input checkbox__input--custom">' +
                        '<input class="input-checkbox" type="checkbox" value="1" name="checkout[custom_checkbox]" id="checkout_custom_checkbox">' +
                        '</div>' +
                        '<label class="checkbox__label" for="checkout_custom_checkbox">' +
                        '{{ 'shopify.checkout.custom_checkbox' | t }}' +
                        '</label>' +
                        '</div>';
                }

                function insertFields() {

                    let streetText = '{{ 'shopify.checkout.contact.address1_street' | t }}';
                    let htmlHouseNum = '<div id="house_number" data-address-field="house_number" class="field field--optional field--half">' +
                        '<div class="field__input-wrapper">' +
                        '<label for="checkout_shipping_address_house_number" class="field__label field__label--visible">{{ 'shopify.checkout.contact.house_num' | t }} </label>' +
                        '<input class="field__input" size="30" type="text" name="checkout[shipping_address][house_number]" id="checkout_shipping_address_house_number" {% unless customer %} aria-required="true" {% endunless %} placeholder="{{ 'shopify.checkout.contact.house_num' | t }} ">' + '' +
                        '</div>';
                    let htmlAptNum = '<div id="apt_number" data-address-field="apt_number" class="field field--optional field--half">' +
                        '<div class="field__input-wrapper">' +
                        '<label for="checkout_shipping_address_apt_number" class="field__label field__label--visible">{{ 'shopify.checkout.contact.address2_label' | t }} </label>' + '' +
                        '<input class="field__input" size="30" type="text" name="checkout[shipping_address][apt_number]" id="checkout_shipping_address_apt_number" {% unless customer %} aria-required="true" {% endunless %} placeholder="{{ 'shopify.checkout.contact.address2_label' | t }} ">' +
                        '</div>';


                    addr1Block.after(htmlHouseNum, htmlAptNum);

                    addr1.attr("placeholder", streetText);
                    $('label[for="checkout_shipping_address_address1"]').text(streetText);

                    let addrSplits = addr1.val().split(", ");
                    setTimeout(function () {
                        addr1.val(addrSplits[0]);
                        $('#checkout_shipping_address_house_number').val(addrSplits[1]);
                        $('#checkout_shipping_address_apt_number').val(addrSplits[2]);
                    }, 50);
                }

                function mergeAddress() {
                    if (separatedAddress) {
                        let address1 = addr1.val();
                        let house = $('#checkout_shipping_address_house_number').val();
                        let apt = $('#checkout_shipping_address_apt_number').val();
                        if (house.length || apt.length) {
                            let addrVal = address1 + (", ") + house + (", ") + apt;
                            addr1.val(addrVal);
                        }
                    }
                }

                function pageChange() {
                    $(document).trigger('page:change');
                }

                if (separatedAddress && (!$('#checkout_shipping_address_house_number').length)) {
                    insertFields();
                }

                if (customAddress2) {
                    let coText = '{{ 'shopify.checkout.contact.custom_address' | t }} ';
                    $('label[for="checkout_shipping_address_address2"]').text(coText);
                    $('#checkout_shipping_address_address2').attr("placeholder", coText);
                }

                $('#checkout_shipping_address_zip').on('blur', function () {
                    validateZip($(this).val());
                })

                $('*[data-step] form').on('keypress', function (e) {
                    if (event.keyCode === 13) {
                        e.preventDefault();
                        $(this).find('[type="submit"]').trigger('click');
                    }
                });

                $('*[data-step] form [type="submit"]').on('click', function (e) {
                    validateRequiredFields();
                    validateZip(zip.val());
                    e.preventDefault();
                    if (checkValid()) {
                        $('[data-step] form').submit();
                    }
                });

            }
            // console.log(Shopify.Checkout.step);

            if ($('.breadcrumb__item--current').next().is('.breadcrumb__item--completed')) {
                $('.breadcrumb__item--current').addClass('fulfilled');
            }

            if ($('.breadcrumb__item--completed').next().is('.breadcrumb__item--blank')) {
                $('.breadcrumb__item--completed ~ .breadcrumb__item--blank').prev().addClass('stepback');
            }

            $('.edit_checkout').find('.btn__content').removeClass('visually-hidden-on-mobile');
            $('.edit_checkout').find('svg.shown-on-mobile').remove();
        });
    })(Checkout.$);
</script>
<style>
    @font-face {
        font-family: 'galano_grotesqueregular';
        src: url('{{ 'rene_bieder_-_galano_grotesque-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'rene_bieder_-_galano_grotesque-webfont.woff' | asset_url }}') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'galano_grotesquebold';
        src: url('{{ 'rene_bieder_-_galano_grotesque_bold-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'rene_bieder_-_galano_grotesque_bold-webfont.woff' | asset_url }}') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'galano_grotesquemedium';
        src: url('{{ 'rene_bieder_-_galano_grotesque_medium-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'rene_bieder_-_galano_grotesque_medium-webfont.woff' | asset_url }}') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    body {
        font-family: 'galano_grotesquemedium';
        font-size: 12px;
    }
    .breadcrumb {
        font-size: .9em;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;
    }
    .breadcrumb .breadcrumb__item:nth-child(2):before {
        content: "2";
    }
    .breadcrumb .breadcrumb__item:nth-child(3):before {
        content: "3";
    }
    .breadcrumb .breadcrumb__item:nth-child(4):before {
        content: "4";
    }
    .breadcrumb .breadcrumb__item:nth-child(5):before {
        content: "5";
    }
    .breadcrumb__chevron-icon, .breadcrumb__item:last-child:after, .breadcrumb__item:first-child a:after {
        display: none;
    }
    .breadcrumb__item {
        position: relative;
        height: 42px;
        margin-top: 10px;
        padding: 0 6%;
    }
    .breadcrumb .breadcrumb__item:first-child {
        padding: 0;
    }
    .breadcrumb .breadcrumb__item:last-child {
        padding: 0;
    }

    .breadcrumb__item a:after, .breadcrumb__item .breadcrumb__text:after {
        position: absolute;
        z-index: 0;
        top: -4px;
        right: calc(50% + 13px);
        width: 100%;
        height: 1px;
        content: " ";
        background-color: #D9D9D9;
    }
    .breadcrumb__item--blank .breadcrumb__link {
        color: #737373;
    }
    .breadcrumb__item.breadcrumb__item--blank:before {
        color: #737373;
        border-color: #D9D9D9;
    }
    .breadcrumb__item.breadcrumb__item--completed.stepback:after {
        background-color: #D9D9D9;
    }
    .breadcrumb__item.breadcrumb__item--completed:after, .breadcrumb__item.breadcrumb__item--completed a:after, .breadcrumb__item.breadcrumb__item--current .breadcrumb__text:after, .breadcrumb__item.breadcrumb__item--current a:after, .breadcrumb__item--current ~ .breadcrumb__item--completed:after, .breadcrumb__item.breadcrumb__item--current.fulfilled:after, .product-thumbnail__quantity {
        background-color: #734A9E;
    }
    .breadcrumb__item.breadcrumb__item--completed:before, .breadcrumb__item.breadcrumb__item--current:before {
        color: #734A9E;
        border-color: #734A9E;
    }
    .breadcrumb__item.breadcrumb__item--current:before {
        color: #FFF;
        background-color: #734A9E;
    }
    .breadcrumb__item:after {
        position: absolute;
        z-index: 0;
        top: -4px;
        left: calc(50% + 13px);
        width: 110%;
        height: 1px;
        content: " ";
        background-color: #D9D9D9;
    }
    .breadcrumb__item:before {
        font-size: 10px;
        line-height: 1.85em;
        position: absolute;
        z-index: 5;
        top: -14px;
        left: calc(50% - 12px);
        display: block;
        width: 19px;
        height: 19px;
        content: "";
        text-align: center;
        letter-spacing: 0;
        color: #D9D9D9;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        background-color: #FFF;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
    }
    .breadcrumb__item:first-child a:before {
        background-image: url('{{ 'check-icon.svg' | asset_url }}');
        position: absolute;
        top: -8px;
        left: calc(50% - 6px);
        display: block;
        width: 11px;
        height: 10px;
        content: "";
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .breadcrumb__link {
        width: 100%;
        color: #734A9E;
    }
    .breadcrumb__link:before {
        z-index: 6;
    }
    .breadcrumb__link:hover, .breadcrumb__text, .sidebar .order-summary__emphasis, .sidebar .order-summary__small-text, .sidebar .payment-due-label__total, .sidebar .field__input::placeholder, .floating-labels .sidebar .field__label, #checkout_reduction_code {
        color: #734A9E;
    }
    .breadscrum-item a:before {
        position: absolute;
        top: -14px;
        left: calc(50% - 5px);
        display: block;
        width: 10px;
        height: 10px;
        content: "";
        text-align: center;
    }
    .btn {
        font-weight: 500;
        padding-right: 40px;
        padding-left: 40px;
        border-radius: 33px;
    }
    .content, .product-table {
    }
    .field--half + .field--half, .field--third.hidden + .field--half {
        margin-left: 4%;
    }
    .field__input {
        border-radius: 7px !important;
        padding: 14px 20px;
    }
    .floating-labels .field--half {
        width: 48%;
    }

    .input--error, .input--error:focus {
        display: block !important;
        border: 1px solid #e32c2b !important;
        box-shadow: 0 0 0 1px #e32c2b;
    }

    .field--error .field__input {
        border: 1px solid #e32c2b !important;
        box-shadow: 0 0 0 1px #e32c2b;
    }

    .fieldset-description {
        margin-top: 10px;
    }
    .checkbox__input {
        padding-right: 20px;
    }
    /*.input--error:focus {*/
    /*    box-shadow: none !important;*/
    /*}*/
    .main .field__input {
        border-color: #A9A9A9;
        color: #737373;
    }
    .main .field__input:focus {
        border-color: #734a9e;
    }
    .field__input:focus, .field__input-wrapper--flag-focus .field__input {
        color: #111111 !important;
    }
    .floating-labels .field--show-floating-label .field__input {
        padding-bottom: 1.6em;
        padding-bottom: .6em;
        color: #737373;
        padding-left: 18px;
    }
    .main {
        max-width: 700px;
        padding-right: 5%;
        padding-left: 5%;
        padding-left: 5%;
    }
    .order-summary {
        position: relative;
    }
    .order-summary-toggle {
        padding: 10px 0;
        border-top: 0;
        border-bottom: 0;
        background: #FFF0AB;
    }
    .order-summary-toggle .wrap {
        padding: 0;
    }
    .order-summary__section {
        padding-top: 15px;
    }
    .order-summary__section:last-child {
        padding-bottom: 3em;
    }
    .total-line th, .total-line td {
        padding-top: 13px;
    }
    .payment-due__price {
    }
    .order-summary-toggle__text {
        font-weight: 500;
    }
    .order-summary-toggle__total-recap {
    }
    .order-summary:before {
        position: absolute;
        top: 0;
        min-width: 100%;
        height: 1px;
        content: "";
        background-color: #B9ABE4;
    }
    .order-summary__emphasis {
        font-weight: 600;
    }
    .order-summary__emphasis.total-recap__final-price {
        font-weight: 500;
        color: #734A9E;
    }
    .order-summary__section ~ .order-summary__section {
        border-top: 0;
    }
    .order-summary__section.order-summary__section--product-list {
        padding-bottom: 0;
    }
    .order-summary__section {
        position: relative;
    }
    .order-summary__section:after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #B9ABE4;
    }
    .payment-due-label__total {
        font-size: 20px;
    }
    .order-summary__sections .order-summary__section:last-child:after {
        display: none;
    }
    .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before {
        background-color: #B9ABE4;
    }
    .order-summary__small-text {
    }
    .product__description {
        padding-left: 2em;
    }
    .section-title {
    }
    .sidebar {
        max-width: 700px;
        padding-right: 4%;
        padding-left: 3%;
        color: #734A9E;
        background-color: #FFF0AB;
    }
    .sidebar .field__input {
        color: #734A9E;
        border-color: #B9ABE4;
        background-color: #FFF0AB;
    }
    .sidebar .icon-svg--color-adaptive-lighter {
        margin-top: -5px;
        color: #8f8f8f;
        fill: #734A9E;
    }
    .sidebar .payment-due__price {
        font-weight: 600;
        color: #734A9E;
    }
    .sidebar:after {
        background-color: #FFF0AB;
    }
    .total-recap__final-price {
    }
    .wrap.wrap-content {
        width: 100%;
        max-width: 100em;
        padding: 0 !important;
    }
    th.product__description {
        padding-left: 2em;
    }
    tr.product td, tr.product th {
        padding-bottom: 20px;
    }
    .order-summary__section--product-list::after {
        background-color: #B9ABE4;
    }
    .floating-labels .field--show-floating-label .field__input {
        padding-top: 1.25em;
    }
    .review-block__content, .content-box {
        color: #737373;
    }
    @media (min-width: 500px) and (max-width: 999px) {
        .breadcrumb__item:after, .breadcrumb__item a:after, .breadcrumb__item .breadcrumb__text:after {
            width: calc(100% + 10px);
        }
    }
    @media (min-width: 1000px) {
        body {
            font-size: 15px;
        }
        .breadcrumb {
            font-size: 1em;
            margin-top: 40px;
            margin-bottom: 15px;
            border-bottom: 1px solid #E1E1E1;
        }
        .breadcrumb__item {
            margin-top: 25px;
        }
        .breadcrumb__item a:after, .breadcrumb__item .breadcrumb__text:after {
            top: -1px;
            width: calc(100% + 10px);
        }
        .breadcrumb__item:after {
            top: -1px;
            width: calc(100% + 10px);
        }
        .breadcrumb__item:before {
            font-size: 1em;
            line-height: 22px;
            top: -14px;
            width: 22px;
            height: 22px;
        }
        .breadcrumb__item:first-child a:before {
            top: -7px;
            left: calc(50% - 5px);
            width: 11px;
            height: 10px;
        }
        .breadcrumb_mobile {
            display: none;
        }
        .field--half + .field--half {
            margin-left: 4%;
        }
        .floating-labels .field--half {
            width: 48%;
        }
        .main {
            max-width: 700px;
            padding-right: 5%;
            padding-left: 5%;
        }
        .main__header {
            padding-bottom: 0;
        }
        .field__caret {
            width: 3.2em;
            height: 2em;
        }
        .logo {
            margin-bottom: 35px;
        }
        .logo__image--medium {
            max-height: 58px;
        }
        .page--logo-main .breadcrumb {
            margin-top: 15px;
        }
        .order-summary__small-text {
        }
        .sidebar {
            max-width: 510px;
            padding-right: 4%;
            padding-left: 3%;
        }
        .wrap.wrap-content {
            width: 100%;
            max-width: 100em;
            padding: 0 !important;
        }
        tr.product td, tr.product th {
            padding-bottom: 20px;
        }
        .order-summary::before {
            display: none;
        }
        .sidebar {
            max-width: 510px;
        }
        .field {
            padding: 1em .4em;
        }
        .product-thumbnail {
            width: 4.3em;
            height: 4.3em;
        }
        th.product__description {
            padding-left: 3em;
            line-height: 1.4em;
        }
        .order-summary__section--product-list .product-table {
            margin-bottom: 0;
        }
        .order-summary__section.order-summary__section--discount {
            padding-bottom: 0;
        }
        .order-summary__section.order-summary__section--discount:after {
            display: none;
        }
        .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th, .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td, .total-line-table__tbody + .total-line-table__footer .total-line:first-child th, .total-line-table__tbody + .total-line-table__footer .total-line:first-child td {
            padding-top: 4em;
        }
        .section--shipping-address .section__header {
            margin-bottom: 0px;
        }
        .section__header {
            margin-bottom: 15px;
        }
        .section__header.os-header {
            margin-top: -15px;
        }
        .page--no-banner .main, .page--no-banner .sidebar {
            padding-top: 3.5em;
        }
        .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before, .sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before, .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before, .sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before {
            top: 30px;
        }
    }
    @media (max-width: 999px) {
        .logo__image--medium {
            max-height: 2.4em;
        }
        .main__header nav .breadcrumb {
            display: none;
        }
        .main, .breadcrumb, .sidebar, .wrap {
            min-width: 50%;
            max-width: 650px;
            margin: 0 auto;
        }
        .floating-labels .field--show-floating-label .field__input {
            padding-top: 18px;
            padding-bottom: 11px;
        }
        .order-summary-toggle__text {
            font-size: 14px;
        }
    }
    @media (min-width: 270px) and (max-width: 999px) {
        .main, .breadcrumb, .sidebar, .wrap {
            width: 90%;
        }
    }
    @media (max-width: 474px) {
        .order-summary-toggle .wrap {
            padding: 0 5%;
        }
        .floating-labels .field--half {
            width: 100%;
        }
        .field--half + .field--half {
            margin-left: 0;
        }
    }
    @media (max-width: 749px) {
        .btn, .sp-modal-toggle {
            width: 100%;
            padding-top: 1.25em;
            padding-bottom: 1.25em;
        }
        div[data-step="thank_you"] .fieldset--inline .field {
            margin-bottom: 10px;
        }
    }
    @media (min-width: 1300px) {
        .os-header__hanging-icon {
            position: relative;
            top: unset;
            right: unset;
            margin-right: 1.5em;
            -webkit-transform: none;
            transform: none;
        }
    }
    .section__header.os-header {
        padding: 40px 35px;
        border-radius: 7px;
        background-color: #e9ffe7;
    }
    .os-header__hanging-icon {
        margin-right: 1.5em;
        stroke: #49BB76;
    }
    .os-header__heading {
        display: flex;
        flex-direction: column;
    }
    h2.os-header__title {
        font-family: 'Galano_grotesquebold';
        line-height: 1.6em;
        color: #734A9E;
    }
    .os-order-number {
        order: 2;
    }
    @media (min-width: 1300px) {
        .os-header__hanging-icon {
            position: relative;
            top: unset;
            right: unset;
            margin-right: 1.5em;
            -webkit-transform: none;
            transform: none;
        }
    }
    .floating-labels .field__label {
        font-size: 11px;
        margin-top: 2px;
        margin-left: 8px;
    }
    .field__input--select {
        padding-left: 15px !important;
    }
    div[data-step="thank_you"] .step__sections .section__content .content-box:last-child {
        border: 1px solid #f6f6f6;
        background-color: #f6f6f6;
    }
    div[data-step="shipping_method"], div[data-step="payment_method"] {
        margin-top: 25px;
    }
    .content-box__row {
        padding: 16px 25px;
    }
    @media (min-width: 1000px) {
        .review-block ~ .review-block {
            margin-top: 1em;
            padding-top: 1em;
            border-top: 1px solid #e6e6e6;
        }
    }
    div[data-step="thank_you"] .heading-3, div[data-step="thank_you"] h3 {
        font-family: 'Galano_grotesquemedium';
        color: #111111;
    }
    .total-line-table__tbody {
    }
    h2.section__title, h2, .heading-2 {
        font-family: Galano_grotesqueregular;
    }
    .floating-labels .field--show-floating-label .field__input {
        color: #111111;
    }
    h2.section__title {
        color: #111111;
    }
    .display-table .checkbox__label {
        color: #111111;
    }
    div[data-step="thank_you"] .content-box__row.content-box__row--no-border {
        padding-bottom: 0;
    }
    div[data-step="thank_you"] .content-box:last-child .content-box__row:last-child {
        padding-bottom: 35px;
    }
    div[data-step="thank_you"] .fieldset--inline .btn {
        margin: unset;
    }
    .section__content {
        zoom: 0;
    }
    @media (min-width: 1300px) {
        div[data-step="thank_you"] .step__footer {
            align-items: center;
            justify-content: flex-start;
        }
    }
    div[data-step="thank_you"] .step__footer {
        display: flex;
        flex-direction: column;
    }
    div[data-step="thank_you"] .step__footer .step__footer__continue-btn {
        line-height: 1em;
        order: 1;
        padding: 18px 50px;
    }
    div[data-step="thank_you"] .step__footer .step__footer__info {
        order: 2;
    }
    @media (min-width: 750px) {
        .section__content__column--half:last-child {
            padding-left: 40px;
        }
        div[data-step="thank_you"] .step__footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .step__footer {
            margin-top: 3em;
        }
        div[data-step="thank_you"] .step__footer .step__footer__continue-btn {
            margin-right: 1.5em;
        }
        div[data-step="thank_you"] .fieldset--inline .field {
            padding: 0 1em 0 0.5em;
        }
    }
    .sidebar .order-summary__small-text {
        line-height: 1.6em;
    }
    @media (min-width: 750px) and (max-width: 999px) {
        .os-header__hanging-icon {
            position: relative;
            top: unset;
            right: unset;
            margin-right: 1.5em;
            -webkit-transform: none;
            transform: none;
        }
    }
    .field__input.field__input--iframe-container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    @media (min-width: 1000px) {
        .field__input--iframe-container iframe {
            position: absolute;
            top: 3px;
        }
    }
    @media (min-width: 500px ) and (max-width: 999px) {
        .order-summary-toggle .wrap {
        }
    }
    .thank_you .section__content .btn {
        margin: 1em .4em;
    }
    .step__footer .btn {
        padding: 17px 50px;
    }
</style>