{%- comment -%} Settings {%- endcomment -%}
{%- assign button_text = section.settings.button_text -%}
{%- assign button_style = section.settings.button_style -%}

{%- comment -%} Layout {%- endcomment -%}
{%- assign collectionsColumns = section.settings.collections_columns | plus: 0 -%}
{%- assign columns_size = collectionsColumns | replace: '1', '' -%}
{%- assign collection_block_size = 'block s1 lg_s1' | append: columns_size | append: ' med_s12' -%}

{%- if collection == empty -%}
	<div class="collectionBlock js-collectionBlock collection--has-image {{ collection_block_size }}" {{ block.shopify_attributes }}>
		{%- unless image == blank -%}
			<div class="collectionBlock-image {% if settings.transition_collections_list %}collectionBlock-image--zoom{% endif %} lazyload"
			data-sizes="auto"
			data-parent-fit="cover"
			data-bgset="{% render 'bgset', image: image %}">
			</div>
			<noscript>
				<a aria-label="{{ collection.title }}" href="{{ collection.url }}"
				class="collectionBlock-image {% if settings.transition_collections_list %}collectionBlock-image--zoom{% endif %} no-js-image" style="background-image:url('{{ image | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
				</a>
			</noscript>

		{%- else -%}
			<div class="collectionBlock-image {% if settings.transition_collections_list %}collectionBlock-image--zoom{% endif %} svg-placeholder">
				{%- capture current -%}{% cycle 'current': 1, 2, 3, 4, 5 %}{%- endcapture -%}
				{{- 'collection-' | append: current | placeholder_svg_tag -}}
			</div>
		{%- endunless -%}

		<div class="collectionBlock-info text-position--{{ section.settings.coll_text_position }}">
			<div>
              <h3><span>{{ 'onboarding.collection' | t }}</span></h3>
				{%- if section.settings.show_description and image == blank -%}
					<p>{{ 'onboarding.collection_description' | t }}</p>
				{%- endif -%}

				{%- if button_text != blank -%}
					<span class="button button--{{ button_style }}">{{ button_text }}</span>
				{%- endif -%}
			</div>
		</div>
	</div>
{%- else -%}
	{%- if image == blank and collection.image == blank -%}
		{%- assign image = collection.products.first.featured_media.preview_image -%}
	{%- endif -%}

	<div class="collectionBlock js-collectionBlock{% if template == 'list-collections' and image == blank %} collection--no-image{% else %} collection--has-image{% endif %} {{ collection_block_size }} is-loading" {{ block.shopify_attributes }}>
		{%- unless image == blank -%}
			<a aria-label="{{ collection.title }}" href="{{ collection.url }}"
				class="collectionBlock-image {% if settings.transition_collections_list %}collectionBlock-image--zoom{% endif %} lazyload"
				data-sizes="auto"
				data-parent-fit="cover"
				data-bgset="{% render 'bgset', image: image %}"
			>
			</a>
			<noscript>
				<a aria-label="{{collection.title}}" href="{{ collection.url }}"
				class="collectionBlock-image {% if settings.transition_collections_list %}collectionBlock-image--zoom{% endif %} no-js-image" style="background-image:url('{{ image | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
				</a>
			</noscript>
		{%- else -%}
			<a class="collectionBlock-image {% unless template == 'list-collections' %}collectionBlock-image--placeholder {% if settings.transition_collections_list %}collectionBlock-image--zoom{% endif %}{% else %}collectionBlock-image--no-image{% endunless %}">
				{%- unless template == 'list-collections' -%}
					{{- 'collection-1' | placeholder_svg_tag -}}
				{%- endunless -%}
			</a>
		{%- endunless -%}

		<a href="{{ product.url | within: collection }}" class="collectionBlock-info text-position--{{ section.settings.coll_text_position }}">
			<div class="collectionBlock-info__content">
              <h3><span>{{ collection.title | truncate: 100, '...' }}</span></h3>
				{%- if section.settings.show_description -%}
					<p>{{ collection.description | strip_html | truncate: 100, '...' }}</p>
				{%- endif -%}
				{%- if button_text != blank -%}
					<span class="button button--{{ button_style }}">{{ button_text }}</span>
				{%- endif -%}
			</div>
		</a>
	</div>
{%- endif -%}
