{%- comment -%} Fonts {%- endcomment -%}
{%- assign heading_font = settings.heading_font_picker -%}
{%- assign heading_font_bold = heading_font | font_modify: 'weight', 'bolder' -%}
{%- assign heading_font_italic = heading_font | font_modify: 'style', 'italic' -%}
{%- assign heading_font_bold_italic = heading_font_bold | font_modify: 'style', 'italic' -%}

{%- assign base_font = settings.base_font_picker -%}
{%- assign base_font_medium = base_font | font_modify: 'weight', '+100' -%}
{%- assign base_font_bold = base_font | font_modify: 'weight', 'bolder' -%}
{%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
{%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}

{%- assign base_font_size = 14 -%}
{%- assign heading_font_size = 14 -%}

{%- comment -%} Colors {%- endcomment -%}
{%- assign color_text = settings.color_text_new -%}
{%- assign color_background = settings.color_background_new -%}
{%- assign color_background_brightness = color_background | color_brightness | round -%}

{%- comment -%} Use white background if it's set to transparent {%- endcomment -%}
{%- if color_background == 'rgba(0,0,0,0)' -%}
	{%- assign color_background = 'rgba(255, 255, 255, 0)' -%}
{%- endif -%}

{%- comment -%} Button colors {%- endcomment -%}
{%- assign color_button_primary_bg = settings.color_button_primary_bg -%}
{%- assign color_button_primary_text = '#fff' -%}
{%- assign color_button_primary_border = color_button_primary_bg -%}
{%- assign color_button_primary_brightness = color_button_primary_bg | color_brightness | round -%}
{%- comment -%}
	Maximum color brightness is 255
	Change button text color to black if brightness is more than 85% ( 85% of 255 is ~215 )
	Change button border to match button text color in case button background is the same as the page body background
{%- endcomment -%}
{%- if color_button_primary_brightness > 215 -%}
	{%- assign color_button_primary_text = '#000' -%}
{%- endif %}
{%- if color_button_primary_bg == color_background -%}
	{%- assign color_button_primary_border = color_button_primary_text -%}
{%- endif %}

{%- assign color_button_secondary_bg = settings.color_button_secondary_bg -%}
{%- assign color_button_secondary_text = '#fff' -%}
{%- assign color_button_secondary_border = color_button_secondary_bg -%}
{%- assign color_button_secondary_brightness = color_button_secondary_bg | color_brightness | round -%}
{%- if color_button_secondary_brightness > 215 -%}
	{%- assign color_button_secondary_text = '#000' -%}
{%- endif %}
{%- if color_button_secondary_bg == color_background -%}
	{%- assign color_button_secondary_border = color_button_secondary_text -%}
{%- endif %}

{%- comment -%} Button alt is used for Dynamic checkout buttons (Buy it now) on PDP {%- endcomment -%}
{%- assign color_button_alt_text = color_button_primary_bg -%}
{%- assign color_button_alt_border = color_button_primary_border -%}
{%- if color_button_primary_bg == color_background -%}
	{%- if color_button_primary_brightness > 215 -%}
		{%- assign color_button_alt_text = '#000' -%}
		{%- assign color_button_alt_border = '#000' -%}
	{%- else %}
		{%- assign color_button_alt_text = '#fff' -%}
		{%- assign color_button_alt_border = '#fff' -%}
	{%- endif -%}
{%- endif -%}

{%- comment -%} Badge {%- endcomment -%}
{%- assign color_badge_bg = settings.color_badge_bg -%}
{%- assign color_badge_text = '#fff' -%}
{%- assign color_badge_bg_brightness = color_badge_bg | color_brightness | round -%}
{%- if color_badge_bg_brightness > 215 -%}
	{%- assign color_badge_text = '#000' -%}
{%- endif -%}

{%- comment -%} Footer colors {%- endcomment -%}
{%- assign color_footer_text = settings.color_footer_text -%}
{%- assign color_footer_bg = settings.color_footer_bg -%}
{%- assign color_footer_bottom_bg = settings.color_bottom_bar_bg -%}
{%- assign color_footer_bottom_contrast = color_footer_bottom_bg | color_contrast: color_footer_text -%}
{%- if color_footer_bottom_contrast < 4.5 -%}
	{%- assign color_footer_bottom_bg_lightness = color_footer_bottom_bg | color_brightness -%}
	{%- if color_footer_bottom_bg_lightness < 50 -%}
		{%- assign color_footer_bottom_text = color_footer_bottom_bg | color_lighten: 70 -%}
	{%- else -%}
		{%- assign color_footer_bottom_text = color_footer_bottom_bg | color_darken: 70 -%}
	{%- endif -%}
{%- else -%}
	{%- assign color_footer_bottom_text = color_footer_text | color_modify: 'alpha', 0.7 -%}
{%- endif -%}

{%- comment -%} Table heading {%- endcomment -%}
{%- if color_background_brightness > 122 -%}
	{%- assign color_background_table_header = color_background | color_darken: 50 -%}
{%- else -%}
	{%- assign color_background_table_header = color_background | color_lighten: 50 -%}
{%- endif -%}

{%- comment -%} Search overlay opacity {%- endcomment -%}
{%- assign search_overlay_opacity = settings.search_overlay_opacity | times: 0.01 | round: 2 -%}

{%- comment -%} Preload fonts {%- endcomment -%}
<link rel="preload" as="font" href="{{ 'adieu-black-webfont.woff2' | asset_url }}" type="font/woff2" crossorigin="">
<link rel="preload" as="font" href="{{ 'rene_bieder_-_galano_grotesque-webfont.woff2' | asset_url }}" type="font/woff2" crossorigin="">
<link rel="preload" as="font" href="{{ 'rene_bieder_-_galano_grotesque_bold-webfont.woff2' | asset_url }}" type="font/woff2" crossorigin="">
{%- comment -%}<link rel="preload" as="font" href="{{ 'rene_bieder_-_galano_grotesque_medium-webfont.woff2' | asset_url }}" type="font/woff2" crossorigin="">{%- endcomment -%}
<link rel="preload" as="font" href="https://fonts.shopifycdn.com/rubik/rubik_n7.19f3ffdaebed3ef7f852ec956299e048208dddca.woff2?h1=cGxhbnRlZC5jaA&hmac=6b52b8d000ba6bb688598fee1717f66c9bd3395a84044a7f1f77fb24895d57cf" type="font/woff2" crossorigin="">

<style>
	:root {
		--color-background: {{ settings.color_background_new }};
		--color-background: {{ settings.color_background_new }};
		--color-background-alpha-25: {{ settings.color_background_new | color_modify: 'alpha', 0.25 }};
		--color-background-alpha-35: {{ settings.color_background_new | color_modify: 'alpha', 0.35 }};
		--color-background-alpha-60: {{ settings.color_background_new | color_modify: 'alpha', 0.6 }};
		--color-background-overlay: {{ settings.color_background_new | color_modify: 'alpha', 0.9 }};
		--color-background-table-header: {{ color_background_table_header }};
		--color-heading: {{ settings.color_heading_new }};
		--color-text: {{ settings.color_text_new }};
		--color-text-alpha-5: {{ settings.color_text_new | color_modify: 'alpha', 0.05 }};
		--color-text-alpha-8: {{ settings.color_text_new | color_modify: 'alpha', 0.08 }};
		--color-text-alpha-10: {{ settings.color_text_new | color_modify: 'alpha', 0.1 }};
		--color-text-alpha-25: {{ settings.color_text_new | color_modify: 'alpha', 0.25 }};
		--color-text-alpha-30: {{ settings.color_text_new | color_modify: 'alpha', 0.3 }};
		--color-text-alpha-55: {{ settings.color_text_new | color_modify: 'alpha', 0.55 }};
		--color-text-alpha-60: {{ settings.color_text_new | color_modify: 'alpha', 0.6 }};
		--color-label: {{ settings.color_text_new | color_modify: 'alpha', 0.8 }};
		--color-input-placeholder: {{ settings.color_text_new | color_modify: 'alpha', 0.5 }};
		--color-cart-text: {{ settings.color_text_new | color_modify: 'alpha', 0.6 }};
		--color-border: {{ settings.color_border_new }};
		--color-border-dark: {{ settings.color_border_new | color_darken: 35 }};
		--color-error: {{ settings.color_error_new }};
		--color-header-bg: {{ settings.color_header_bg }};
		--color-header-text: {{ settings.color_header_text }};
		--color-header-bg-home: {{ settings.color_header_bg_home }};
		--color-header-text-home: {{ settings.color_header_text_home }};
		--color-header-bg-scroll: {{ settings.color_header_bg_scroll }};
		--color-header-text-scroll: {{ settings.color_header_text_scroll }};
		--color-header-icon: {{ settings.header_icon_color }};
		--color-header-icon-bg: {{ settings.header_bg_color }};
		--color-header-icon-home: {{ settings.header_icon_color_home }};
		--color-header-icon-bg-home: {{ settings.header_bg_color_home }};
		--color-header-icon-scroll: {{ settings.header_icon_color_scroll }};
		--color-header-icon-bg-scroll: {{ settings.header_bg_color_scroll }};
		--color-dropdown-bg: {{ settings.color_dropdown_bg }};
		--color-dropdown-text: {{ settings.color_dropdown_text }};
		--color-drawer-text: {{ settings.drawer_text_color }};
		--color-drawer-bg: {{ settings.drawer_bg_color }};
		--color-badge-text: {{ color_badge_text }};
		--color-badge-bg: {{ color_badge_bg }};
		--color-button-primary-bg: {{ color_button_primary_bg }};
		--color-button-primary-text: {{ color_button_primary_text }};
		--color-button-primary-border: {{ color_button_primary_border }};
		--color-button-secondary-bg: {{ color_button_secondary_bg }};
		--color-button-secondary-text: {{ color_button_secondary_text }};
		--color-button-secondary-border: {{ color_button_secondary_border }};
		--color-button-alt-bg: transparent;
		--color-button-alt-text: {{ color_button_alt_text }};
		--color-button-alt-border: {{ color_button_alt_border }};
		--color-top-bar-text: {{ settings.color_top_bar_text }};
		--color-top-bar-bg: {{ settings.color_top_bar }};
		--color-footer-text: {{ color_footer_text }};
		--color-footer-placeholder-text: {{ color_footer_text | color_modify: 'alpha', 0.5 }};
		--color-footer-bg: {{ color_footer_bg }};
		--color-footer-bg-hover: {{ color_footer_text | color_modify: 'alpha', 0.05 }};
		--color-footer-bottom-text: {{ color_footer_bottom_text }};
		--color-footer-bottom-bg: {{ color_footer_bottom_bg }};
		--color-footer-bottom-bg-hover: {{ color_footer_bottom_text | color_modify: 'alpha', 0.05 }};
		--color-footer-bottom-border: {{ color_footer_bottom_text | color_modify: 'alpha', 0.1 }};
		--color-search-overlay: {{ settings.search_overlay_color | color_modify: 'alpha', search_overlay_opacity }};

		--body-letter-spacing: {{ settings.body_letter_spacing | append: 'px' }};
		--heading-letter-spacing: {{ settings.heading_letter_spacing | append: 'px' }};

		--body-font-family: "galano_grotesqueregular", sans-serif;
		--heading-font-family: "adieublack", sans-serif;

		--body-font-weight: {{ base_font.weight | default: 400 }};
		--heading-font-weight: {{ heading_font.weight | default: 400 }};

		--body-font-style: {{ base_font.style }};
		--heading-font-style: {{ heading_font.style }};

		--body-font-weight-medium: "galano_grotesquemedium", sans-serif;
		--body-font-weight-bold: "galano_grotesquebold", sans-serif;

		--heading-font-weight-bold: "adieublack";

		--font-size-body: {{ base_font_size }}px;
		--font-size-base: {{ heading_font_size }}px;

		--font-size-h1: {{ heading_font_size | times: 3 }}px;
		--font-size-h2: {{ heading_font_size | times: 2.285 }}px;
		--font-size-h3: {{ heading_font_size | times: 1.57 }}px;
		--font-size-h4: {{ heading_font_size | times: 1.215 }}px;
		--font-size-h5: {{ heading_font_size | times: 1.0 }}px;
		--font-size-h6: {{ heading_font_size | times: 0.8 }}px;

		--font-size-h1-mobile: {{ heading_font_size | times: 2.142 }}px;
		--font-size-h2-mobile: {{ heading_font_size | times: 1.785 }}px;

		--font-size-banner-text: {{ base_font_size | times: 1.28 }}px;
		--font-size-banner-text-mobile: {{ base_font_size | times: 1.142 }}px;

		--font-size-logo: {{ base_font_size | times: 1.71 }}px;

		--icon-loader: url( "{{ 'loader.svg' | asset_url }}" );
		--icon-zoom-in: url( "{{ 'icon-zoom-in.svg' | asset_url }}" );
		--icon-zoom-out: url( "{{ 'icon-zoom-out.svg' | asset_url }}" );

		--image-size: {{ settings.image_size | default: 'cover' }};
		--image-aspect-ratio: {{ settings.image_aspect_ratio | times: 100 | append: '%' }};
		--image-aspect-ratio-half: {{ settings.image_aspect_ratio | times: 50 | append: '%' }};
	}

    
@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/rubik/rubik_n7.19f3ffdaebed3ef7f852ec956299e048208dddca.woff2?h1=cGxhbnRlZC5jaA&hmac=6b52b8d000ba6bb688598fee1717f66c9bd3395a84044a7f1f77fb24895d57cf") format("woff2"),
       url("https://fonts.shopifycdn.com/rubik/rubik_n7.8f2720450c2243ff10fab788920f36ff5e967078.woff?h1=cGxhbnRlZC5jaA&hmac=eb1121e6443da4c86a6132910513a0ae8aaa6a91a5a99bc47975458869d0625c") format("woff");
}
@font-face{font-family:'galano_grotesqueregular';src:url('{{ 'rene_bieder_-_galano_grotesque-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'rene_bieder_-_galano_grotesque-webfont.woff' | asset_url }}') format('woff');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'galano_grotesquebold';src:url('{{ 'rene_bieder_-_galano_grotesque_bold-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'rene_bieder_-_galano_grotesque_bold-webfont.woff' | asset_url }}') format('woff');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'galano_grotesquemedium';src:url('{{ 'rene_bieder_-_galano_grotesque_medium-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'rene_bieder_-_galano_grotesque_medium-webfont.woff' | asset_url }}') format('woff');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'adieublack';src:url('{{ 'adieu-black-webfont.woff2' | asset_url }}') format('woff2'), url('{{ 'adieu-black-webfont.woff' | asset_url }}') format('woff');font-weight:normal;font-style:normal;font-display:swap;}
</style>