<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 1024 1024" class="icon icon-search">
    <path fill="none" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="69.8182" stroke="#000" d="M715.636 385.939c0 182.087-147.61 329.697-329.697 329.697s-329.697-147.61-329.697-329.697c0-182.087 147.61-329.697 329.697-329.697s329.697 147.61 329.697 329.697z"></path>
    <path fill="none" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4" stroke-width="69.8182" stroke="#000" d="M696.242 696.242l271.515 271.515"></path>
</svg> -->
<?xml version="1.0" encoding="UTF-8"?>
<svg width="23px" height="21px" viewBox="0 0 23 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>icn_search</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="UI-Elements/Navigation/Search" transform="translate(-10.000000, -11.000000)" stroke="#FFFFFF" stroke-width="2">
            <g id="icn_search" transform="translate(11.000000, 12.000000)">
                <circle id="Oval" cx="7.5" cy="7.5" r="7.5"></circle>
                <line x1="13.5" y1="12.5" x2="21" y2="19" id="Line" stroke-linecap="round" stroke-linejoin="round"></line>
            </g>
        </g>
    </g>
</svg>