{%- capture icon_class -%}icon icon--{{ icon }}{%- endcapture -%}

{%- case icon -%}

    {%- when 'user' -%}
<svg class="{{ icon_class }}" role="presentation"  width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.6403 5.60408C10.6403 6.61737 10.2237 7.7154 9.53359 8.55697C8.84334 9.39867 7.94921 9.90548 7.03124 9.90548C6.11329 9.90548 5.21919 9.39868 4.52898 8.55698C3.83888 7.71542 3.42236 6.61739 3.42236 5.60408C3.42236 4.35132 3.43866 3.20878 3.88202 2.3597C4.0882 1.96483 4.38924 1.635 4.85495 1.39486C5.332 1.14888 6.02257 0.976562 7.03124 0.976562C8.03991 0.976562 8.73049 1.14888 9.20756 1.39487C9.67329 1.635 9.97435 1.96484 10.1805 2.35971C10.6239 3.20879 10.6403 4.35135 10.6403 5.60408Z" stroke="#111111" stroke-width="1.5"/>
<mask id="path-2-inside-1" fill="white">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.0709087 15.224C0.0515884 15.777 0.504391 16.2264 1.05771 16.2264H13.0056C13.5589 16.2264 14.0117 15.777 13.9924 15.224C13.8863 12.1885 13.0848 9.05273 7.03152 9.05273C0.978193 9.05273 0.176961 12.1885 0.0709087 15.224Z"/>
</mask>
<path d="M13.9924 15.224L15.5914 15.1681L13.9924 15.224ZM1.05771 17.8264H13.0056V14.6264H1.05771V17.8264ZM7.03152 10.6527C9.80257 10.6527 10.964 11.3661 11.5134 12.0249C12.1189 12.7508 12.3422 13.8173 12.3933 15.2799L15.5914 15.1681C15.5364 13.5952 15.306 11.5761 13.9709 9.97528C12.5798 8.30732 10.3138 7.45273 7.03152 7.45273V10.6527ZM1.66993 15.2798C1.72103 13.8173 1.94433 12.7508 2.54975 12.0248C3.09916 11.3661 4.26047 10.6527 7.03152 10.6527V7.45273C3.74924 7.45273 1.48328 8.30732 0.0922199 9.97531C-1.24282 11.5761 -1.47316 13.5952 -1.52812 15.1681L1.66993 15.2798ZM13.0056 17.8264C14.4236 17.8264 15.6437 16.6664 15.5914 15.1681L12.3933 15.2799C12.3796 14.8875 12.6942 14.6264 13.0056 14.6264V17.8264ZM1.05771 14.6264C1.36909 14.6264 1.68364 14.8875 1.66993 15.2798L-1.52812 15.1681C-1.58046 16.6664 -0.360312 17.8264 1.05771 17.8264V14.6264Z" fill="#111111" mask="url(#path-2-inside-1)"/>
</svg>

    {%- when 'map-marker' -%}
        <svg class="{{ icon_class }}" role="presentation" width="16" height="19" viewBox="0 0 16 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.02777 1.73365C4.75441 1.73365 2.10083 4.38722 2.10083 7.66058C2.10083 9.13126 2.63551 10.4751 3.52203 11.5113C3.88156 11.9316 4.26971 12.3429 4.67401 12.7701L4.70531 12.8032C5.09562 13.2157 5.50051 13.6435 5.88334 14.0867C6.66887 14.9961 7.40574 16.0188 7.81143 17.2487C7.82994 17.3048 7.85598 17.3307 7.87812 17.3459C7.90482 17.3642 7.9434 17.3777 7.989 17.378C8.03461 17.3784 8.07337 17.3654 8.10033 17.3475C8.12268 17.3326 8.14908 17.3071 8.16838 17.2512C8.59376 16.0201 9.34756 14.9995 10.1456 14.0912C10.5181 13.6674 10.9106 13.2567 11.2896 12.8602C11.3168 12.8317 11.344 12.8033 11.3711 12.7749C11.7796 12.3474 12.1712 11.9346 12.5327 11.5122C13.4197 10.4759 13.9547 9.13168 13.9547 7.66058C13.9547 4.38722 11.3011 1.73365 8.02777 1.73365ZM0.59375 7.66058C0.59375 3.55488 3.92207 0.226562 8.02777 0.226562C12.1335 0.226562 15.4618 3.55488 15.4618 7.66058C15.4618 9.50443 14.7895 11.1932 13.6777 12.4922C13.2859 12.95 12.8674 13.3905 12.4608 13.816C12.4351 13.8428 12.4096 13.8696 12.3841 13.8963C12.0002 14.298 11.6285 14.6869 11.2777 15.086C10.5293 15.9377 9.92417 16.7845 9.59283 17.7434C9.06289 19.2771 6.88853 19.2618 6.3802 17.7208C6.06553 16.7669 5.47666 15.9215 4.74282 15.0719C4.3827 14.6549 3.99831 14.2487 3.60084 13.8287L3.57933 13.806C3.1786 13.3825 2.76478 12.9445 2.37686 12.4911C1.26561 11.1922 0.59375 9.50389 0.59375 7.66058Z"
                  fill=""/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.0365 6.01101C11.3501 6.28465 11.3824 6.76067 11.1088 7.07422L7.72228 10.9547L5.02519 7.86447C4.75153 7.55092 4.78387 7.0749 5.09741 6.80125C5.41095 6.52759 5.88697 6.55992 6.16063 6.87347L7.72223 8.66268L9.97332 6.08327C10.247 5.76972 10.723 5.73736 11.0365 6.01101Z"
                  fill=""/>
        </svg>

    {%- when 'time-book' -%}
        <svg class="{{ icon_class }}" role="presentation" width="17" height="20" viewBox="0 0 17 20" fill="none">
            <path d="M3.47747 4.08829C3.12792 4.08829 2.84455 4.37166 2.84455 4.72121C2.84455 5.07076 3.12792 5.35413 3.47747 5.35413H10.5188C10.8684 5.35413 11.1517 5.07076 11.1517 4.72121C11.1517 4.37166 10.8684 4.08829 10.5188 4.08829H3.47747Z"
                  fill=""/>
            <path d="M2.84455 7.48653C2.84455 7.13698 3.12792 6.85361 3.47747 6.85361H10.5188C10.8684 6.85361 11.1517 7.13698 11.1517 7.48653C11.1517 7.83608 10.8684 8.11945 10.5188 8.11945H3.47747C3.12792 8.11945 2.84455 7.83608 2.84455 7.48653Z"
                  fill=""/>
            <path d="M3.47747 9.8504C3.12792 9.8504 2.84455 10.1338 2.84455 10.4833C2.84455 10.8329 3.12792 11.1162 3.47747 11.1162H6.99814C7.34769 11.1162 7.63105 10.8329 7.63105 10.4833C7.63105 10.1338 7.34769 9.8504 6.99814 9.8504H3.47747Z"
                  fill=""/>
            <path d="M12.2125 12.8724C12.5621 12.8724 12.8455 13.1558 12.8455 13.5053V14.6379H13.7897C14.1392 14.6379 14.4226 14.9212 14.4226 15.2708C14.4226 15.6203 14.1392 15.9037 13.7897 15.9037H11.5796V13.5053C11.5796 13.1558 11.863 12.8724 12.2125 12.8724Z"
                  fill=""/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.9372 11.0639V3.25821C13.9372 1.94739 12.8746 0.884766 11.5638 0.884766H2.54532C1.2345 0.884766 0.171875 1.94739 0.171875 3.25821V14.062C0.171875 15.3728 1.2345 16.4355 2.54532 16.4355H8.17064C8.72181 18.2164 10.3763 19.5229 12.3316 19.5229C14.7377 19.5229 16.6881 17.5447 16.6881 15.1387C16.6881 13.2998 15.5486 11.7107 13.9372 11.0639ZM11.5638 2.1506H2.54532C1.9336 2.1506 1.43771 2.64649 1.43771 3.25821V14.062C1.43771 14.6737 1.9336 15.1696 2.54532 15.1696H7.97529L7.97519 15.1387C7.97519 12.7327 9.92564 10.7546 12.3316 10.7546C12.446 10.7546 12.5593 10.759 12.6714 10.7678V3.25821C12.6714 2.64649 12.1755 2.1506 11.5638 2.1506ZM12.3316 18.2571C10.6352 18.2571 9.24102 16.8561 9.24102 15.1387C9.24102 13.4214 10.6352 12.0204 12.3316 12.0204C14.0281 12.0204 15.4223 13.4214 15.4223 15.1387C15.4223 16.8561 14.0281 18.2571 12.3316 18.2571Z"
                  fill=""/>
        </svg>

    {%- when 'round-arrow' -%}
        <svg class="{{ icon_class }}" role="presentation" width="17" height="19" viewBox="0 0 17 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.37103 4.74092C7.96892 4.50087 6.52695 4.7544 5.29082 5.45833C4.05469 6.16226 3.10087 7.27302 2.5919 8.60136C2.08292 9.92969 2.05027 11.3934 2.49951 12.7431C2.94875 14.0928 3.85209 15.245 5.05561 16.0034C6.25913 16.7617 7.68836 17.0793 9.09978 16.902C10.5112 16.7247 11.8175 16.0635 12.796 15.0311C13.7746 13.9986 14.3649 12.6588 14.4664 11.2399C14.5501 10.0695 14.2969 8.90493 13.7444 7.8812C13.5493 7.51976 13.6243 7.05734 13.9595 6.8201C14.2948 6.58285 14.7624 6.66081 14.966 7.01754C15.7126 8.32623 16.0582 9.83212 15.9499 11.346C15.8239 13.1081 15.0908 14.772 13.8755 16.0542C12.6603 17.3364 11.038 18.1575 9.28515 18.3777C7.53231 18.5979 5.75736 18.2035 4.26272 17.2617C2.76807 16.3199 1.64622 14.889 1.08831 13.2128C0.530392 11.5366 0.570938 9.71885 1.20304 8.06919C1.83513 6.41953 3.01967 5.04008 4.55482 4.16588C6.08997 3.29167 7.88075 2.97681 9.62202 3.27492L9.37103 4.74092Z"
                  fill="#111111"/>
            <path d="M6.81494 1.23236L9.13093 3.04359C9.56239 3.38101 9.64211 4.00272 9.30976 4.43809L7.59634 6.68259"
                  stroke="#111111" stroke-width="1.6" stroke-linecap="round"/>
        </svg>

    {%- when 'gift' -%}
        <svg class="{{ icon_class }}" role="presentation" width="18" height="19" viewBox="0 0 18 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.38 0.764775C13.8716 0.922277 14.2601 1.2621 14.545 1.71263C14.7897 2.09959 14.8967 2.55441 14.825 3.02012C14.7705 3.37489 14.6174 3.70522 14.388 3.997H15.8163C16.7509 3.997 17.5085 4.75463 17.5085 5.68921V7.55683C17.5085 8.3128 17.0128 8.95299 16.3287 9.17008C16.3425 9.25704 16.3496 9.34621 16.3496 9.43706V16.7998C16.3496 17.7344 15.592 18.492 14.6574 18.492H9.50323C9.42206 18.522 9.3343 18.5383 9.24271 18.5383C9.15113 18.5383 9.06336 18.522 8.98219 18.492H3.82786C2.89327 18.492 2.13564 17.7344 2.13564 16.7998V9.43706C2.13564 9.34623 2.1428 9.25708 2.15658 9.17014C1.47237 8.95311 0.976562 8.31287 0.976562 7.55683V5.68921C0.976562 4.75463 1.73419 3.997 2.66877 3.997H4.09747C3.86805 3.70522 3.71496 3.37489 3.6604 3.02012C3.58877 2.55441 3.69574 2.09959 3.94041 1.71263C4.22529 1.2621 4.61382 0.922281 5.10547 0.764779C5.59198 0.608921 6.09175 0.659644 6.55353 0.82504C7.4483 1.14552 8.33948 1.94212 9.14336 2.97792C9.17954 3.02455 9.21263 3.07205 9.24271 3.12026C9.27279 3.07205 9.30588 3.02454 9.34206 2.97792C10.1459 1.94212 11.0371 1.14552 11.9319 0.825036C12.3937 0.659641 12.8934 0.608917 13.38 0.764775ZM8.49062 5.50119H2.66877C2.56493 5.50119 2.48075 5.58537 2.48075 5.68921V7.55683C2.48075 7.66067 2.56493 7.74485 2.66877 7.74485H3.82433C3.82551 7.74485 3.82668 7.74485 3.82785 7.74485H8.49062V5.50119ZM9.99481 7.74485V5.50119H15.8163C15.9201 5.50119 16.0043 5.58537 16.0043 5.68921V7.55683C16.0043 7.66067 15.9201 7.74485 15.8163 7.74485H14.6609C14.6598 7.74485 14.6586 7.74485 14.6574 7.74485H9.99481ZM3.82668 9.24904L8.49062 9.24903V16.9878H3.82786C3.72401 16.9878 3.63983 16.9036 3.63983 16.7998V9.43706C3.63983 9.33361 3.72338 9.24967 3.82668 9.24904ZM9.99481 16.9878H14.6574C14.7613 16.9878 14.8454 16.9036 14.8454 16.7998V9.43706C14.8454 9.33361 14.7619 9.24967 14.6586 9.24904L9.99481 9.24903V16.9878ZM12.4391 2.24113C11.943 2.41882 11.2681 2.94954 10.5304 3.90016C10.5198 3.91372 10.5152 3.92353 10.5131 3.92896C10.5109 3.9345 10.5103 3.93836 10.5101 3.94092C10.5097 3.9462 10.5107 3.9527 10.5143 3.95946C10.5178 3.96618 10.5221 3.9699 10.5253 3.97176C10.5269 3.97268 10.5298 3.97407 10.5349 3.97525C10.5399 3.97641 10.5501 3.97807 10.5669 3.97701C11.9979 3.88632 12.7687 3.50625 13.1081 3.175C13.2716 3.01548 13.3247 2.88 13.3383 2.79146C13.3514 2.70623 13.3363 2.61554 13.2736 2.51651C13.138 2.30196 13.0123 2.22649 12.9211 2.19725C12.8246 2.16637 12.6728 2.15744 12.4391 2.24113ZM5.56437 2.19726C5.47309 2.2265 5.34743 2.30196 5.21177 2.51651C5.14916 2.61554 5.134 2.70624 5.1471 2.79146C5.16072 2.88 5.21384 3.01548 5.3773 3.17501C5.71672 3.50625 6.48751 3.88632 7.91847 3.97701C7.93533 3.97808 7.94555 3.97641 7.95054 3.97526C7.95565 3.97407 7.9585 3.97268 7.96008 3.97177C7.96332 3.9699 7.96763 3.96619 7.97117 3.95946C7.97472 3.9527 7.97574 3.9462 7.97533 3.94092C7.97513 3.93836 7.9745 3.9345 7.97235 3.92896C7.97024 3.92354 7.96558 3.91372 7.95506 3.90016C7.21728 2.94954 6.54243 2.41883 6.04633 2.24114C5.81267 2.15745 5.66078 2.16637 5.56437 2.19726Z"
                  fill=""/>
        </svg>

    {%- when 'log-out' -%}
        <svg class="{{ icon_class }}" role="presentation" width="15" height="18" viewBox="0 0 15 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.5273 14.6202C14.5273 16.2128 13.2363 17.5039 11.6437 17.5039L5.80945 17.5039C4.21685 17.5039 2.92579 16.2128 2.92579 14.6202L2.92579 12.7618C2.92579 12.3068 3.29466 11.9379 3.74969 11.9379C4.20472 11.9379 4.57359 12.3068 4.57359 12.7618L4.57359 14.6202C4.57359 15.3028 5.12691 15.8561 5.80945 15.8561L11.6437 15.8561C12.3262 15.8561 12.8795 15.3028 12.8795 14.6202L12.8795 3.70107C12.8795 3.01853 12.3262 2.46522 11.6437 2.46522L5.80945 2.46522C5.12691 2.46522 4.5736 3.01853 4.5736 3.70107L4.5736 5.97261C4.5736 6.42764 4.20472 6.79651 3.74969 6.79651C3.29466 6.79651 2.92579 6.42764 2.92579 5.97261L2.92579 3.70107C2.92579 2.10847 4.21685 0.817409 5.80945 0.817409L11.6437 0.817409C13.2363 0.817409 14.5273 2.10847 14.5273 3.70107L14.5273 14.6202Z"
                  fill=""/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0.908203 9.16082C0.908203 8.70579 1.27708 8.33691 1.73211 8.33691L9.79712 8.33691C10.2522 8.33691 10.621 8.70579 10.621 9.16082C10.621 9.61585 10.2522 9.98472 9.79712 9.98472L1.73211 9.98472C1.27708 9.98472 0.908203 9.61585 0.908203 9.16082Z"
                  fill=""/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M6.89273 12.8046C6.57097 12.4828 6.57098 11.9612 6.89273 11.6394L9.29284 9.23932C9.37328 9.15888 9.37328 9.02846 9.29284 8.94802L6.89273 6.54791C6.57098 6.22616 6.57098 5.70449 6.89273 5.38274C7.21448 5.06098 7.73615 5.06098 8.05791 5.38274L10.458 7.78285C11.182 8.5068 11.182 9.68055 10.458 10.4045L8.0579 12.8046C7.73615 13.1263 7.21448 13.1263 6.89273 12.8046Z"
                  fill=""/>
        </svg>

{%- endcase -%}

{% comment %}
using
{%- render 'icon', icon: iconname -%}
{% endcomment %}
