<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 1024 1024" class="icon icon-user">
	<path fill="none" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="69.8182" stroke="#000" d="M775.083 319.747c0 145.297-117.786 263.083-263.083 263.083s-263.083-117.786-263.083-263.083c0-145.297 117.786-263.083 263.083-263.083s263.083 117.786 263.083 263.083z"></path>
	<path fill="none" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="69.8182" stroke="#000" d="M208.443 542.356c-107.931 94.44-161.897 236.1-161.897 424.98"></path>
	<path fill="none" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="69.8182" stroke="#000" d="M815.557 542.356c107.931 94.44 161.897 236.1 161.897 424.98"></path>
	<path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="69.8182" stroke="#000" d="M46.545 967.336h930.909"></path>
</svg>
 -->
<?xml version="1.0" encoding="UTF-8"?>
<svg width="19px" height="21px" viewBox="0 0 19 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>icn_account</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="UI-Elements/Navigation/Loyalty" transform="translate(-11.000000, -10.000000)" stroke="#FFFFFF" stroke-width="2">
            <g id="Group-6">
                <g id="icn_account" transform="translate(11.055388, 10.000000)">
                    <g id="Group" transform="translate(0.201888, 0.410859)">
                        <path d="M1.28084528,17.0049392 C2.15718007,12.8772424 4.8981006,10.813394 9.50360688,10.813394 C14.1091155,10.813394 16.8500365,12.8772445 17.7263698,17.0049456 C17.9557614,18.0854322 17.265814,19.1472993 16.1853277,19.3766924 C16.0487779,19.4056827 15.9095681,19.4202973 15.7699748,19.4202973 L3.23725779,19.4202973 C2.13267832,19.4203154 1.23723973,18.5248768 1.23723973,17.4202973 C1.23723973,17.2807022 1.25185457,17.1414907 1.28084528,17.0049392 Z" id="Stroke-1"></path>
                        <path d="M14.2986059,5.42985419 C14.2986059,8.02285591 12.1518441,10.1248417 9.50360688,10.1248417 C6.85536966,10.1248417 4.70860784,8.02285591 4.70860784,5.42985419 C4.70860784,2.83685246 6.85536966,0.734866643 9.50360688,0.734866643 C12.1518441,0.734866643 14.2986059,2.83685246 14.2986059,5.42985419 Z" id="Stroke-3" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
