<meta limited-edition-shop 
	data-limited-listing-txt="{{shop.metafields.limited_edition.limited_collection}}" 
	data-limited-product-txt="{{shop.metafields.limited_edition.limited_product}}"
	data-limited-soldout-txt="{{shop.metafields.limited_edition.limited_soldout}}"
	data-app-active="{{shop.metafields.limited_edition.limited_edition_active}}" 
	data-app-bar={{shop.metafields.limited_edition.limited_edition_bar | replace: '\"', "'"}}>
{% if shop.metafields.limited_edition.limited_collection_css_active == 1 or shop.metafields.limited_edition.limited_product_css_active == 1 or shop.metafields.limited_edition.limited_soldout_css_active == 1 %}
<style>
	.limited-edition-listing { margin: 2px 0; }
	.limited-edition-listing.hide-msg, .limited-edition-product.hide-msg { display: none; }
	.limited-edition-bar-wrapper { display: table; width: 100%; margin: 10px 0; }
    .limited-edition-bar-wrapper-product { margin: 10px 0 15px 0; }
    .limited-edition-bar-cell { display: table-cell; width: 100%; vertical-align: middle; }
    .limited-edition-bar-border { width: 100%; height: 18px; padding: 2px; border: 1px solid #282828; -ms-border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
    .limited-edition-bar { width: 100%; height: 100%; background-color: #000; -ms-border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
    .limited-edition-bar-values { padding: 0 0 0 6px; font-size: 90%; }
    .limited-edition-bar-values.hide-values { display: none; }
	{%- if shop.metafields.limited_edition.limited_collection_css_active == 1 -%}
	.limited-edition-listing { text-align: {{shop.metafields.limited_edition.limited_collection_align}}; color: {{shop.metafields.limited_edition.limited_collection_color}}; {% if shop.metafields.limited_edition.limited_collection_font_weight != 'normal' %}font-weight: {{shop.metafields.limited_edition.limited_collection_font_weight}};{% endif %} }
	.limited-edition-bar-listing { background-color: {{shop.metafields.limited_edition.limited_collection_color}}; }
	.limited-edition-bar-values-listing { color: {{shop.metafields.limited_edition.limited_collection_color}}; font-weight: {{shop.metafields.limited_edition.limited_collection_font_weight}} }
	{%- endif -%}
	{%- if shop.metafields.limited_edition.limited_product_css_active == 1 -%}
	 .limited-edition-product { text-align: {{shop.metafields.limited_edition.limited_product_align}}; color: {{shop.metafields.limited_edition.limited_product_color}}; {% if shop.metafields.limited_edition.limited_product_font_weight != 'normal' %}font-weight: {{shop.metafields.limited_edition.limited_product_font_weight}};{% endif %} }
	 .limited-edition-bar-product { background-color: {{shop.metafields.limited_edition.limited_product_color}}; }
	.limited-edition-bar-values-product { color: {{shop.metafields.limited_edition.limited_product_color}}; font-weight: {{shop.metafields.limited_edition.limited_product_font_weight}} }
	{%- endif -%}
	{%- if shop.metafields.limited_edition.limited_soldout_css_active == 1 -%}
	 .limited-edition-product .limited-edition-txt-soldout, .limited-edition-listing .limited-edition-txt-soldout { color: {{shop.metafields.limited_edition.limited_soldout_color}}; {% if shop.metafields.limited_edition.limited_soldout_font_weight != 'normal' %}font-weight: {{shop.metafields.limited_edition.limited_soldout_font_weight}};{% endif %} }
	{%- endif -%}
</style>
{% endif %}