<div limited-edition-listing 
	data-product-metafields={{product.metafields.limited_edition.limited_stock | default: 'null'}} 
	data-product-variant-id={{product.selected_or_first_available_variant.id}} 
	data-product-variant-inventory={{product.selected_or_first_available_variant.inventory_quantity}}></div>