<div limited-edition-product 
	data-product-available="{{product.available}}" 
	data-product-metafields={{product.metafields.limited_edition.limited_stock | default: 'null'}}
	data-product-inventory={% if product.variants.size > 0 %}[{% for variant in product.variants %}{"id":"{{variant.id}}","inventory":"{{variant.inventory_quantity}}"}{% unless forloop.last %},{%endunless%}{% endfor %}]{% else %}'null'{% endif %}
	></div>