{% if shop.permanent_domain == 'plantedfoods.myshopify.com' %}
  <script src="https://shopifyorderlimits.s3.amazonaws.com/limits/plantedfoods.myshopify.com?v=77a&r=20210701043544&shop=plantedfoods.myshopify.com"></script>
{% endif %}
