<form id="email_signup">
    <div class="js-signUp-form signUp-form">
        <input type="hidden" name="g" value="STEdMb">
        <div class="inputGroup k-field-group">
            <label for="_k_id_email"
                   class="accessible-label">{{ 'general.slide_out_navigation.search_label' | t }}</label>
            <input class="signUp-input required" type="email" value="" name="email" id="k_id_email"
                   placeholder="{{ 'general.newsletter_signup.email_placeholder' | t }}"/>
            <button type="submit" class="signUp-submit" aria-label="{{ 'general.accessibility.submit' | t }}">
                {%- render 'icon-submit' -%}</button>
        </div>
     </div>
    <div id ="form-message" class="klaviyo_messages">
      <p class="klaviyo_success_message" style="display:none;">{{ 'general.newsletter_signup.klaviyo_success_message' | t }}</p>
    </div>
</form>

<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  
    var form = document.getElementById('email_signup');
    if (form.length) {
        var el = form.querySelector('input[name="g"]');
        var list_de = 'Xh7VbS';
        var list_en = 'WkZBhQ';
        var list_fr = 'UEYJfP';
        if (Shopify.locale == 'en') {
            el.value = list_en;
        } else if (Shopify.locale == 'de') {
            el.value = list_de;
        } else if (Shopify.locale == 'fr') {
            el.value = list_fr;
        } else {
            el.value = list_en;
        }
    }
});
    document.getElementById("email_signup").addEventListener("submit", function () {
      document.querySelector('.k-field-group').classList.add('hidden');
      document.querySelector('.klaviyo_success_message').style.display = "block";
    });
</script>