{%- assign first_variant = product.selected_or_first_available_variant -%}
{%- assign variants_count = product.variants.size -%}
{%- assign enable_color_swatches = settings.enable_color_swatches -%}
{%- assign enable_variant_boxes = settings.enable_variant_boxes -%}
{% assign productTags = product.tags | join: ', ' %}
{% assign has_subscriptions = false %}
{% for i in cart.items %}
    {% for p in i.properties %}
        {% if p.first == 'shipping_interval_frequency' %}
            {% assign has_subscriptions = true %}
        {% endif %}
    {% endfor %}
{% endfor %}
{%- if first_variant.available -%}
    {%- assign sold_out = false -%}
{%- else -%}
    {%- assign sold_out = true -%}
{%- endif -%}
<p class="collection-title">{{ collection.handle }}</p>
{%- comment -%}
Bundle With custom fields
{%- endcomment -%}
{% for collection in product.collections %}
    {% if collection.handle == "bundle-products" %}
        {% render 'product-bundle' %}
    {% endif %}
{% endfor %}
{%- form 'product', product, data-productid: product.id, class: 'productForm', data-enable-color-swatches: enable_color_swatches, data-product-id: product.id -%}
    <input class="selling_plan"  name="selling_plan">
    <!-- Begin ReCharge code -->
    {% if product.available %}
        {% render 'subscription-product' with product as product %}
    {% endif %}
    <!-- End ReCharge code -->


    {%- liquid
        assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
        assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation
        if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
            assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
        endif
        assign offer = current_selling_plan_allocation | default: current_variant
    -%}

    <input type="" name="id" value="{{ current_variant.id }}">
    <input type="" name="selling_plan" value="{{ current_selling_plan_allocation.selling_plan.id | default: '' }}">


    <fieldset class="selling-plan-fieldset" data-product='{{ product | json }}'>
        <legend>Purchase options</legend>
        {% unless product.requires_selling_plan %}
            <input type="radio" name="purchase_option" class=""> One-time purchase
        {% endunless %}
        {% for group in product.selling_plan_groups %}
            <input type="radio" name="purchase_option" class=""> {{ group.name}}
            {% for option in group.options %}
                <label>{{ option.name }}</label>
                <select class="selling-plan-select" data-position="{{ option.position }}">
                    {% for value in option.values %}
                        <option id="{{ forloop.index0 }}">{{ value }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
        {% endfor %}
    </fieldset>

    <div class="productForm-block{% unless enable_variant_boxes %} productForm-block--options-inline{% endunless %}{% if enable_color_swatches %} productForm-block--swatches{% endif %}">
        {%- unless product.has_only_default_variant -%}
            {%- if enable_variant_boxes -%}
                {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
                {%- assign first_variant = product.selected_or_first_available_variant -%}

                {%- for option in product.options_with_values -%}
                    {%- assign option_index = option.position | minus: 1 -%}
                    {%- assign downcased_option = option.name | downcase -%}
                    {%- assign is_color = false -%}
                    {%- if color_label contains downcased_option -%}
                        {%- assign is_color = true -%}
                    {%- endif -%}

                    {%- if is_color and enable_color_swatches -%}
                        {%- comment -%} /partials/product-swatch.liquid {%- endcomment -%}

                        {%- assign file_extension = 'png' -%}
                        {%- assign first_variant = product.selected_or_first_available_variant -%}

                        <div class="variant-wrapper variant-wrapper--color" data-option="option{{ option.position }}">
                            <label class="variant-label--color"
                                   for="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}">
                                {{- option.name -}}
                                <span class="variant-label__value" data-color-label>
			                    {{- option.selected_value -}}
		                    </span>
                            </label>

                            <fieldset
                                    id="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}"
                                    class="variant-input-wrap"
                                    data-index="option{{ option.position }}">
                                <div class="swatch{% if settings.color_swatches_style == 'square' %} swatch--square{% endif %}">
                                    {%- for value in option.values -%}
                                        <div data-value="{{ value | escape }}" class="swatch__element">
                                            <input
                                                    id="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}"
                                                    class="swatch__input"
                                                    type="radio"
                                                    name="{{ option.name }}"
                                                    value="{{ value | escape }}"
                                                    data-color-swatch
                                                    data-single-option-selector
                                                    data-index="option{{ option.position }}"
                                                    {% if first_variant.options[option_index] == value %}checked="checked"{% endif %}>
                                            <label class="variant__button-label--color swatch__label"
                                                   for="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}">
                                                <span class="swatch__color swatch__color--{{ value | handle }}"
                                                      style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
                                                <span class="accessible-label">{{ value }}</span>
                                            </label>
                                        </div>
                                    {%- endfor -%}
                                </div>
                            </fieldset>
                        </div>

                    {%- else -%}
                        <div class="variant-wrapper{% if enable_variant_boxes %} variant-wrapper--boxes{% endif %}"
                             data-option="option{{ option.position }}">
                            <label class="variant-label"
                                   for="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}">
                                {{- option.name -}}
                            </label>

                            <fieldset
                                    id="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}"
                                    class="variant-input-wrap variant-input-wrap--boxes"
                                    data-index="option{{ option.position }}">
                                {%- for value in option.values -%}
                                    <div class="variant-field">
                                        <input
                                                id="option-{{ value }}-{{ forloop.index0 }}-{{ section.id }}"
                                                class="visually-hidden variant-input"
                                                type="radio"
                                                name="{{ option.name }}"
                                                value="{{ value | escape }}"
                                                data-single-option-selector
                                                data-index="option{{ option.position }}"
                                                first-or-selected-option={{ first_variant.options[option_index] }}
                                                {% if first_variant.options[option_index] == value %}checked="checked"{% endif %}>
                                        <label class="variant__button-label"
                                               for="option-{{ value }}-{{ forloop.index0 }}-{{ section.id }}">
                                            {{- value -}}
                                        </label>
                                    </div>
                                {%- endfor -%}
                            </fieldset>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            {%- else -%}
                {%- for option in product.options_with_values -%}
                    {%- if enable_color_swatches -%}
                        {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
                        {%- assign downcased_option = option.name | downcase -%}
                        {%- if color_label contains downcased_option -%}
                            {%- comment -%} /partials/product-swatch.liquid {%- endcomment -%}

                            {%- assign file_extension = 'png' -%}
                            {%- assign first_variant = product.selected_or_first_available_variant -%}

                            <div class="variant-wrapper variant-wrapper--color"
                                 data-option="option{{ option.position }}">
                                <label class="variant-label--color"
                                       for="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}">
                                    {{- option.name -}}
                                    <span class="variant-label__value" data-color-label>
			{{- option.selected_value -}}</span>
                                </label>

                                <fieldset
                                        id="SingleOptionSelector-{{ forloop.index0 }}-{{ product.id }}"
                                        class="variant-input-wrap"
                                        data-index="option{{ option.position }}">
                                    <div class="swatch{% if settings.color_swatches_style == 'square' %} swatch--square{% endif %}">
                                        {%- for value in option.values -%}
                                            <div data-value="{{ value | escape }}" class="swatch__element">
                                                <input
                                                        id="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}"
                                                        class="swatch__input"
                                                        type="radio"
                                                        name="{{ option.name }}"
                                                        value="{{ value | escape }}"
                                                        data-color-swatch
                                                        data-single-option-selector
                                                        data-index="option{{ option.position }}"
                                                        {% if first_variant.options[option_index] == value %}checked="checked"{% endif %}>
                                                <label class="variant__button-label--color swatch__label"
                                                       for="option-{{ value | handle }}-{{ forloop.index0 }}-{{ section.id }}">
                                                    <span class="swatch__color swatch__color--{{ value | handle }}"
                                                          style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
                                                    <span class="accessible-label">{{ value }}</span>
                                                </label>
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                </fieldset>
                            </div>

                        {%- else -%}
                            {%- comment -%} /partials/product-option.liquid {%- endcomment -%}
                            {%- capture selector_id -%}
                                {%- if shop_bar -%}
                                    ShopBar-
                                {%- else -%}
                                    Product-
                                {%- endif -%}
                                SingleOptionSelector-{{- forloop.index0 -}}-{{- product.id -}}
                            {%- endcapture -%}

                            <div class="selector-wrapper" data-option="option{{ option.position }}">
                                <label for="{{ selector_id }}">
                                    {{- option.name -}}
                                </label>

                                <select
                                        id="{{ selector_id }}"
                                        data-single-option-selector
                                        data-index="option{{ option.position }}"
                                        class="product-variant-select">
                                    {%- for value in option.values -%}
                                        <option
                                                value="{{ value | escape }}"
                                                {% if option.selected_value == value %}selected="selected"{% endif %}>
                                            {{- value -}}
                                        </option>
                                    {%- endfor -%}
                                </select>
                                {%- render 'icon-arrow' -%}
                            </div>
                        {%- endif -%}
                    {%- else -%}
                        {%- comment -%} /partials/product-option.liquid {%- endcomment -%}
                        {%- capture selector_id -%}
                            {%- if shop_bar -%}
                                ShopBar-
                            {%- else -%}
                                Product-
                            {%- endif -%}
                            SingleOptionSelector-{{- forloop.index0 -}}-{{- product.id -}}
                        {%- endcapture -%}

                        <div class="selector-wrapper" data-option="option{{ option.position }}">
                            <label for="{{ selector_id }}">
                                {{- option.name -}}
                            </label>

                            <select
                                    id="{{ selector_id }}"
                                    data-single-option-selector
                                    data-index="option{{ option.position }}"
                                    class="single-option-select">
                                {%- for value in option.values -%}
                                    <option
                                            value="{{ value | escape }}"
                                            {% if option.selected_value == value %}selected="selected"{% endif %}>
                                        {{- value -}}
                                    </option>
                                {%- endfor -%}
                            </select>
                            {%- render 'icon-arrow' -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        {%- endunless -%}

        <label for="product-select--{{ section.id }}"
               class="accessible-label">{{ 'general.accessibility.select_variant' | t }}</label>
        {%- if variants_count > 1 -%}
            <select
                    name="id" data-productid="{{ product.id }}"
                    id="product-select--{{ section.id }}"
                    class="product-single__variants"
                    data-product-id="{{ product.id }}"
                    data-product-select>
                {%- for variant in product.variants -%}
                    {%- if variant.available -%}
                        <option
                                {% if variant == first_variant %} selected="selected" {% endif %}
                                data-sku="{{ variant.sku }}"
                                value="{{ variant.id }}">{{ variant.title }}
                            - {{ variant.price | money_with_currency }}</option>
                    {%- else -%}
                        <option disabled="disabled">{{ variant.title }} - {{ 'products.labels.sold_out' | t }}</option>
                    {%- endif -%}
                {%- endfor -%}
            </select>


        {%- else -%}
            <input name="id" data-productid="{{ product.id }}" id="product-select--{{ section.id }}"
                   data-product-id="{{ product.id }}" type="hidden" value="{{ first_variant.id }}">
        {%- endif -%}

        <!--Selling plan -->
        {% comment %}
        {% render 'product-form-subscription-no-options' %}
        {% render 'product-form-subscriptions' %}
        {% endcomment %}
        <!--End Selling plan -->

        <!--Bundle Variants -->

    </div>
    {% if product.type != "coming-soon" %}
        <div class="productForm-block">
            <div class="qty__adjus-wrapper">
                <div class="qty__adjust">
                    <input type="number" class="qty__adjust-input" name="quantity" id="quantity--{{ section.id }}"
                           value="1" min="1">
                    <button type="button" class="qty__adjust-btn js-qty__adjust-btn decrease"
                            aria-label="{{ 'general.accessibility.decrease' | t }}">{% render 'icon-minus' %}</button>
                    <button type="button" class="qty__adjust-btn js-qty__adjust-btn increase"
                            aria-label="{{ 'general.accessibility.increase' | t }}">{% render 'icon-plus' %}</button>
                </div>
            </div>
            <div class="productForm-buttons{% if settings.color_button_primary_bg == settings.color_background_new %} productForm-buttons--alt{% endif %}">
                <button class="productForm-submit{% if section.settings.enable_payment_button and settings.enable_accept_terms == false %} button--alt{% endif %}"
                        data-ajax="{{ settings.enable_ajax_cart }}" type="submit" data-handle="{{ product.handle }}"
                        {% if sold_out %}disabled{% endif %} data-add-to-cart>
				<span data-add-to-cart-text class="cart-add-text">
					{%- unless sold_out -%}
                        {{- 'products.form.submit' | t -}}
                    {% else %}
                        {{- 'products.form.sold_out' | t -}}
                    {%- endunless -%}
				</span>
                </button>
            </div>
            {%- unless settings.enable_accept_terms -%}
                {%- comment -%} Show payment button if section level setting is true or the global setting for Quick view is true {%- endcomment -%}
                {%- if section.settings.enable_payment_button or settings.enable_payment_button -%}
                    {%- if has_subscriptions == false -%}
                        {% unless productTags contains 'subscribable' %}
                            <div class="productForm-buttons{% if settings.color_button_primary_bg == settings.color_background_new %} productForm-buttons--alt{% endif %}"
                                 data-payment-button="{{ section.settings.enable_payment_button }}"
                                 data-payment-button-quickview="{{ settings.enable_payment_button }}">
                                {{- form | payment_button -}}
                            </div>
                        {%- endunless -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endunless -%}

        </div>
    {% endif %}
{%- endform -%}
<script>
    var sellingPlanContainer = document.querySelector('.selling-plan-fieldset')
    var product = JSON.parse(sellingPlanContainer.dataset.product);
    console.log(sellingPlanContainer.dataset.product)
    var productForm = document.querySelector('.productForm');
    var findSelectedVariant = function() {
        var selectedVariantId = parseInt(document.querySelector('.productForm [name="id"]').value);
        console.log('Selected variant ID: ',selectedVariantId)
        var selectedVariant;
        for (var i = 0; i < product.variants.length; i++) {
            if (product.variants[i].id === selectedVariantId) {
                selectedVariant = product.variants[i];
                break;
            }
        }
        return selectedVariant;
    }

    // Watch for variant selection to update selling plan option selectors
    productForm.addEventListener('change', function() {
        var selectedVariant = findSelectedVariant();
        var availableSellingPlanAllocations = selectedVariant.selling_plan_allocations;
        // Update the selling plan option selectors based on the available selling plan allocations
        // for the selected variant
    });
    // Watch for selling plan option change to update the selected selling plan
    // var sellingPlanSelector = document.querySelector('.selling-plan-select')
    // sellingPlanSelector.addEventListener('change', function() {
    //     document.querySelector('input[name="selling_plan"]').value = selectedSellingPlanId;
    // })

    function setSellingPlan () {
                console.log(document.querySelector('input[name="selling_plan"]'))
                var selectedVariant = findSelectedVariant();
                var availableSellingPlanAllocations = selectedVariant.selling_plan_allocations;
                var selectedSellingPlanId;
                for (var i = 0; i < availableSellingPlanAllocations.length; i++) {
                    var sellingPlan = availableSellingPlanAllocations[i].selling_plan_id;
                    console.log(availableSellingPlanAllocations[i])
                    var selectPosition = parseInt(document.querySelector('.selling-plan-select').dataset.position) - 1;
                    console.log('selectPosition', selectPosition)
                    var selectedIndex = document.querySelector('.selling-plan-select').options.selectedIndex;
                    var productSellingPlanId = product.selling_plan_groups[0].selling_plans[selectedIndex].id
                    console.log(selectedIndex);
                    console.log(sellingPlan)
                    // Logic to find matching selling plan


                    if (productSellingPlanId === sellingPlan) {
                        console.log('Plan ID ', sellingPlan)
                        selectedSellingPlanId = sellingPlan;
                    }
                }
                selectedSellingPlanId = (typeof selectedSellingPlanId === 'undefined') ? '' : selectedSellingPlanId;
                document.querySelector('input[name="selling_plan"]').value = selectedSellingPlanId;
    }

    var optionSelector = document.querySelectorAll('.selling-plan-select');
    for (let i = 0; i < optionSelector.length; i++) {
        optionSelector[i].addEventListener('change', setSellingPlan )
    }


    // sellingPlanContainer.querySelectorAll('select').forEach(function(optionSelector) {
    //     optionSelector.addEventListener('change', function() {
    //         console.log(document.querySelector('input[name="selling_plan"]'))
    //         var selectedVariant = findSelectedVariant();
    //         var availableSellingPlanAllocations = selectedVariant.selling_plan_allocations;
    //         var selectedSellingPlanId;
    //         for (var i = 0; i < availableSellingPlanAllocations.length; i++) {
    //             var sellingPlan = availableSellingPlanAllocations[i].selling_plan_id;
    //             var matchingSellingPlan = false;
    //             // Logic to find matching selling plan
    //             if (matchingSellingPlan) {
    //                 selectedSellingPlanId = sellingPlan;
    //             }
    //         }
    //         selectedSellingPlanId = (typeof selectedSellingPlanId === 'undefined') ? '' : selectedSellingPlanId;
    //         document.querySelector('input[name="selling_plan"]').value = sellingPlan;
    //     });
    // });
</script>
<style>
    /* для элемента input c type="radio" */
    .custom-radio {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label связанного с .custom-radio */
    .custom-radio+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    /* создание в label псевдоэлемента  before со следующими стилями */
    .custom-radio+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 50%;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    /* стили при наведении курсора на радио */
    .custom-radio:not(:disabled):not(:checked)+label:hover::before {
        border-color: #b3d7ff;
    }
    /* стили для активной радиокнопки (при нажатии на неё) */
    .custom-radio:not(:disabled):active+label::before {
        background-color: #b3d7ff;
        border-color: #b3d7ff;
    }
    /* стили для радиокнопки, находящейся в фокусе */
    .custom-radio:focus+label::before {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
    .custom-radio:focus:not(:checked)+label::before {
        border-color: #80bdff;
    }
    /* стили для радиокнопки, находящейся в состоянии checked */
    .custom-radio:checked+label::before {
        border-color: #0b76ef;
        background-color: #0b76ef;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
    /* стили для радиокнопки, находящейся в состоянии disabled */
    .custom-radio:disabled+label::before {
        background-color: #e9ecef;
    }
</style>

