<div style="background-color: #fffdf5; padding: 40px; border-radius: 10px; border: 1px solid grey; display: block;">
    {% for group in product.selling_plan_groups %}
        <fieldset>
            <legend {%- if hidelegend %} style="display: none;"{% endif %}>Pick a subscription</legend>
            {% unless product.requires_selling_plan %}
                <input type="radio" name="selling_plan" value="" id="selling_plan_onetime">
                <label for="selling_plan_onetime">One-time purchase</label><br>
            {% endunless %}
            {% for selling_plan in group.selling_plans %}
                <input type="radio" class="radio-input" {%- if forloop.first %} checked="checked" {% endif %} name="selling_plan" value="{{ selling_plan.id }}" id="selling_plan_{{ selling_plan.id }}">
                <label for="selling_plan_{{ selling_plan.id }}">{{ selling_plan.name }}</label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
</div>