{% if product.metafields.custom_fields["kebab_bundle"] != blank  %}
    <div class="custom-field custom-field__kebab-bundle custom-field__type--product-reference">
        <h3 class="custom-field--title">Belongs to Bundles</h3>
        <div class="custom-field--value">
            {% assign product_refs = product.metafields.custom_fields["kebab_bundle"] | split: "|" %}
            <ul>
                {% for product_handle in product_refs %}
                    <li>
                        {% assign product_ref = all_products[product_handle] %}
                        {{ product_ref.title | link_to: product_ref.url }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}