{% assign current_variant = product.selected_or_first_available_variant | default: product.variants.first %}
{% assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation %}

{% if current_selling_plan_allocation == nil and current_variant.requires_selling_plan %}
    {% assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first %}
{% endif %}


{% assign offer = current_selling_plan_allocation | default: current_variant %}

{{ product.title }}
{{ offer.price | money }}

{% if offer.compare_at_price > offer.price %}
    <s>{{ offer.compare_at_price | money }}</s>
    <span>{% if offer.selling_plan %}Subscription{% else %}Sale{% endif %}</span>
{% endif %}
<style>
    .product-options-fieldset, .selling-plan-fieldset, .input-variant, .input-plan  {
        min-width: 250px;
        margin-right: 30px;
        width: 100%;
        margin-bottom: 50px;
        background-color: #f2f2f2;
        position: relative;
        display: block;
    }
</style>
{% form 'product', product %}
    <input type="hidde" class="input-variant" name="id" value="{{ current_variant.id }}">
    <input type="hidde" class="input-plan" name="selling_plan"
           value="{{ current_selling_plan_allocation.selling_plan.id | default: '' }}">

    <fieldset class="product-options-fieldset">
        <legend>Product options</legend>

        {% for option in product.options_with_values %}
            <label>{{ option.name }}</label>

            <select>
                {% for value in option.values %}
                    <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        {% endfor %}
    </fieldset>

    <fieldset class="selling-plan-fieldset" data-product='{{ product | json }}'>
        <p>Selling plans for product {{ product.id }}</p>
        <legend>Purchase options</legend>
        {% unless product.requires_selling_plan %}
            <input type="radio" name="purchase_option"> One-time purchase
        {% endunless %}

        {% for group in product.selling_plan_groups %}
            <input type="radio" name="purchase_option"> {{ group.name }}

            {% for option in group.options %}

                <label>{{ option.name }}</label>

                <select data-position="{{ option.position }}">
                    {% for value in option.values %}
                        <option value="{{ value.id }}">{{ value }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
        {% endfor %}
    </fieldset>
{% endform %}

<div class="" style="background-color: #fffdf5; padding: 40px; border-radius: 10px; border: 1px solid grey">
    {% for group in product.selling_plan_groups %}
        <p>Selling plan group id {{ product.selling_plan_group.app_id }}</p>
        <fieldset>
            <legend {%- if hidelegend %} style="display: none;"{% endif %}>Pick a subscription</legend>
            {% unless product.requires_selling_plan %}
                <input type="radio" name="selling_plan" value="" id="selling_plan_onetime">
                <label for="selling_plan_onetime">One-time purchase</label><br>
            {% endunless %}
            {% for selling_plan in group.selling_plans %}
                <input type="radio" class="radio-input" {%- if forloop.first %} checked="checked" {% endif %} name="selling_plan" value="{{ selling_plan.id }}" id="selling_plan_{{ selling_plan.id }}">
                <label for="selling_plan_{{ selling_plan.id }}">{{ selling_plan.name }}</label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
</div>

<script>
    (function () {
        var sellingPlanContainer = document.querySelector('.selling-plan-fieldset')
        var product = JSON.parse(sellingPlanContainer.dataset.product);
        var productForm = document.querySelector('#product_form_{{ product.id }}');
        var findSelectedVariant = function () {
            var selectedVariantId = parseInt(document.getElementById('product_form_{{ product.id }}').value);
            var selectedVariant;
            for (var i = 0; i < product.variants.length; i++) {
                if (product.variants[i].id === selectedVariantId) {
                    selectedVariant = product.variants[i];
                    break;
                }
            }
            console.log(`Selected variant: ${selectedVariant}`)
            return selectedVariant;
        }
        // Watch for variant selection to update selling plan option selectors
        productForm.addEventListener('change', function () {
            var selectedVariant = findSelectedVariant();
            var availableSellingPlanAllocations = selectedVariant.selling_plan_allocations;
        // Update the selling plan option selectors based on the available selling plan allocations
        // for the selected variant
        });
        // Watch for selling plan option change to update the selected selling plan
        sellingPlanContainer.querySelectorAll('select').forEach(function (optionSelector) {
            optionSelector.addEventListener('change', function () {
                var selectedVariant = findSelectedVariant();
                var availableSellingPlanAllocations = selectedVariant.selling_plan_allocations;
                var selectedSellingPlanId;
                for (var i = 0; i < availableSellingPlanAllocations.length; i++) {
                    var sellingPlan = availableSellingPlanAllocations[i].selling_plan;
                    var matchingSellingPlan = false;
                // Logic to find matching selling plan
                    if (matchingSellingPlan) {
                        selectedSellingPlanId = sellingPlan.id;
                    }
                }
                selectedSellingPlanId = (typeof selectedSellingPlanId === 'undefined') ? '' : selectedSellingPlanId;
                document.querySelector('[name="selling_plan"]').value = selectedSellingPlanId;
            });
        });
    })();
</script>