{% assign bundle_collection_handles = product.metafields.custom_fields["bundle_product_group"] | split: "|" %}
{% assign current_id = product.id %}
<ul class="handle-list hidden">
    {% for product_handle in bundle_collection_handles %}
        <li class="handle-list__item">{{ product_handle | strip }}</li>
    {% endfor %}
</ul>
<h3 class="c-title">{{ 'products.product_page.bundle_title' | t }}</h3>
<div id="collection-slider" class="bundle-collection">
    <a class="c-product" href='{{ product.handle }}'>
        <div class="c-product__image"
             style="background-image: url('{{ product.featured_image | img_url: '200x200' }}')">
        </div>
        <div class="c-product__title">
            {{ product.title }}
        </div>
        <div class="c-product__selected">{{ 'products.product_page.bundle_selected' | t }}</div>
    </a>
    {% for product in collections['bundles'].products %}
        {% if product.id == current_id %}
            {% continue %}
        {% endif %}
        <a class="c-product" href='{{ product.handle }}'>
            <div class="c-product__image"
                 style="background-image: url('{{ product.featured_image | img_url: '200x200' }}')">
            </div>
            <div class="c-product__title">
                {{ product.title }}
            </div>
        </a>
    {% endfor %}
</div>

{% comment %}{% render 'product-form-subscription-no-options' %}{% endcomment %}

<div id="app" class="no-translate">
</div>
<div id="currency" class="hidden">{{ shop.currency }}</div>
{% comment %}<div id="max-items" class="hidden">{{ product.metafields.custom_fields["max_bundle_number"] }}</div>{% endcomment %}
{% comment %}<div id="discount-value" class="hidden">{{ product.metafields.custom_fields["bundle_discount"] }}</div>{% endcomment %}
{% comment %}<div id="discount" class="hidden">Bundle_Discount_{{ product.metafields.custom_fields["bundle_discount"] }}</div>{% endcomment %}

<div id="max-items" class="hidden">4</div>
<div id="discount-value" class="hidden">5</div>
<div id="discount" class="hidden">Bundle_Discount_5</div>
<style>
    .product-price {
        display: none;
    }
    .bundle-collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 50px;
    }
    .c-product {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex-basis: 200px;
        min-height: 200px;
        gap: 15px;
        text-align: center;
    }
    .c-product.active {
        background-color: #fff;
    }
    .c-product__image {
        display: block;
        width: 100%;
        min-height: 190px;
        position: relative;
        background-size: contain;
        background-position: center;
        margin-bottom: 20px;
        background-color: #734a9e;
        background-repeat: no-repeat;
    }
    .c-product__title {
        margin-bottom: 20px;
        padding: 0 6px;
    }
    .c-product__selected {
        visibility: hidden;
    }
    .c-product.active .c-product__selected {
        visibility: visible;
        color: #b2d436;
    }
    .c-title {
        margin-bottom: 30px;
    }
    .bundle-collection {

    }
    .bundle-collection .slick-dots {
        order: 2;
        position: relative;
        right: unset;
        left: unset;
        bottom: unset;
        margin: 1px 20px;
    }
    .bundle-collection .slick-dots li {
        border: 2px solid #734A9E;
        border-radius: 0%;
        width: 34px;
        height: 3px;
        margin: 0;
    }
    .bundle-collection .slick-list {
        order: 5;
        width: 100%;
        margin-top: 10px;
    }
    .bundle-collection .slick-next.slick-arrow, .bundle-collection .slick-prev.slick-arrow {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        background-repeat: no-repeat !important;
        background-image: url('{{ 'arrow-right.svg' | asset_url }}') !important;
        background-repeat: no-repeat;
        margin: 0;
        height: 26px;
    }
    .bundle-collection .slick-next.slick-arrow {
        order: 3;
    }
    .bundle-collection .slick-prev.slick-arrow{
        order: 1;
        top: unset;
        transform: rotate(180deg);
    }
    .bundle-collection .slick-arrow.slick-disabled {
        opacity: 1 !important;
        visibility: visible !important;
    }
    @media(min-width: 1300px)  {
        .c-title {
            position: relative;
        }
        .bundle-collection.slick-dotted {
            margin-top: -50px;
        }
    }
    .bundle-container p {
        width: 100%;
    }
    .c-title, .selected-title, .b-heading__title, .b-heading__discount {
        font-family: galano_grotesquebold, sans-serif;
        font-size: 18px;
    }
    .new-price, .b-heading {
        font-family: galano_grotesqueregular, sans-serif;
        font-size: 18px;
    }
    .old-price {
        font-size: 18px;
        color: #69727b;
    }
    #add-bundle {
        padding: 14px 50px;
        margin-left: 0;
    }
    .b-product-list {
        min-height: 180px;
    }
    .total {
        font-size: 18px;
    }
    .b-product-list {
        position: relative;
    }
    .b-product-list .carousel .carousel__viewport {
        /*padding-top: 30px;*/
    }
    .b-product-list .carousel__next, .b-product-list .carousel__prev {
        width: 30px;
        height: 19px;
        background-image: url('{{ 'arrow-right.svg' | asset_url }}') !important;
        background-color: transparent;
        color: transparent;
        position: absolute;
        background-size: 100%;
    }

    @media (min-width: 1204px)  {
        .b-product-list .carousel__next, .b-product-list .carousel__prev {
            opacity: 0;
            transition: 0.2s all .4s ease;
        }
        .b-product-list:hover .carousel .carousel__prev, .b-product-list:hover .carousel .carousel__next {
            opacity: 1;
        }
        .b-product-list:hover .carousel .carousel__prev {
            left: -25px;
        }
        .b-product-list:hover .carousel .carousel__next {
            right: -25px;
        }
    }

    @media (min-width: 600px) {
        .b-product-list .carousel__next {
            right: -15px;
        }
        .b-product-list .carousel__prev {
            left: -15px;
        }
    }

    .b-product-list .carousel__next {
        transform: none;
        right: -5px;
    }
    .b-product-list .carousel__prev {
        transform: rotate(180deg);
        left: -5px;
    }
    .b-product-list {
        cursor: grab;
        cursor: -webkit-grabbing;
    }
    .b-product-list.active {
        cursor: move;
        cursor: -webkit-grabbing;
    }
    #bundle-list .carousel {
        overflow: visible;
    }
    @media (min-width: 200px) and (max-width:767px) {
        .bundle-collection .slick-next, .bundle-collection .slick-prev {
            display: block !important;
            visibility: visible !important;
        }
    }
    @media (max-width: 767px)  {
        #add-bundle {
            margin: 0 auto;
            max-width: 100%;
        }
        .bundle-collection {
            justify-content: center;
        }
    }
    .cart-add {
        max-width: unset !important;
        min-width: 360px;
        margin-bottom: 20px !important;
    }
    .buy-now {
        background-color: #b2d436;
        border-color: #b2d436;
        border-width: 0;
        border-radius: 30px;
        margin-bottom: 30px;
        padding: 14px 50px;
        min-width: 360px;
        transition: opacity ease .2s;
    }
    @media (min-width:768px)  {
        .buy-now {
            margin-left: 0;
        }
    }
    .vue-lang {
        display: none;
        visibility: hidden;
    }
    .b-product__image {
        min-width: 140px;
        min-height: 120px !important;
    }
    .carousel__next, .carousel__prev {
        top: 65% !important;
    }
    .hidden {
        display: none;
        visibility: hidden;
    }
    .b-product {
        flex-direction: column;
        justify-content: space-between !important;
    }
    .b-product__title {
        flex-grow: 1;
    }
    .b-product{display:flex;flex-direction:column;gap:10px;text-align:center;padding:0 10px}.b-product__image{width:100%;display:block;min-height:90px;background-size:cover;background-position:50%;background-repeat:no-repeat}.b-button__group{display:flex;flex-direction:row;align-items:center;justify-content:center}.b-product__minus,.b-product__plus{width:24px;height:24px;border:2px solid #734a9e;background-color:transparent;border-radius:50%;padding:unset;color:#734a9e;line-height:1px;margin:0;font-size:unset;transition:opacity .2s ease}.b-product__counter{display:block;min-width:30px}.b-product__minus:disabled,.b-product__plus:disabled{opacity:.3}.b-product__price{color:#734a9e}.b-product-list{display:flex;flex-direction:row;gap:20px;width:100%;margin-bottom:30px}.b-product-list .carousel{margin-right:-10px;margin-left:-10px}.bundle-container{max-width:100%;min-width:300px;margin:0 auto;flex-direction:column;display:flex;justify-content:flex-start}.selected-products{position:relative;display:flex;flex-direction:column;align-items:flex-start;width:100%;margin-bottom:25px;min-height:25px}.cart-add{display:inline;color:#fff;background-color:#734a9e;padding:15px;max-width:200px;border-width:0;border-radius:30px;margin-bottom:30px;cursor:pointer}.cart-add[disabled]{opacity:.3}.total{margin-bottom:50px;font-weight:700;color:#734a9e}.b-heading{margin-bottom:15px}.selected-title{font-weight:700}.old-price{text-decoration:line-through}.new-price{margin-right:10px}.cart-message{position:absolute;width:100%}.slide-fade-enter-active,.slide-fade-leave-active{transition:all .3s}.slide-fade-enter,.slide-fade-enter-from,.slide-fade-leave-to{opacity:0;height:0}.slide-fade-enter-to,.slide-fade-leave-from{opacity:1;height:auto}.carousel{width:100%}
    .carousel{position:relative;text-align:center}.carousel,.carousel *{box-sizing:border-box}.carousel__track{display:flex;margin:0;padding:0;position:relative}.carousel__viewport{overflow:hidden}:root{--vc-clr-primary:#642afb;--vc-clr-secondary:#8e98f3;--vc-clr-white:#fff;--vc-icn-width:1.2em;--vc-nav-width:30px;--vc-nav-color:#fff;--vc-nav-background-color:var(--vc-clr-primary);--vc-pgn-width:10px;--vc-pgn-height:5px;--vc-pgn-margin:5px;--vc-pgn-border-radius:0;--vc-pgn-background-color:var(--vc-clr-secondary);--vc-pgn-active-color:var(--vc-clr-primary)}.carousel__icon{width:var(--vc-icn-width);height:var(--vc-icn-width);fill:currentColor}.carousel__slide{scroll-snap-stop:auto;flex-shrink:0;margin:0;position:relative;display:flex;justify-content:center;align-items:center}.carousel__pagination{display:flex;justify-content:center;list-style:none}.carousel__pagination-button{margin:var(--vc-pgn-margin);width:var(--vc-pgn-width);height:var(--vc-pgn-height);border-radius:var(--vc-pgn-height);border:0;cursor:pointer;background-color:var(--vc-pgn-background-color)}.carousel__pagination-button--active{background-color:var(--vc-pgn-active-color)}.carousel__next,.carousel__prev{background-color:var(--vc-nav-background-color);border-radius:var(--vc-nav-width);width:var(--vc-nav-width);height:var(--vc-nav-width);text-align:center;font-size:calc(var(--vc-nav-width)*2/3);padding:0;color:var(--vc-nav-color);display:flex;justify-content:center;align-items:center;position:absolute;border:0;cursor:pointer}.carousel__prev{top:50%;left:0;transform:translate(-50%,-50%)}.carousel__next{top:50%;right:0;transform:translate(50%,-50%)}


</style>
<script>
    (function () {
        const pathname = window.location.pathname.split("/").pop();
        const cLinks = document.querySelectorAll('.c-product');
        cLinks.forEach(function (link) {
            if (link.getAttribute('href') === pathname) {
                link.classList.add('active');
            }
        })
        document.addEventListener("DOMContentLoaded", function () {
            const productForm = document.getElementById('product_form_{{ product.id }}')
            if (productForm) {
                productForm.remove();
            }

            const bundleSlider = document.getElementById('bundle-list');
            bundleSlider.addEventListener('mousedown', function () {
                bundleSlider.classList.add('active');
            })
            bundleSlider.addEventListener('mouseup', function () {
                bundleSlider.classList.remove('active');
            })

            const discount = document.getElementById('discount').innerText;
            const addBundle = document.getElementById('add-bundle');
            addBundle.addEventListener('click', function () {
                let discountValue = document.getElementById('discount-value').innerText;
                if (discountValue) {
                    localStorage.setItem('discount', discount)
                }
            })
            const vueLang = document.getElementById('vue-lang');
            vueLang.value = Shopify.locale;
            let event = new Event('input');
            vueLang.dispatchEvent(event);
        });
    })()
</script>

{{- 'app.0fc2b6e8.js' | asset_url | script_tag -}}
{{- 'chunk-vendors.8cef19ef.js' | asset_url | script_tag -}}