{%- comment -%} Fill product rows if there is Featured image or product {%- endcomment -%}
{%- assign first_variant = product.selected_or_first_available_variant -%}

{%- comment -%} Review stars {%- endcomment -%}
{%- assign show_reviews = settings.show_reviews -%}
{%- assign show_review_stars = settings.show_review_stars -%}
{%- assign enable_yotpo = settings.enable_yotpo -%}
{%- assign yotpo_ID = settings.yotpo_ID -%}
{%- assign price_swatches_hover = settings.price_swatches_hover -%}

{%- unless fallback -%}
	{%- assign on_sale = false -%}
	{%- if product.compare_at_price > product.price -%}
		{%- assign on_sale = true -%}
		{%- assign on_sale_class = ' is-sale' -%}
	{%- endif -%}

	{%- assign sold_out = true -%}
	{%- if product.available -%}
		{%- assign sold_out = false -%}
	{%- endif -%}

	<div class="collectionBlock js-collectionBlock block {{ collection_block_size }} {{ collection_block_size_mobile }} {{ last_element_class }}{% if settings.transition_grid_items %} will-animate{% endif %}{% if index == 1 %} is-visible{% endif %}"
		{% if settings.transition_grid_items %}
			data-animation="moFadeInUp"
		{% endif %}
		data-enable-payment-button="{{ settings.enable_payment_button }}"
		data-collection-block>
		<div
			class="collectionBlock-image lazyload{% if product.media[1].preview_image != blank and settings.hover_image == true %} has-second-image{% endif %}"
			aria-label="{{ product.title | escape }}"
			title="{% if product.object_type == 'product' %}{{ product.featured_media.alt | escape }}{% elsif product.object_type == 'article' %}{{ product.title | escape }}{% endif %}"
			data-bgset="{% render 'bgset', image: product.featured_media.preview_image %}"
			data-sizes="auto"
			data-parent-fit="cover"
			data-aspectratio="{{ product.featured_media.preview_image.aspect_ratio }}">
			<a href="{{ product.url | within: collection }}" class="collectionBlock-image__link" aria-label="{{ product.title | handle }}">
				{%- if product.media[1].preview_image != blank and settings.hover_image == true -%}
					<div class="collectionBlock-hover">
						<span class="collectionBlock-hover__image lazyload" data-bgset="{% render 'bgset', image: product.media[1].preview_image %}" data-sizes="auto"></span>
					</div>
				{%- endif -%}

				{%- if product.object_type == 'product' -%}
					{%- if on_sale or sold_out -%}
						<span class="product-status-flag product-status-flag--{{ settings.product_badge_style }}{% if sold_out %} is-sold-out{% endif %}{{ on_sale_class }}">
							{%- if settings.product_badge_style == 'rectangle' -%}
								{%- if sold_out -%}
									{{- 'products.labels.sold_out' | t -}}
								{%- elsif on_sale -%}
									{{- 'products.labels.on_sale' | t -}}
								{%- endif -%}
							{%- else -%}
								{%- if sold_out -%}
									{{- 'products.labels.sold_out' | t | replace: ' ', '<br>' -}}
								{%- elsif on_sale -%}
									{{- 'products.labels.on_sale' | t | replace: ' ', '<br>' -}}
								{%- endif -%}
							{%- endif -%}
						</span>
					{%- endif -%}
				{%- endif -%}
			</a>

			{%- if product.object_type == 'product' and settings.show_quick_view and template != 'search' -%}
				<div class="collectionBlock-image-inner">
					<a href="{{ product.url | within: collection }}" class="js-quickView-button quickView-button button">{{ 'collections.grid.quick_view' | t }}</a>
				</div>
			{%- endif -%}
		</div>
		<noscript>
			<div aria-label="{{ product.title | escape }}" title="{% if product.object_type == 'product' %}{{ product.featured_media.alt | escape }}{% elsif product.object_type == 'article' %}{{ product.title | escape}}{% endif%}" class="collectionBlock-image" style="background-image:url('{{ product.featured_media.preview_image | img_url: '1024x' }}');">
				<a href="{{ product.url | within: collection }}" class="collectionBlock-image__link" aria-label="{{ product.title | handle }}">
					{%- if product.media[1].preview_image != blank and settings.hover_image -%}
						<div class="collectionBlock-hover">
							<span class="collectionBlock-hover__image" style="background-image: url( {{ product.media[1].preview_image | img_url: '1024x' }} )"></span>
						</div>
					{%- endif -%}

					{%- if product.object_type == 'product' -%}
						{%- if on_sale or sold_out -%}
							<span class="product-status-flag product-status-flag--{{ settings.product_badge_style }}{% if sold_out %} is-sold-out{% endif %}{{on_sale_class}}">
								{%- if sold_out -%}
									{{- 'products.labels.sold_out' | t | replace: ' ', '<br>' -}}
								{%- else if on_sale -%}
									{{- 'products.labels.on_sale' | t | replace: ' ', '<br>' -}}
								{%- else if on_sale and sold_out -%}
									{{- 'products.labels.sold_out' | t | replace: ' ', '<br>' -}}
								{%- endif -%}
							</span>
						{%- endif -%}
					{%- endif -%}
				</a>
			</div>
		</noscript>
		<div class="collectionBlock-info collectionBlock-info--{{ settings.product_title_position }}">
			<div class="collectionBlock__price">
				{%- if product.price_varies -%}
              <p class="price-from {% if price_swatches_hover %}price--hover{% endif %}">{{ 'products.labels.price_from' | t }} {{ product.price_min | money }}</p>
				{%- else -%}
					{%- if on_sale -%}
						<p class="price sale {% if price_swatches_hover %}price--hover{% endif %}">
							<strike>{{ product.compare_at_price | money }}</strike>
							{{ product.price | money }}
						</p>
					{%- else -%}
						<p class="price {% if price_swatches_hover %}price--hover{% endif %}">{{ product.price | money }}</p>
					{%- endif -%}
				{%- endif -%}
			</div>

			<h3 class="collectionBlock__title"><a href="{{ product.url | within: collection }}">{{ product.title | escape }}</a></h3>

			{%- if show_review_stars -%}
				{%- if show_reviews or enable_yotpo and yotpo_ID != '' -%}
					{%- if enable_yotpo and yotpo_ID != '' -%}
						<div class="product__badge product__badge--yotpo">
							<div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
						</div>
					{%- elsif show_reviews -%}
						<div class="product__badge">
							<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
						</div>
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}

			{%- if product.variants.size > 1 and settings.enable_color_swatches -%}
				{%- comment -%} /partials/product-swatch--grid.liquid {%- endcomment -%}

{%- assign file_extension = 'png' -%}
{%- unless product.has_only_default_variant -%}
	<div class="product__swatch{% if price_swatches_hover %} product__swatch--hover{% endif %}">
		{%- for option in product.options_with_values -%}
			{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
			{%- assign downcased_option = option.name | downcase -%}

			{%- if color_label contains downcased_option -%}
				{%- assign option_index = forloop.index0 -%}
				<div class="swatch{% if settings.color_swatches_style == 'square' %} swatch--square{% endif %}">
					{%- for value in option.values -%}
						<div data-value="{{ value | escape }}" class="swatch__element">
							<div class="swatch__label">
								<span class="swatch__color swatch__color--{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
							</div>

							{%- comment -%} Use flag to prevent displaying multiple links {%- endcomment -%}
							{%- assign link_found = false -%}
							{%- for variant in product.variants -%}
								{%- if variant.options[option_index] == value -%}
									{%- unless link_found -%}
										<a href="{{ variant.url }}" class="swatch__link">{{ value }}</a>
										{%- assign link_found = true -%}
									{%- endunless -%}
								{%- endif -%}
							{%- endfor -%}
						</div>
					{%- endfor -%}
				</div>
			{%- endif -%}
		{%- endfor -%}
	</div>
{%- endunless -%}
			{%- endif -%}
		</div>
	</div>
{%- else -%}
	<div class="collectionBlock js-collectionBlock block {{ collection_block_size }} {{ collection_block_size_mobile }} {{ last_element_class }}{% if settings.transition_grid_items %} will-animate{% endif %}{% if index == 1 %} is-visible{% endif %}" data-animation="moFadeInUp">
		<div class="collectionBlock-image svg-placeholder">
			{%- capture current -%}{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
			{{ 'product-' | append: current | placeholder_svg_tag }}

			{%- if settings.hover_image -%}
				{% capture current_next %}{% cycle 5, 6, 1, 2, 3, 4 %}{% endcapture %}
				<span class="collectionBlock-hover collectionBlock-hover--placeholder svg-placeholder">{{ 'product-' | append: current_next | placeholder_svg_tag }}</span>
			{%- endif -%}

			{%- if settings.show_quick_view -%}
				<div class="collectionBlock-image-inner">
					<div class="quickView-button button">{{ 'collections.grid.quick_view' | t }}</div>
				</div>
			{%- endif -%}
		</div>
		<div class="collectionBlock-info collectionBlock-info--{{ settings.product_title_position }}">
			<div class="collectionBlock__price">
				<p class="price {% if price_swatches_hover %}price--hover{% endif %}"><span class="money">{{ '9900' | money}}</span></p>
			</div>

			<h3 class="collectionBlock__title">{{ 'onboarding.product_title' | t }}</h3>

			{%- if show_review_stars -%}
				{%- if show_reviews or enable_yotpo and yotpo_ID != '' -%}
					<div class="product__badge">
						<span class="spr-badge" data-rating="0.0">
							<span class="spr-starrating spr-badge-starrating">
								<i class="spr-icon spr-icon-star-empty"></i>
								<i class="spr-icon spr-icon-star-empty"></i>
								<i class="spr-icon spr-icon-star-empty"></i>
								<i class="spr-icon spr-icon-star-empty"></i>
								<i class="spr-icon spr-icon-star-empty"></i>
							</span>
						</span>
					</div>
				{%- endif -%}
			{%- endif -%}

			{%- if settings.enable_color_swatches -%}
				{%- assign white = 'onboarding.colors.white' | t -%}
				{%- assign grey = 'onboarding.colors.grey' | t -%}
				{%- assign black = 'onboarding.colors.black' | t -%}

				<div class="product__swatch">
					<div class="swatch{% if settings.color_swatches_style == 'square' %} swatch--square{% endif %}">
						{%- for i in (1..3) -%}
						{%- capture value -%}{%- cycle white, grey, black -%}{%- endcapture -%}
							<div data-value="{{ value | escape }}" class="swatch__element">
								<div class="swatch__label">
									<span class="swatch__color swatch__color--{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})"></span>
								</div>
								<a href="#!" class="swatch__link">{{ value }}</a>
							</div>
						{%- endfor -%}
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
{%- endunless -%}