{%- unless template == 'cart' -%}
<div class="scroll" data-scroll-lock-fill-gap>
	<div class="cart-wrapper container">
{%- endunless -%}

<div id="Cart" class="cart-container">
	{%- unless template == 'cart' -%}
		<button class="js-cartToggle js-cartToggle-close cart-close" aria-label="{{ 'general.accessibility.close' | t }}">
			{%- render 'icon-close' -%}
		</button>
	{%- endunless -%}

	<div class="cart-title{% if cart.item_count == 0 %} cart-title--empty{% endif %} cart-title--mobile">
		<h2>{{ 'cart.labels.cart_title' | t }}</h2>

	{%- if cart.item_count > 0 -%}
	</div>
		<form action="{{ routes.cart_url }}" method="post" class="cart-form">
			 <div class="cart-table" id="cart-table">
				<div class="cart-table-header med_hide">
					<div class="cart-table-row">
						<div class="cart-table-cell cart-table-cell--product">
							{{- 'cart.labels.product' | t -}}
						</div>
						<div class="cart-table-cell cart-table-cell--price">
							{{- 'cart.labels.price' | t -}}
						</div>
						<div class="cart-table-cell cart-table-cell--quantity">
							{{- 'cart.labels.quantity' | t -}}
						</div>
						<div class="cart-table-cell cart-table-cell--total">
							{{- 'cart.labels.total' | t -}}
						</div>
					</div>
				</div>

				<div id="CartItems" class="cart-table-body">

					{%- for item in cart.items -%}
                  		{%- if item.properties.reward_point != blank -%}
           					{%- for i in (1..item.quantity) -%}
						<div class="cart-table-row line-item" data-variant-id="{{ item.variant.id }}">
							<div class="cart-table-cell cart-table-cell--product">
								<div class="cart-product">
									<a class="cart-product__thumb" href="{{ collection_url }}{{ item.url }}">
										{%- assign image = item.image -%}
								        <div class="cart-product__thumb-img lazyload"
								           	data-bgset="{% render 'bgset', image: image %}"
											data-sizes="auto"
											data-parent-fit="contain"></div>
								        <noscript>
								          <div class="cart-product__thumb-img" style="background-image: url( {{ image | img_url: '256x' }} );"></div>
								        </noscript>
									</a>

									<div class="cart-product__desc">
										<a href="{{ collection_url }}{{ item.url }}" class="cart-product__title">{{ item.product.title | escape }}</a>
										<!--if variant is present for product -->
									
                                      {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
                                        <script>                              
                                           $(document).ready(function(){
                                             $(function () {
                                                  $('.selector-wrapper').each(function(){
                                                      $(this).find('.hide_variant').each(function () {
                                                           $(this).next('.cart_val').val($(this).val());                         
                                                           console.log($(this).val());
                                                       });    
                                                  });
                                              });
                                             
                                        	});                                 
                                        </script>
                                         {% if item.product.variants.size > 1 %}
                                          <div class="productForm">
                                            <div class="productForm-block productForm-block--options-inline productForm-block--swatches">
                                                  <div class="selector-wrapper" data-option="option1">
                                                    <input type="hidden" class="hide_variant" value="{{ item.variant.id }}" />
                                                    <select id="Product-SingleOptionSelector-0-6044834300096" data-single-option-selector="" class="cart_val" data-index="option1">
                                                      {% for variant in item.product.variants %}
                                                        {% if variant.available %}
                                                          <option  data-sku="{{ variant.sku }}" title="{{ variant.title }}" value="{{ variant.id }}" data-id= "{{ item.properties.reward_point }}" >{{ variant.title }}</option>
                                                        {% else %}
                                                        <option disabled="disabled">
                                                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                                        </option>
                                                        {% endif %}
                                                      {% endfor %}
                                                    </select>
                                                    {%- render 'icon-arrow' -%}
                                                  </div>
                                            </div>
                                        </div>
                                            <div class="form-check" style="display: inline-flex;">
                                              <input type="checkbox" class="form-check-input" id="variantselection" value="Yes">
                                              <label class="form-check-label" for="exampleCheck1">Size correct?</label>
                                            </div>
                                          {% endif %}
  										<!-- end variant product functionality -->
									</div>
								</div>
							</div>

							<div class="cart-table-cell cart-table-cell--price">
								<div class="cart-product__price" data-price="{{ item.price }}">
									{%- if item.original_price > item.final_price -%}
										<s>{{ item.original_price | money }}</s>
									{%- endif -%}
									<span>{{ item.final_price | money }}</span>

									{%- if item.unit_price_measurement -%}
										<span class="product-unit-price">
											{{ item.unit_price | money }}
											{%- if item.unit_price_measurement.reference_value != 1 -%}
												{{ item.unit_price_measurement.reference_value }}
											{%- endif -%}
											<span aria-hidden="true">/</span>&nbsp;<span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}</span>
											{{- item.unit_price_measurement.reference_unit -}}
										</span>
									{%- endif -%}
								</div>
							</div>

							<div class="cart-table-cell cart-table-cell--quantity">
								
                              <input type="text" name="updates[]" id="updates_{{ item.id }}" class="inputCounter" value="{{ 1 }}" disabled />
								<button type="button" class="cart-product__remove">{{ 'cart.labels.remove' | t }}</button>
							</div>

							<div class="cart-table-cell cart-table-cell--total med_hide">
								<div class="cart-product__total-price">
									{% if item.original_line_price > item.final_line_price %}
										<s>{{ item.original_line_price | money }}</s>
									{% endif %}
									{{ item.final_line_price | money }}
								</div>

								{% comment %}
									Display the specific line item discount
								{% endcomment %}
								{%- if item.line_level_discount_allocations.size > 0 -%}
									<div class="cart-product__discounts">
										{%- for discount_allocation in item.line_level_discount_allocations -%}
											<p>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
										{%- endfor -%}
									</div>
								{% elsif item.discount_allocations.size > 0 %}
									<div class="cart-product__discounts">
										{%- for discount_allocation in item.discount_allocations -%}
											<p>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
										{%- endfor -%}
									</div>
								{% endif %}
							</div>
						</div>
                  		{%- endfor -%}
                  		{%- else -%}
                  			<div class="cart-table-row line-item" data-variant-id="{{ item.variant.id }}">
							<div class="cart-table-cell cart-table-cell--product">
								<div class="cart-product">
									<a class="cart-product__thumb" href="{{ collection_url }}{{ item.url }}">
										{%- assign image = item.image -%}
								        <div class="cart-product__thumb-img lazyload"
								           	data-bgset="{% render 'bgset', image: image %}"
											data-sizes="auto"
											data-parent-fit="contain"></div>
								        <noscript>
								          <div class="cart-product__thumb-img" style="background-image: url( {{ image | img_url: '256x' }} );"></div>
								        </noscript>
									</a>

									<div class="cart-product__desc">
										<a href="{{ collection_url }}{{ item.url }}" class="cart-product__title">{{ item.product.title | escape }}</a>
										{%- if item.variant.title != 'Default Title' -%}
											<span class="cart-product__variant">{{ item.variant.title }}</span>
										{%- endif -%}
									</div>
								</div>
							</div>

							<div class="cart-table-cell cart-table-cell--price">
								<div class="cart-product__price" data-price="{{ item.price }}">
									{%- if item.original_price > item.final_price -%}
										<s>{{ item.original_price | money }}</s>
									{%- endif -%}
									<span>{{ item.final_price | money }}</span>

									{%- if item.unit_price_measurement -%}
										<span class="product-unit-price">
											{{ item.unit_price | money }}
											{%- if item.unit_price_measurement.reference_value != 1 -%}
												{{ item.unit_price_measurement.reference_value }}
											{%- endif -%}
											<span aria-hidden="true">/</span>&nbsp;<span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}</span>
											{{- item.unit_price_measurement.reference_unit -}}
										</span>
									{%- endif -%}
								</div>
							</div>

							<div class="cart-table-cell cart-table-cell--quantity">
								<div class="cart-product__quantity">
									<div class="js-counter counter inputGroup">
										<input type="text" name="updates[]" id="updates_{{ item.id }}" class="inputCounter" value="{{ item.quantity }}" />
										<button class="inputCounter__btn inputCounter__btn--down" type="button" aria-label="{{ 'general.accessibility.decrease' | t }}">
											{%- render 'icon-minus' -%}
										</button>
										<button class="inputCounter__btn inputCounter__btn--up" type="button" aria-label="{{ 'general.accessibility.increase' | t }}">
											{%- render 'icon-plus' -%}
										</button>
									</div>
								</div>
								<button type="button" class="cart-product__remove">{{ 'cart.labels.remove' | t }}</button>
							</div>

							<div class="cart-table-cell cart-table-cell--total med_hide">
								<div class="cart-product__total-price">
									{% if item.original_line_price > item.final_line_price %}
										<s>{{ item.original_line_price | money }}</s>
									{% endif %}
									{{ item.final_line_price | money }}
								</div>

								{% comment %}
									Display the specific line item discount
								{% endcomment %}
								{%- if item.line_level_discount_allocations.size > 0 -%}
									<div class="cart-product__discounts">
										{%- for discount_allocation in item.line_level_discount_allocations -%}
											<p>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
										{%- endfor -%}
									</div>
								{% elsif item.discount_allocations.size > 0 %}
									<div class="cart-product__discounts">
										{%- for discount_allocation in item.discount_allocations -%}
											<p>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
										{%- endfor -%}
									</div>
								{% endif %}
							</div>
						</div>
                  		
                  		{%- endif -%}
                  
					{%- endfor -%}

				</div>
			</div>

			<div class="checkout-buttons">
				<div class="cart-totals-table">
					{% comment %} Cart level discounts {% endcomment %}
					<p class="cart-total-price">
						<span>{{ 'cart.labels.subtotal' | t }}: </span>
						<span id="cart-total-price">{{ cart.total_price | money }}</span>
					</p>

					{%- if cart.cart_level_discount_applications != blank -%}
						<p class="cart-discounts">
							{%- for discount_application in cart.cart_level_discount_applications -%}
								<span>{{ discount_application.title }}: </span>
								<span class="cart-discount-price">{{ discount_application.total_allocated_amount | money | prepend: '-' }}</span>
							{%- endfor -%}
						</p>
					{%- endif -%}
				</div>

				{%- if settings.tax_text -%}
					<p class="cart-tax-info">{{ settings.tax_text }}</p>
				{%- endif -%}

				{%- if settings.enable_cart_order_notes -%}
					<div class="order-notes">
						<label class="order-notes__label" for="order-notes">{{ 'cart.labels.add_a_note' | t }}</label>
						<textarea id="order-notes" class="order-notes__content" name="note"></textarea>
					</div>
				{%- endif -%}

				<div class="cart__buttons-wrapper">

					{%- if settings.enable_accept_terms -%}
						<input type="checkbox" class="acceptance__input" name="acceptance" id="acceptance" data-cart-acceptance>
						<label for="acceptance" class="acceptance__label">{{ settings.accept_terms_text }}</label>
					{%- endif -%}

					<button type="submit" name="update" class="cart__update button button--secondary">{{ 'cart.labels.update' | t }}</button>

					<div class="cart__buttons{% if settings.enable_accept_terms %} cart__buttons--disabled{% endif %}" data-cart-buttons>
						<fieldset class="cart__button-fieldset" data-cart-buttons-fieldset>
							<button class="cart__checkout button" type="submit" name="checkout">{{ 'cart.labels.checkout' | t }}</button>
							<noscript>
								<span class="cart__checkout cart__checkout--no-js button">{{ 'cart.labels.checkout' | t }}</span>
							</noscript>

							{%- if additional_checkout_buttons -%}
								<div class="additional-checkout-buttons">
									{{ content_for_additional_checkout_buttons }}
								</div>
							{%- endif -%}
						</fieldset>
					</div>

					{%- if settings.show_continue_shopping -%}
						<a href="#" class="js-continueShopping {% if template == 'cart' %}js-go-back{% endif %} button button--secondary">{{ 'cart.labels.continue_shopping' | t }}</a>
					{%- endif -%}
				</div>
			</div>
		</form>
	{%- else -%}
			<p>{{ 'cart.labels.empty_cart' | t }}</p>
			<a href="#" tabindex="-1" class="js-continueShopping js-continueShopping--empty {% if template == 'cart' %}js-go-back{% endif %} button">{{ 'cart.labels.continue_shopping' | t }}</a>
		</div> <!-- closing tag for title row -->
	{%- endif -%}
</div>

{%- unless template == 'cart' -%}
	</div>
</div>
{%- endunless -%}

{% comment %}{% endcomment %}