<!--Start Weglot Script-->
<script src="//cdn.weglot.com/weglot.min.js"></script>
<script id="has-script-tags">
Weglot.initialize({ 
  api_key:"wg_7d8eace8cf511e146ada6fb44c09388c1",
  cache: true,
  switchers: [
       {
           button_style: {
               full_name: false,
               with_name: true,
               is_dropdown: true,
               with_flags: false,
               flag_type: "circle",
               invert_flags: false
           },
           location: {
               target: ".header-icons",
               sibling: null
           }
       }
   ]
});
Weglot.on("languageChanged", function(newLang) {
  Shopify.locale = newLang;
  if (document.body.classList.contains('template-product')) {
   	var pay_btn = document.querySelector('.shopify-payment-button__button');
    if (Shopify.locale == 'en') {
    	pay_btn.innerHTML = 'Buy now';
    } else if (Shopify.locale == 'de') {
    	pay_btn.innerHTML = 'Jetzt kaufen';
    } else if (Shopify.locale == 'fr') {
    	pay_btn.innerHTML = 'Acheter maintenant';
    } else {
      pay_btn.innerHTML = 'Jetzt kaufen';
    }
  }
  var form = document.getElementById('email_signup');
    if (form) {
        var el = form.querySelector('input[name="g"]');
        var list_de = 'Xh7VbS';
        var list_en = 'WkZBhQ';
        var list_fr = 'UEYJfP';
            if (Shopify.locale == 'en') {
                el.value = list_en;
            } else if (Shopify.locale == 'de') {
                el.value = list_de;
            } else if (Shopify.locale == 'fr') {
                el.value = list_fr;
            } else {
                el.value = list_en;
            }
        }
});

//     (function () {
//         var attachLangToKlaviyo = function (lang) {
//             KlaviyoSubscribe.attachToForms('#email_signup', {
//                 hide_form_on_success: true,
//                 extra_properties: {
//                     $source: 'newsletter_form',
//                     $lang: lang
//                 }
//             })
//         }
//          Weglot.on('languageChanged', attachLangToKlaviyo);
//          Weglot.on('switchersReady', attachLangToKlaviyo);
        
//     })();
    function setLang(lang) {
        var _learnq = window._learnq || [];
        _learnq.push(['identify', {
          $source: 'newsletter',
            $lang: lang,
        }]);
    };
  
//     document.getElementById('email_signup').addEventListener('submit', function (e) {
//         setLang(Weglot.getCurrentLang());
//     });
    Weglot.on('languageChanged', function () {
  		setLang(Weglot.getCurrentLang());
    });
</script>
<!--End Weglot Script-->

