<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}
{% render 'th-subscription-account' %}
{% paginate customer.orders by 10 %}
    <section class="account-page">
        <div class="account-home container">
            <div class="flex-container">
                <div class="account-details thin-column">
                    {% render 'account-menu' %}
                </div>
                <div class="wide-column block-full-height">
                    <div class="content-wrapper">

                        {% comment %}
                          If we have past orders, loop through each one
                        {% endcomment %}
                        {% if customer.orders.size != 0 %}
                        <p class="account-page-title size--heading-2">{{ 'customer.orders.title' | t }}</p>

                        <div class="block s1">
                            <div class="account-table account-home-table d-table med_d-block">
                                <div class="d-table-header">
                                    <div class="d-table-row">
                                        <div class="order-number c-gray d-table-cell">{{ 'customer.orders.order_number' | t }}</div class="d-table-cell">
                                        <div class="c-gray d-table-cell">{{ 'customer.orders.date' | t }}</div class="d-table-cell">
                                        <div class="c-gray d-table-cell">{{ 'customer.orders.payment_status' | t }}</div class="d-table-cell">
                                        <div class="c-gray d-table-cell">{{ 'customer.orders.fulfillment_status' | t }}</div class="d-table-cell">
                                        <div class="order-total c-gray d-table-cell">{{ 'customer.orders.total' | t }}</div class="d-table-cell">
                                    </div>
                                </div>
                                <div class="d-table-row-group med_d-block">
                                    {% for order in customer.orders %}
                                        <div class="order d-table-row med_d-block">
                                            <div class="order-number c-2 d-table-cell med_d-block">
                                                <p class="med_show c-gray">{{ 'customer.orders.order_number' | t }}
                                                    : </p>
                                                {{ order.name | link_to: order.customer_url }}
                                            </div>
                                            <div class="d-table-cell med_d-block">
                                                <p class="med_show c-gray">{{ 'customer.orders.date' | t }}</p>
                                                {{ order.created_at | date: format: 'month_day_year' }}
                                            </div>
                                            <div class="d-table-cell med_d-block">
                                                <p class="med_show c-gray">{{ 'customer.orders.payment_status' | t }}</p>
                                                {{ order.financial_status_label }}
                                            </div>
                                            <div class="d-table-cell med_d-block">
                                                <p class="med_show c-gray">{{ 'customer.orders.fulfillment_status' | t }}</p>
                                                {{ order.fulfillment_status_label }}
                                            </div>
                                            <div class="order-total d-table-cell med_d-block">
                                                <p class="med_show c-gray">{{ 'customer.orders.total' | t }}</p>
                                                {{ order.total_price | money }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}
                        <div class="orders-empty">
                            <div class="orders-empty-content">
                                <p class="orders-title size--heading-2">{{ 'customer.orders.title' | t }}</p>
                                <p class="orders-text-empty">{{ 'customer.orders.none' | t }}</p>
                                <div class="img-orders-empty"></div>
                            </div>
                        </div>
                    {% endif %}
                    {% if paginate.pages > 1 %}
                        <div class="pagination">
                            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </section>
{% endpaginate %}
<style>
.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;

}
.orders-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    height:100%;
}
.content-wrapper {
    max-width: 100%;
    margin: 0 auto;
    height:100%;
}
.img-orders-empty {
    width: 300px;
    height: 150px;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-image: url('{{ 'empty_1.png' | asset_url }}');
}
.account-page-title {
    position: relative;
    display: block;
    margin: 20px 0 30px;
}
.account-page-title:first-letter {
    text-transform: uppercase;
}
.d-table-row-group {
    display: block;
    border-radius: 4px;
}
.account-table .d-table-cell {
    border-top: 0px;
    border-bottom: 0px;
}
.d-table-row {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    text-align: left;
    border-radius: 4px;
    background-color: #fff;
}
.d-table-row:after {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #e1e1e1;
}
.account-table .d-table-cell {
    display: block;
    flex-grow: 1;
    padding: 18px 0;
}
.d-table-header .d-table-row {
    background-color: transparent;
}
.d-table-header .d-table-row:after {
    top: 0;
    bottom: unset;
    background-color: #B9ABE4;
}
.d-table-row-group .d-table-row:last-child:after {
    background-color: transparent;
}
.d-table-row-group .d-table-row {
    background-color: #fff;
}
@media (min-width: 768px) {
    .d-table-row-group {
        background-color: #fff;
    }
}
@media (min-width: 1024px) {
    .flex-container {
        flex-direction: row;
    }
    .account-page-title {
        font-size: 2.6em;
        margin: 20px 0 30px;
    }
    .content-wrapper {
        max-width: 745px;
    }
  .account-table .d-table-cell, .account-table .d-table-cell.c-gray {
        flex-basis: 150px;
  }
}
.thin-column {
}
.wide-column {
    flex-grow: 1;
}
.block-full-height {
    display: flex;
    flex-direction: column;
}
.orders-title {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
.orders-text-empty {
    font-size: 1.2em;
    text-align: center;
    color: #111;
}
.orders-text-empty:first-letter, .orders-title:first-letter {
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .img-orders-empty {
        width: 450px;
        height: 253px;
    }
}
.account-table .d-table-cell.c-gray {
    padding: 20px 0 10px 0;
}
.account-table .d-table-row-group {
    font-size: 1.1em;
    color: #111;
}
.d-table-row-group .order:hover {
    z-index: 2;
    color: #744A9E;
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
}
.account-home-table .order-number a {
    color: #111;
}
.d-table-row-group .order:hover .order-number a {
    color: #744A9E;
}
@media (max-width: 767px) {
    .order {
        display: flex;
        flex-direction: column;
    }
    .d-table-cell.med_d-block {
        padding: 5px 0;
    }
    .order-number .c-gray.med_show {
        display: inline-block;
        float: left;
        margin: 0 15px 0 0;
    }
    .d-table-cell.med_d-block .c-gray.med_show {
        float: left;
        width: auto;
        margin: 0 15px 0 0;
    }
    .account-table .d-table-row-group {
        font-size: 1em;
    }
    .med_show.c-gray {
        position: relative;
    }
    .med_show.c-gray:after {
        content: ":";
    }
    .d-table-row {
        padding: 20px;
    }
    .account-home-table .d-table-cell {
        width: 100%;
    }
    .account-home-table .order-number .med_show:after {
        display: none;
    }
    .d-table-row:after {
        opacity: 0;
    }
  .account-table .d-table-row {
    border-bottom:0px;
  }
}
</style>