{% comment %}

	Template note:
		- There are instances of inline JS below. Best practices advise separating this
			into an external JS file
		- There are separate 'add new' and 'edit' address forms


<a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
{% endcomment %}
{%- paginate customer.addresses by 6 -%}
    <section class="account-page">
        <div class="account-page container">
            {% comment %}
              <div class="account-crumbs row">
                  <p class="size--heading-2"><a href="{{ routes.account_url }}"
                                                class="account-breadcrumb f-underline">{{ 'customer.account.title' | t }}</a>: {{ 'customer.addresses.title' | t }}
                  </p>
              </div>
            {% endcomment %}
            <div class="flex-container">
                <div class="account-details thin-column">
                    {% render 'account-menu' %}
                </div>
                <div class="wide-column block-full-height">
                    <div class="content-wrapper">
                        {% if customer.addresses.size != 0 %}
                            <a href="#" id="js-addAddress" class="js-addAddress-button button button--main"
                               onclick="Shopify.CustomerAddress.toggleNewForm(); return false;"
                               style="display: inline-block">{{ 'customer.addresses.add_new' | t }}</a>
                        {% endif %}
                        <div class="block s1">

                            {% comment %}
                                Add address form, hidden by default
                            {% endcomment %}
                            <div id="AddAddress" class="js-addAddress address-form--add account-form"
                                 style="display: none;">
                                {%- form 'customer_address', customer.new_address -%}
                                    <div class="address-form-heading">
                                        <div class="address-form-heading--title">
                                            <p>{{ 'customer.addresses.add_new' | t }}</p>
                                        </div>
                                        <div class="address-form-heading--buttons">
                                            <a id="js-cancelNew" href="#"
                                               class="js-cancelNew c-gray account-form__link-back button button--invert"
                                               onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                            <input type="submit" class="account-form__add-address button button--main"
                                                   value="{{ 'customer.addresses.add' | t }}">
                                        </div>
                                    </div>


                                    <div class="address-form-container">

                                        <div class="address-input-group input-group--half">
                                            <label class="c-gray"
                                                   for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                                            <input type="text" id="AddressFirstNameNew" name="address[first_name]"
                                                   value="{{ form.first_name }}" autocapitalize="words"
                                                   placeholder="{{ 'customer.addresses.first_name' | t }}">
                                            <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                        </div>

                                        <div class="address-input-group input-group--half">
                                            <label class="c-gray"
                                                   for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                                            <input type="text" id="AddressLastNameNew" name="address[last_name]"
                                                   value="{{ form.last_name }}" autocapitalize="words"
                                                   placeholder="{{ 'customer.addresses.last_name' | t }}">
                                            <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                        </div>

                                        <div class="address-input-group">
                                            <label class="c-gray"
                                                   for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                                            <input type="text" id="AddressCompanyNew" class="optional"
                                                   name="address[company]" value="{{ form.company }}"
                                                   autocapitalize="words"
                                                   placeholder="{{ 'customer.addresses.company' | t }}">
                                        </div>

                                        <div class="address-input-group">
                                            <label class="c-gray"
                                                   for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                                            <input type="text" id="AddressAddress1New" name="address[address1]"
                                                   value="{{ form.address1 }}" autocapitalize="words"
                                                   placeholder="{{ 'customer.addresses.address1' | t }}">
                                            <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                        </div>
                                        {% comment %}
                                                                                <div class="address-input-group">
                                                                                    <label class="c-gray"
                                                                                           for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                                                                                    <input type="text" id="AddressAddress2New" class="optional"
                                                                                           name="address[address2]" value="{{ form.address2 }}"
                                                                                           autocapitalize="words" placeholder="{{ 'customer.addresses.address2' | t }}">
                                                                                </div>
                                        {% endcomment %}
                                        <div class="address-input-group  input-group--half">
                                            <label class="c-gray"
                                                   for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                                            <input type="text" id="AddressCityNew" name="address[city]"
                                                   value="{{ form.city }}" autocapitalize="words"
                                                   placeholder="{{ 'customer.addresses.city' | t }}">
                                            <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                        </div>

                                        <div class="address-input-group input-group--half">
                                            <label class="c-gray"
                                                   for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                                            <input type="text" id="AddressZipNew" name="address[zip]"
                                                   value="{{ form.zip }}" autocapitalize="characters"
                                                   placeholder="{{ 'customer.addresses.zip' | t }}">
                                            <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                        </div>

                                        <div class="address-input-group select-wrap">
                                            {%- render "icon-arrow" -%}
                                            <label class="c-gray"
                                                   for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                            <select id="AddressCountryNew" name="address[country]"
                                                    data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                        </div>

                                        <div class="address-input-group selector-wrapper"
                                             id="AddressProvinceContainerNew"
                                             style="display:none">
                                            {%- render "icon-arrow" -%}
                                            <label class="c-gray"
                                                   for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                            <select id="AddressProvinceNew" name="address[province]"
                                                    data-default="{{ form.province }}"></select>
                                        </div>

                                        <div class="address-input-group">
                                            <label class="c-gray"
                                                   for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                                            <input type="tel" id="AddressPhoneNew" class="optional"
                                                   name="address[phone]" value="{{ form.phone }}"
                                                   placeholder="{{ 'customer.addresses.phone' | t }}">
                                        </div>

                                        <div class="gridSpacer block s1 med_s12 lg_s13"></div>
                                        <div class="row u-left">
                                            <div class="inputGroup no-label block checkboxBlock">
                                                {{ form.set_as_default_checkbox }}
                                                <label class="c-gray" for="address_default_address_new"
                                                       class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {%- endform -%}
                            </div>
                        </div>
                        {% if customer.addresses.size != 0 %}
                        <div id="saved-addresses" class="saved-addresses block s1">

                            <p class="saved-addresses--title">{{ 'customer.addresses.title' | t }}</p>
                            {% comment %}
                                List all customer addresses with a unique edit form.
                                Also add pagination in case they have a large number of addresses
                            {% endcomment %}
                            {%- for address in customer.addresses -%}

                                <div class="address">
                                    {% if address == customer.default_address %}
                                        <div class="address-default">{{ 'customer.addresses.default' | t }}</div>{% endif %}
                                    <div class="address--item">{{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
                                        <br>
                                        {{ address.address1 }}</div>
                                    {% comment %}
                                                                        {% if address.address2 != "" %}
                                                                            {{ address.address2 }}<br>
                                                                        {% endif %}
                                    {% endcomment %}
                                    <div class="address--item">
                                        {% if address.city != "" %}
                                            {{ address.city }}
                                        {% endif %}

                                        {% if address.province_code != "" %}
                                            {{ address.province_code | upcase }}
                                        {% endif %}

                                        {% if address.zip != "" %}
                                            {{ address.zip | upcase }}<br>
                                        {% endif %}

                                        {% if address.country != "" %}
                                            {{ address.country }}<br>
                                        {% endif %}

                                        {% if address.phone != "" %}
                                            {{ address.phone }}<br>
                                        {% endif %}
                                    </div>
                                    <div class="address-edit-container">
                                        {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id | replace: '<a', '<a class="edit-btn no-translate"' }}
                                        /
                                        {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
                                    </div>
                                </div>

                                <div id="EditAddress_{{ address.id }}" class="js-editAddress account-form"
                                     style="display:none;">
                                    {%- form 'customer_address', address -%}
                                        <div class="address-form-heading">
                                            <div class="address-form-heading--title">
                                                <p>{{ 'customer.addresses.edit_address' | t }}</p>
                                            </div>
                                            <div class="address-form-heading--buttons ">
                                                <a href="#"
                                                   class="js-cancelEdit c-gray account-form__link button button--invert"
                                                   onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                                <input type="submit"
                                                       class="button account-form__add-address button button--main"
                                                       value="{{ 'customer.addresses.update' | t }}">
                                            </div>
                                        </div>



                                        <div class="address-form-container">
                                            <div class="address-input-group input-group--half">
                                                <label class="c-gray"
                                                       for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                                <input type="text" id="AddressFirstName_{{ form.id }}"
                                                       name="address[first_name]" value="{{ form.first_name }}"
                                                       autocapitalize="words">
                                                <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                            </div>

                                            <div class="address-input-group input-group--half">
                                                <label class="c-gray"
                                                       for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                                <input type="text" id="AddressLastName_{{ form.id }}"
                                                       name="address[last_name]" value="{{ form.last_name }}"
                                                       autocapitalize="words">
                                                <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                            </div>

                                            <div class="address-input-group">
                                                <label class="c-gray"
                                                       for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                                <input type="text" id="AddressCompany_{{ form.id }}"
                                                       class="optional"
                                                       name="address[company]" value="{{ form.company }}"
                                                       autocapitalize="words">
                                            </div>

                                            <div class="address-input-group">
                                                <label class="c-gray"
                                                       for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                                <input type="text" id="AddressAddress1_{{ form.id }}"
                                                       name="address[address1]" value="{{ form.address1 }}"
                                                       autocapitalize="words">
                                                <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                            </div>
                                            {% comment %}
                                                                                        <div class="address-input-group">
                                                                                            <label class="c-gray"
                                                                                                   for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                                                                            <input type="text" id="AddressAddress2_{{ form.id }}" class="optional"
                                                                                                   name="address[address2]" value="{{ form.address2 }}"
                                                                                                   autocapitalize="words">
                                                                                        </div>
                                            {% endcomment %}
                                            <div class="address-input-group input-group--half">
                                                <label class="c-gray"
                                                       for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                                <input type="text" id="AddressCity_{{ form.id }}"
                                                       name="address[city]"
                                                       value="{{ form.city }}" autocapitalize="words"
                                                       placeholder="">
                                                <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                            </div>

                                            <div class="address-input-group input-group--half">
                                                <label class="c-gray"
                                                       for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                                <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]"
                                                       value="{{ form.zip }}" autocapitalize="characters">
                                                <span class="validation">{{ 'customer.addresses.not_blank' | t }}</span>
                                            </div>

                                            <div class="address-input-group select-wrap">
                                                {%- render "icon-arrow" -%}
                                                <label class="c-gray"
                                                       for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                                <select id="AddressCountry_{{ form.id }}" name="address[country]"
                                                        data-default="{{ form.country }}"
                                                        data-form-id="{{ form.id }}"
                                                        class="address-country-option">{{ country_option_tags }}</select>
                                            </div>

                                            <div id="AddressProvinceContainer_{{ form.id }}"
                                                 class="selector-wrapper input-group" style="display:none">
                                                {%- render "icon-arrow" -%}
                                                <label class="c-gray"
                                                       for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                                <select id="AddressProvince_{{ form.id }}" name="address[province]"
                                                        data-default="{{ form.province }}"></select>
                                            </div>

                                            <div class="address-input-group">
                                                <label class="c-gray"
                                                       for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                                <input type="tel" id="AddressPhone_{{ form.id }}" class="optional"
                                                       name="address[phone]" value="{{ form.phone }}">
                                            </div>
                                            <div class="row u-left">
                                                <div class="inputGroup no-label block checkboxBlock">
                                                    {{ form.set_as_default_checkbox }}<label class="c-gray"
                                                                                             for="address_default_address_{{ form.id }}"
                                                                                             class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                                                </div>
                                            </div>

                                            <div class="gridSpacer block s1 med_s12 lg_s13"></div>

                                        </div> <!-- END .row.inline -->

                                    {%- endform -%}
                                </div>
                            {%- endfor -%}
                            {% else %}
                                <div id="empty" class="address-empty">
                                    <div class="address-empty-content">
                                        <p class="addresses-empty-title">{{ 'customer.addresses.title' | t }}</p>
                                        <p class="addresses-empty-text">{{ 'customer.addresses.empty' | t }}</p>
                                        <a href="#" id="js-addAddress" class="button button--main"
                                           onclick="Shopify.CustomerAddress.toggleNewForm(); return false;"
                                           style="display: inline-block">{{ 'customer.addresses.add_new' | t }}</a>
                                    </div>
                                </div>
                            {% endif %}
                            {%- if paginate.pages > 1 -%}
                                <hr>
                                <div class="pagination">
                                    {{- paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' -}}
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{%- endpaginate -%}

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto;
    }
    .content-wrapper {
        position: relative;
        max-width: 100%;
        height: 100%;
        min-height: 600px;
        margin: 0 auto;
    }
    .thin-column {
    }
    .wide-column {
        flex-grow: 1;
    }
    .saved-addresses {
        position: relative;
        display: flex;
        overflow-x: hidden;
        align-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: calc(100% + 15px);
        margin-top: 0px;
        margin-bottom: 15px;
        margin-left: -15px;
    }
    .saved-addresses .address {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-width: 200px;
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 15px;
        padding: 25px 30px;
        color: #111;
        border-radius: 4px;
        background-color: #fff;
        opacity: 1;
        transition: opacity 0.2s ease;
    }
    .saved-addresses .address.hidden {
        opacity: 0;
    }
    .saved-addresses .account-form {
        position: relative;
        z-index: 5;
        height: 100%;
        margin-left: 15px;
        padding-top: 20px;
        background-color: #fff0ab;
    }
    .address-form-container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        min-height: 550px;
        margin: 0 auto;
        padding: 40px 35px;
        border-radius: 4px;
        background-color: #fff;
    }
    .address-form-heading {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
    }
    .address-empty {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .address-empty-content {
        text-align: center;
    }
    .addresses-empty-title {
        font-size: 2.5em;
        margin-bottom: 10px;
        letter-spacing: -0.5px;
    }
    .addresses-empty-text {
        /*     font-family: galano_grotesquebold; */
        font-size: 1.2em;
        margin-bottom: 20px;
        color: #111;
    }
    .address-form-heading .button {
        margin: unset;
    }
    .address-default {
        font-size: 0.8em;
        line-height: 26px;
        position: absolute;
        top: 0;
        right: 0;
        width: 75px;
        height: 26px;
        text-align: center;
        text-transform: capitalize;
        color: #fff;
        border-radius: 0 4px 0 4px;
        background-color: #734a9e;
    }
    .address-form-container .address-input-group label.c-gray {
        display: none;
    }
    .address-form-heading--title {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-start;
        min-height: 50px;
    }
    .address-form-heading--title p {
        font-size: 2.45em;
        line-height: 0.8em;
        margin: unset;
        margin-bottom: 0;
        letter-spacing: -0.5px;
    }
    .address-form-heading .account-form__add-address {
        margin-left: 30px;
    }
    .address-input-group {
        position: relative;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 15px;
    }
    .js-addAddress span.validation, .js-editAddress .address-input-group span.validation {
        position: absolute;
        padding-top: 0px;
        color: #fb2424;
    }
    .address-form--add {
        margin-top: 20px;
    }
    .account-form input[type="text"] {
        border: 1px solid #A9A9A9;
    }
    .account-form input[type="text"]:focus, .account-form input[type="email"]:focus, .account-form input[type="password"]:focus, .account-form input[type="tel"]:focus {
        border: 1px solid #734A9E;
        -webkit-box-shadow: 0px 0px 0px 1px #734A9E;
        box-shadow: 0px 0px 0px 1px #734A9E;
    }
    .address-input-group input, .address-input-group select, .account-form input[type="email"], .account-form input[type="password"], .account-form input[type="tel"], .account-form input[type="text"] {
        font-size: 1.1em !important;
        line-height: 1em;
        padding: 15px;
        color: #111;
        border: 1px solid #A9A9A9;
        border-radius: 7px;
        outline: none;
    }
    .address-input-group input::placeholder {
        color: #737373 !important;
    }
    .address-input-group.input-group--half {
        width: 100%;
    }
    .address-input-group select {
        line-height: 1.4em;
        position: relative;
        min-height: 52px;
        color: #737373;
        background-color: transparent;
    }
    .address-input-group.select-wrap:after {
        position: absolute;
        top: 10px;
        right: 50px;
        width: 1px;
        height: 32px;
        content: "";
        background-color: #A9A9A9;
    }
    .address-input-group select option {
        color: #111;
    }
    .select-wrap .icon {
        position: absolute;
        z-index: 2;
        z-index: 0;
        top: 18px;
        right: 18px;
        width: 17px;
        height: 18px;
        opacity: .9;
        fill: #A9A9A9;
    }
    .inputGroup.no-label {
        margin: -5px 0 0;
        padding: 0px;
    }
    .saved-addresses--title {
        font-size: 2.45em;
        line-height: 1em;
        position: relative;
        display: table;
        width: 100%;
        height: 50px;
        margin-top: 15px;
        margin-left: 15px;
        padding-top: 15px;
        /* font-family: galano_grotesquemedium; */
        padding-bottom: 35px;
        letter-spacing: -0.5px;
    }
    .saved-addresses--title:after {
        position: absolute;
        bottom: 1px;
        display: table;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #B9ABE4;
    }
    .address-edit-container {
        font-family: galano_grotesquemedium;
        font-size: .9em;
        height: 25px;
        letter-spacing: -0.5px;
        color: #734a9e;
    }
    .saved-addresses .address-edit-container a {
        text-decoration: none;
    }
    .address-form-heading--buttons {
        display: flex;
        flex-direction: row;
    }
    @media (min-width: 768px) {
        .address-input-group.input-group--half {
            width: 48%;
        }
        .address-form-heading {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 30px;
        }
        .js-addAddress-button {
            position: absolute;
            z-index: 3;
            top: 20px;
            right: 0;
        }
    }
    @media (min-width: 1024px) {
        .flex-container {
            flex-direction: row;
        }
        .account-page-title {
            font-size: 2.6em;
            margin: 20px 0 30px;
        }
        .content-wrapper {
            max-width: 745px;
        }
        .saved-addresses .address {
            height: 190px;
        }
        .saved-addresses {
            min-height: 670px;
        }
        .address-form-heading .account-form__link-back, .address-form-heading .account-form__add-address {
            margin-left: 30px;
        }
    }
    @media (min-width: 1024px) and (max-width: 1188px) {
        .saved-addresses .address {
            max-width: 47.4%;
        }
    }
    @media (min-width: 1190px) {
        .saved-addresses .address {
            max-width: 31.1%;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .saved-addresses .address {
            max-width: 31.1%;
        }
    }
    @media (max-width: 767px) {
        .address-form-heading .address-form-heading--title {
        }
    }
    .hidden {
        display: none !important;
        visibility: hidden;
    }
</style>
<script>
    (function () {
        // window.addEventListener('load', () => {
        const addAddressBtn = document.getElementById('js-addAddress');
        const addressBlock = document.getElementById('saved-addresses');
        const cancelNewBtn = document.getElementById('js-cancelNew');
        const emptyBlock = document.getElementById('empty');
        const addresses = document.getElementsByClassName('address');
        const addressesTitle = document.querySelector('.saved-addresses--title');
        const pagination = document.querySelector('.pagination');
        const editButtons = document.querySelectorAll('.edit-btn')


        addAddressBtn.addEventListener('click', () => {
            addressBlock ? addressBlock.classList.add('hidden') : emptyBlock.classList.add('hidden')
        })
        cancelNewBtn.addEventListener('click', () => {
            addressBlock ? addressBlock.classList.remove('hidden') : emptyBlock.classList.remove('hidden')
        })

        let toggleAddresses = () => {
            addresses.forEach((el) => el.classList.toggle('hidden'))
            addressesTitle.classList.toggle('hidden');
            if (pagination) {
                pagination.classList.toggle('hidden');
            }
        }

        editButtons.forEach((el) => {
            el.addEventListener('click', toggleAddresses)
        });
        document.querySelectorAll('.js-cancelEdit').forEach((el) => {
            el.addEventListener('click', toggleAddresses)
        });

        window.addEventListener('load', () => {
            if (Shopify.locale === 'en') {
                editButtons.forEach((el) => {
                    el.innerText = "Edit"
                });
            } else if (Shopify.locale === 'de') {
                editButtons.forEach((el) => {
                    el.innerText = "Bearbeiten"
                });
            } else if (Shopify.locale === 'fr') {
                editButtons.forEach((el) => {
                    el.innerText = "Éditer"
                });
            } else {
                editButtons.forEach((el) => {
                    el.innerText = "Bearbeiten"
                });
            }
        })
    })();
</script>
