<section class="account-page">
    <div class="container form-container">
        <div class="row flex-row row-ident">
            <div class="flex-column p2">
                <div class="row">
                    {% comment %}
                        If a user has successfully requested a new password, the form.posted_successfully? variable
                        is set to true within the 'recover_customer_password' form only. Within that form you'll see
                        the variable 'resetPassword' set to true, which is used to initialize tim ber.resetPasswordSuccess().
                    {% endcomment %}
                    <div class="block s1 med_s13" id="ResetSuccess" style="display:none;">
                        {{- 'customer.recover_password.success' | t -}}
                    </div>
                </div>
                <div class="row">

                    <div class="js-loginForm account-form account-form block" id="login-form"
                         style="display:none">
                        {%- form 'customer_login' -%}
                            <div class="row">

                                <h3 class="form-heading">{{ 'customer.login.title' | t }}</h3>

                                <div class="block s1 p c-error">
                                    {{- form.errors | default_errors -}}
                                </div>

                                <div class="inputGroup input-field block">
                                    <label for="CustomerEmail"
                                           class="c-gray">{{ 'customer.login.email' | t }}</label>
                                    <input type="email" name="customer[email]" id="CustomerEmail"
                                           class="{% if form.errors contains 'email' %} error{% endif %}"
                                           autocorrect="off" autocapitalize="off" autofocus required>
                                </div>

                                {% if form.password_needed %}
                                    <div class="inputGroup input-field block">
                                        <label for="CustomerPassword"
                                               class="c-gray">{{ 'customer.login.password' | t }}</label>
                                        <input type="password" name="customer[password]" id="CustomerPassword"
                                               class="{% if form.errors contains 'password' %} error{% endif %}"
                                               required>
                                      {%- if shop.checkout.guest_login -%}
                                      <br>
                                      {%- else -%}
                                        <a href="#recover-form"
                                           class="js-recoverToggle account-form__link account-form__link--password">{{ 'customer.login.forgot_password' | t }}</a>
                                      {%- endif -%}
                              </div>
                                {% endif %}

                            </div>

                            <input type="submit" class="account-form__submit button"
                                   value="{{ 'customer.login.sign_in' | t }}">
                        {%- endform -%}

                    </div>

                </div>
            </div>
            <div class="js-recoverForm recoverForm account-form" id="recover-form"
                 style="display:none">
                <div class="row">

                    <h3 class="form-heading">{{ 'customer.recover_password.title' | t }}</h3>
                    <p class="block s1 account-form__info-text">{{ 'customer.recover_password.subtext' | t }}</p>

                    <div class="block input-field">
                        {%- form 'recover_customer_password' -%}
                            <div class="row">

                                {{ form.errors | default_errors }}

                                {%- if form.posted_successfully? -%}
                                    {%- assign resetPassword = true -%}
                                {%- endif -%}

                                <div class="inputGroup">
                                    <label for="RecoverEmail"
                                           class="c-gray">{{ 'customer.recover_password.email' | t }}</label>
                                    <input type="email" name="email" id="RecoverEmail" autocorrect="off"
                                           autocapitalize="off" required>
                                </div>
                            </div>
                            <div class="row">
                                <input type="submit" class="account-form__submit button block"
                                       value="{{ 'customer.recover_password.submit' | t }}">

                                <div class="account-form__links">
                                    <a href="#login-form"
                                       class="js-recoverCancel account-form__link">{{ 'customer.recover_password.cancel' | t }}</a>
                                </div>
                            </div>

                        {%- endform -%}
                    </div>

                </div>
            </div>
          {%- if shop.customer_accounts_enabled -%}
            <div class="flex-column p2">
                <div class="row block-inverse js-loginForm">
                    <h3 class="form-heading">{{ 'customer.register.alt_title' | t }}</h3>
                    <p class="sub-title">{{ 'customer.register.subtitle' | t }}</p>
                    <div class="icon-text"><span class="icon-user">{%- render 'icon-user' -%}</span>
                        <p>{{ 'customer.register.benefits' | t }}</p></div>
                    <div class="icon-text"><span class="icon-truck">{%- render 'icon-truck' -%}</span>
                        <p>{{ 'customer.register.delivery' | t }}</p></div>
                    <div class="account-form__links center block row">
                            <a href="{{ routes.account_register_url }}"
                               class="button account-form__link button-inverse">{{ 'customer.link.create_account' | t }}</a>
                      
                    </div>
                </div>
            </div>
          {%- endif -%}
        </div>
    </div>
    <div class="container form-container block-login-guest">
        <div class="row flex-row">
            {%- if shop.checkout.guest_login -%}
                <div class="flex-column p2">
                    <p class="text-bold">{{ 'customer.login.guest_text' | t }}</p>
                    <p class="sub-text">{{ 'customer.login.guest_subtext' | t }}</p>
                </div>
                <div class="flex-column p2">
                    {%- form 'guest_login' -%}
                        <input type="submit" class="guest-login-submit button button--secondary"
                               value="{{ 'customer.login.guest_continue' | t }}">
                    {%- endform -%}
                </div>
            {%- endif -%}
        </div>
    </div>
</section>