<section class="account-page">
    <div class="order-container container">

        <div class="flex-container">
            <div class="account-details thin-column">
                {% render 'account-menu' %}
            </div>
            <div class="wide-column block-full-height">
              <div class="content-wrapper">
                <p class="order-page-title">{{ 'customer.order.page_title' | t }}</p>

                <div class="block s1">
                  <div class="details">
                    <p class="details-text">{{ 'customer.order.date' | t }} {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
                    <p class="details-text">{{ 'customer.order.title' | t: name: order.name }} {{ order.name }}</p>
                  </div>
                    {%- if order.cancelled -%}
                        <div class="errors">
                            {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
                            <p class="detail-text">{{ 'customer.order.cancelled_reason' | t }}: {{ order.cancel_reason }}</p>
                            <p class="detail-text">{{ 'customer.order.cancelled' | t }}: {{ order.cancelled_at |  date: "%B %d, %Y %I:%M%p" }}</p>
                        </div>
                    {%- endif -%}

                    <div class="order-table account-table pad-xs">

                        <div class="d-table med_d-block">
                            <div class="d-table-header">
                                <div class="d-table-row">
                                    <div class="c-gray d-table-cell u-left">{{ 'customer.order.product' | t }}</div>
                                    <div class="c-gray d-table-cell">{{ 'customer.order.price' | t }}</div>
                                    <div class="c-gray d-table-cell">{{ 'customer.order.quantity' | t }}</div>
                                    <div class="c-gray d-table-cell u-right">{{ 'customer.order.total' | t }}</div>
                                </div>
                            </div>

                            <div class="d-table-row-group med_d-block table-items">
                                {%- for line_item in order.line_items -%}

                                    <div id="{{ line_item.id }}" class="d-table-row med_d-block">

                                        <div class="order-product d-table-cell u-left med_d-block">
												<span
                                                        class="order-product-thumb lazyload"
                                                        loading="lazy"
                                                        data-bgset="{% render 'bgset', image: line_item.product.featured_image %}"
                                                        data-sizes="auto"
                                                        data-parent-fit="contain">
												</span>
                                            <noscript>
                                                <div class="vorder-product-thumb no-js-image" style="background-image:url('{{ image | img_url: '100x100' }}');"></div>
                                            </noscript>

                                            <div class="order-product-title">
                                                <a href="{{line_item.product.url}}">{{line_item.title}}</a>
                                                {% if line_item.fulfillment %}
                                                    <div class="order-product-fulfillment">
                                                        {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                                                        {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                                                        {% if line_item.fulfillment.tracking_number %}
                                                            <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="d-table-cell med_d-block">
                                            <p class="med_show c-gray">{{ 'customer.order.price' | t }}</p>
                                            {% if line_item.original_price > line_item.final_price %}
                                                <s>{{ line_item.original_price | money }}</s>
                                            {% endif %}
                                            {{ line_item.final_price | money }}

                                            {%- if line_item.unit_price_measurement -%}
                                                <span class="product-unit-price">
														{{ line_item.unit_price | money }}
                                                    {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                                        {{- line_item.unit_price_measurement.reference_value -}}
                                                    {%- endif -%}
                                                    {{ line_item.unit_price_measurement.reference_unit }}
													</span>
                                            {%- endif -%}
                                        </div>

                                        <div class="d-table-cell med_d-block">
                                            <p class="med_show c-gray">{{ 'customer.order.quantity' | t }}</p>
                                            {{ line_item.quantity }}
                                        </div>

                                        <div class="order-product-total d-table-cell u-right med_d-block">
                                            <p class="med_show c-gray">{{ 'customer.order.total' | t }}</p>
                                            {% if line_item.original_line_price > line_item.final_line_price %}
                                                <s>{{ line_item.original_line_price | money }}</s>
                                            {% endif %}
                                            {{ line_item.final_line_price | money }}

                                            {% comment %}
                                                Display the specific line item discount
                                            {% endcomment %}
                                            {%- if line_item.line_level_discount_allocations.size > 0 -%}
                                                <div class="order-product-discounts">
                                                    {% for discount_allocation in line_item.line_level_discount_allocations %}
                                                        <p>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
                                                    {% endfor %}
                                                </div>
                                            {%- elsif line_item.discount_allocations.size > 0 -%}
                                                <div class="order-product-discounts">
                                                    {% for discount_allocation in line_item.discount_allocations %}
                                                        <p>{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
                                                    {% endfor %}
                                                </div>
                                            {%- endif -%}
                                        </div>

                                    </div>
                                {%- endfor -%}
                            </div>
                        </div>

                        <div class="d-table med_d-block table-subtotal">
                            <div class="d-table-row med_hide">
                                <div class="c-gray d-table-cell u-left">
                                    {{- 'customer.order.subtotal' | t -}}
                                </div>
                                <div class="d-table-cell u-right med_d-block">
                                    {{- order.line_items_subtotal_price | money -}}
                                </div>
                            </div>

                            {% comment %} Cart level discounts {% endcomment %}
                            {%- if order.cart_level_discount_applications != blank -%}
                                {%- for discount_application in order.cart_level_discount_applications -%}
                                    <div class="d-table-row med_hide">
                                        <div class="c-gray d-table-cell u-left">
                                            {{- discount_application.title -}}
                                        </div>
                                        <div class="d-table-cell med_d-block u-right">
                                            {{- discount_application.total_allocated_amount | money | prepend: '-' -}}
                                        </div>
                                    </div>
                                {%- endfor -%}
                            {%- endif -%}

                            {% for shipping_method in order.shipping_methods %}
                                <div class="d-table-row med_hide">
                                    <div class="c-gray d-table-cell u-left">
                                        {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                                    </div>
                                    <div class="d-table-cell med_d-block u-right">
                                        {{- shipping_method.price | money -}}
                                    </div>
                                </div>

                            {% endfor %}

                            {% for tax_line in order.tax_lines %}
                                <div class="d-table-row med_hide">
                                    <div class="c-gray d-table-cell u-left">
                                        {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                                    </div>
                                    <div class="d-table-cell med_d-block u-right">
                                        {{- tax_line.price | money -}}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="d-table-row med_hide row-total">
                                <div class="d-table-cell u-left no-border">{{ 'customer.order.total' | t }}</div>
                                <div class="d-table-cell med_d-block u-right no-border">{{ order.total_price | money }} {{ order.currency }}</div>
                            </div>

                        </div>

                        <!-- Mobile/Tablet show -->
                        <div class="row inline med_show">
                            <div class="order-table-summary block s1 lg_s12">
                                <div class="d-table med_d-block">
                                  <p class="amount-title med_show">{{ 'customer.order.summary' | t }}</p>
                                    <div class="d-table-row med_show">
                                        <div class="c-gray d-table-cell table-cell-summary title u-left">
                                            {{- 'customer.order.subtotal' | t -}}
                                        </div>
                                        <div class="d-table-cell table-cell-summary price u-right med_d-block">
                                            {{- order.line_items_subtotal_price | money -}}
                                        </div>
                                    </div>

                                    {% comment %} Cart level discounts {% endcomment %}
                                    {%- if order.cart_level_discount_applications != blank -%}
                                        {%- for discount_application in order.cart_level_discount_applications -%}
                                            <div class="d-table-row med_show">
                                                <div class="c-gray d-table-cell table-cell-summary title u-left">
                                                    {{ discount_application.title }}
                                                </div>
                                                <div class="d-table-cell table-cell-summary price u-right med_d-block">
                                                    {{ discount_application.total_allocated_amount | money | prepend: '-' }}
                                                </div>
                                            </div>
                                        {%- endfor -%}
                                    {%- endif -%}

                                    {%- for shipping_method in order.shipping_methods -%}
                                        <div class="d-table-row med_show">
                                            <div class="c-gray d-table-cell table-cell-summary title u-left">
                                                {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                                            </div>
                                            <div class="d-table-cell table-cell-summary price med_d-block u-right">
                                                {{- shipping_method.price | money -}}
                                            </div>
                                        </div>

                                    {%- endfor -%}

                                    {%- for tax_line in order.tax_lines -%}
                                        <div class="d-table-row med_show">
                                            <div class="c-gray d-table-cell table-cell-summary title u-left">
                                                {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                                            </div>
                                            <div class="d-table-cell table-cell-summary price med_d-block u-right">
                                                {{- tax_line.price | money -}}
                                            </div>
                                        </div>
                                    {%- endfor -%}
                                    <div class="d-table-row med_show row-total">
                                        <div class="d-table-cell table-cell-summary title u-left no-border">{{ 'customer.order.total' | t }}</div>
                                        <div class="d-table-cell table-cell-summary price med_d-block no-border">{{ order.total_price | money }} {{ order.currency }}</div>
                                    </div> <!-- END table -->
                                </div> <!-- END containing .block -->
                            </div> <!-- END mobile/tablet -->

                        </div>

                    </div> <!-- END .block s1 -->

                    <div class="order-addresses block s1 pad-sm">
                        <div class="row inline">

                            <div class="block s1 med_s13 address-block">
                                <p class="adsress-title">{{ 'customer.order.billing_address' | t }}</p>

                                <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>

                                <p>
                                    {{ order.billing_address.address1 }}<br>

                                    {% if order.billing_address.address2 != "" %}
                                        {{ order.billing_address.address2 }}<br>
                                    {% endif %}

                                    {% if order.billing_address.city != "" %}
                                        {{ order.billing_address.city }}
                                    {% endif %}

                                    {% if order.billing_address.province_code != "" %}
                                        {{ order.billing_address.province_code | upcase }}
                                    {% endif %}

                                    {% if order.billing_address.zip != "" %}
                                        {{ order.billing_address.zip | upcase }}<br>
                                    {% endif %}

                                    {% if order.billing_address.country != "" %}
                                        {{ order.billing_address.country }}<br>
                                    {% endif %}

                                    {% if order.billing_address.phone != "" %}
                                        {{ order.billing_address.phone }}
                                    {% endif %}
                                </p>
                            </div>

                            <div class="block s1 med_s13 address-block">
                                <p class="adsress-title">{{ 'customer.order.shipping_address' | t }}</p>

                                <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>

                                <p>
                                    {{ customer.default_address.address1 }}<br>

                                    {% if customer.default_address.address2 != "" %}
                                        {{ customer.default_address.address2 }}<br>
                                    {% endif %}

                                    {% if customer.default_address.city != "" %}
                                        {{ customer.default_address.city }}
                                    {% endif %}

                                    {% if customer.default_address.province_code != "" %}
                                        {{ customer.default_address.province_code | upcase }}
                                    {% endif %}

                                    {% if customer.default_address.zip != "" %}
                                        {{ customer.default_address.zip | upcase }}<br>
                                    {% endif %}

                                    {% if customer.default_address.country != "" %}
                                        {{ customer.default_address.country }}<br>
                                    {% endif %}

                                    {% if customer.default_address.phone != "" %}
                                        {{ customer.default_address.phone }}
                                    {% endif %}
                                </p>
                            </div>

                            <div class="gridSpacer block s1 med_s13"></div>

                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
</section>
  <style>
.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
.thin-column {
}
.wide-column {
    flex-grow: 1;
}
.content-wrapper {
    max-width: 100%;
    margin: 0 auto;
}
.order-page-title {
    font-size: 2.6em;
    position: relative;
    display: block;
    margin: 20px 0 30px;
}
.order-page-title:first-letter {
    text-transform: uppercase;
}
.details {
    position: relative;
    display: block;
}
.details:after {
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: #B9ABE4;
}
.details-text {
    margin-bottom: 5px;
}
.address-block {
    padding-top: 25px;
    padding-bottom: 25px;
}
.adsress-title, .amount-title {
    font-family: galano_grotesquemedium;
    font-size: 1.4em;
}
    .amount-title  {
    }
.table-items, .table-subtotal, .order-addresses, .order-table-summary {
    padding: 0 20px;
    color: #111;
    border-radius: 4px;
    background-color: #fff;
}
    
    .order-table-summary {
    padding-top:25px;
      padding-bottom: 25px;
    }
.d-table-header .d-table-row {
    padding: 0 20px;
}
.d-table-header .d-table-row .d-table-cell {
    padding: 20px 0 10px 0;
}
.account-table .d-table-cell {
    border-bottom: 1px solid #E1E1E1;
}
.d-table-header .d-table-row .d-table-cell {
    border-bottom: 0px;
}
.row-total {
    font-family: galano_grotesquemedium;
    font-size: 1em;
}
@media (min-width: 1024px) {
    .flex-container {
        flex-direction: row;
    }
    .order-page-title {
        font-size: 2.6em;
        margin: 20px 0 10px;
    }
    .content-wrapper {
        max-width: 745px;
    }
}
    @media (max-width: 767px) {
      .account-table .d-table-cell {
      border-bottom: 0px;
      border-top: 0px;
      }
      .table-items .d-table-row {
            border-bottom: 0px;
      border-top: 0px;
      }
      .account-table .d-table-row {
       border-bottom: 1px solid #E1E1E1;
      }
      .account-table .d-table-row:last-child {
      border-bottom: 0;
      }
    }
.order-product-thumb, .vorder-product-thumb {
    display: none;
}
.d-table-row-group {
    display: block;
}
.d-table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d-table-cell {
    flex-basis: 110px;
    flex-grow: 1;
}
.d-table-cell:first-child {
    flex-basis: 260px;
}
    .price {
    color: #111;
    }
    .table-cell-summary.price {
        font-family: galano_grotesquemedium;
    }
    
  </style>
  <script>
  (function () {
    document.getElementById('order-link').classList.add('account-menu__item--active')
})();
  </script>