<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  {% include 'multipixel' %}
</head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>
    <div class="breadcrumb_mobile wrap wrap-content">{{ breadcrumb }}</div>
    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap wrap-content">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    {% render 'checkout-customization' %}   
    {% comment %} 
     {% render 'checkout-customization' %}    
    {% endcomment %} 
    {% if order.attributes %}

  <p>Order notes:</p>

  <ul>

    {% for attribute in order.attributes %}

      <li><strong>{{ attribute | first }}</strong>: {{ attribute | last }}</li>

    {% endfor %}

  </ul>

{% endif %}
                        {% if customer %}
    <div style="background-color:red; height:45px; width:45px; position: fixed;"></div>
                    {% else %}
    <div style="background-color:green; height:45px; width:45px; position: fixed;"></div>
                    {% endif %} 
  </body>
</html>
