{% if customer  %}
    <script>
      $('body').append('<div class="reward-dashboard"><a href="{{shop.secure_url}}/pages/loyalty-dashboard" class="site-nav__link">Reward Dashboard</a></div>');
          
      var shop_url = '{{shop.secure_url}}';
      var shop_domain = '{{shop.permanent_domain}}';
      var payload = '{{customer.id}}';
      function getPoints(){
      	var data = {'store_id':shop_domain, 'payload':payload, 'action':'add_tier_tag'};
        $.ajax({
          type: 'POST',
          url: shop_url+'/apps/loyalty/jwt_generator.php/',
          data: JSON.stringify(data),
          dataType: "json",
          success: function(res) {
          }
        });                            
      }
      getPoints();
    </script>
    {% endif %}

    {% if template contains 'product' %}
            <script>
               var pdp_points_parse = '';
                var shop_domain = '{{shop.permanent_domain}}';
                var shop_url = '{{shop.secure_url}}';
                var product_id = '{{product.id}}';
                function getPoints(){
                    var data = {'store_id':shop_domain, 'payload':product_id, 'action':'pdp_points'};                    
                    $.ajax({
                      type: 'POST',
                      url: shop_url+'/apps/loyalty/jwt_generator.php/',
                      data: JSON.stringify(data),
                      dataType: "json",
                      success: function(res) {
                        var pdp_points = res.data;
                        pdp_points_parse = JSON.parse(pdp_points);

                        if(pdp_points_parse.productId){
                          $('span[class*=price]').append("<br/><div>Earn "+(Math.round(pdp_points_parse.purchaseCredits)).toFixed(2)+" points</div>");
                        }
                      }
                    });                    
                }
                getPoints();
            </script>
    {% endif %}
    {% if template contains 'cart' %}
         <!-- Annex Cloud loyalty code start -->
              <script>
                var account_status = '{{shop.customer_accounts_enabled}}';
                if(account_status == 'true'){
                    var cutsomer_status = '{{customer}}';                    
                    if(cutsomer_status != ''){
                      var products = [];
                      {% for item in cart.items %}
                      var price = '{{ item.original_price | money }}';
        			  var price = price.substring(1);
                      var obj = '{\"id\" : '+{{ item.product_id }}+', \"quantity\" : '+{{ item.quantity }}+', \"unitPrice\" : '+price+'}';
                      products.push(obj);
                      {% endfor %}
                      products = "["+products+"]";
                      var subtotal = '{{cart.total_price | money}}';
                      var subtotal = subtotal.substring(1);
                      var cart_points_parse = '';
                      var shop_url = '{{shop.secure_url}}';
                      var shop_domain = '{{shop.permanent_domain}}';
                      var payload = '{{customer.id}}';
                      function getPoints(){
                        var data = {'store_id':shop_domain, 'payload':payload, 'products':products, 'subtotal':subtotal, 'action':'cart_points'};
                        $.ajax({
                          type: 'POST',
                          url: shop_url+'/apps/loyalty/jwt_generator.php/',
                          data: JSON.stringify(data),
                          dataType: "json",
                          success: function(res) {
                            var cart_points = res.data;
                            cart_points_parse = JSON.parse(cart_points);

                            if(typeof cart_points_parse.errorCode === 'undefined'){
                              $('form.cart .grid').prepend("<p class='cart-points' style='text-align:right;'>Earn "+(cart_points_parse.cartPoints)+" points</p>");
                            }                            
                          }
                        });                        
                      }
                      getPoints();
                    }
                }
              </script>
              <!-- Annex Cloud loyalty code end -->
    {% endif %}
    <script>
      var api_rewards = api_points_parse = discount_id = rule_id = '';
      var shop_domain = '{{shop.permanent_domain}}';
      var shop_url = '{{shop.secure_url}}';
      var email = '{{customer.id}}';
      function getPoints(){
          var data = {'store_id':shop_domain, 'payload':email, 'user_id':email, 'action':'dollar'};          
          $.ajax({
                type: 'POST',
                url: shop_url+'/apps/loyalty/jwt_generator.php/',
                data: JSON.stringify(data),
                dataType: "json",
                success: function(res) {
                  var api_points = res.data;
                  api_points_parse = JSON.parse(api_points);
                  
                   {% if customer  %} 
                    $('.site-header').prepend('<div class="point" style="text-align:right;">Available Points: <span id="points_bal">'+api_points_parse.availablePoints+'</span> Currency Balance: <span id="currency_bal">'+api_points_parse.creditsToCurrencyValue+'</span></div>');
                  {% endif %}

                  if(typeof api_points_parse.errorCode === 'undefined'){              
                      var account_status = '{{shop.customer_accounts_enabled}}';

                      if(account_status == 'true'){
                          var cutsomer_status = '{{customer}}';
                          if(cutsomer_status != ''){                    

                            var field = document.createElement("div");
                            field.id = "annex-field";

                            var input_btn_wrapper = document.createElement("div");
                            input_btn_wrapper.id = "apply_dollar_button_wrapper";
                            input_btn_wrapper.className = "field__input-btn-wrapper hidden";

                            var button = document.createElement("button");
                            button.id = "apply_dollar_button";
                            button.className = "btn--disabled field__input-btn btn";
                            button.setAttribute("type", "submit");
                            button.setAttribute("name", "button");
                            button.setAttribute("disabled", "disabled");
                            button.setAttribute("onclick", "displayAnnexDiscount()");
                            button.textContent = "Redeem Points";

                            var wrapper_div = document.createElement("div");
                            wrapper_div.id = "annexdiv_wrapper";
                            wrapper_div.className = "field--optional field--show-floating-label";
                            wrapper_div.setAttribute("style", "border-top:1px solid rgba(175,175,175,0.34);padding-top:1.5em;padding-bottom:1.5em;");

                            var div = document.createElement("div");
                            div.id = "annexdiv";
                            div.className = "field__input-wrapper";


                            var label = document.createElement("label");
                            label.className = "field__label field__label--visible";
                            label.textContent = "Pay with Annex Cloud Balance";

                            var input = document.createElement("input");
                            input.id = "annex_redeem";
                            input.className = "field__input";
                            input.setAttribute("onkeyup", "enableButton()");

                            var currency_bal = document.createElement("p");
                            currency_bal.className = "currency_bal";
                            currency_bal.innerHTML = "Your currency Balance: <span id='currency_bal'>"+api_points_parse.creditsToCurrencyValue+"</span>";

                            var points_bal = document.createElement("p");
                            points_bal.className = "points_bal";
                            points_bal.innerHTML = "Your available points: <span id='points_bal'>"+api_points_parse.availablePoints+"</span>";

                            div.appendChild(label);
                            div.appendChild(input);

                            input_btn_wrapper.appendChild(div);
                            input_btn_wrapper.appendChild(button);
                            wrapper_div.appendChild(input_btn_wrapper);
                            wrapper_div.appendChild(currency_bal);
                            wrapper_div.appendChild(points_bal);
                            field.appendChild(wrapper_div);


                            var annexField = document.getElementById("annex-field");

                            if(typeof(annexField) != 'undefined' && annexField != null){                      
                                annexField.innerHTML='';
                                annexField.appendChild(wrapper_div);
                                input_btn_wrapper.classList.remove("hidden");

                            }
                            else{
                            //var reference_dom = document.getElementsByClassName("order-summary__section--discount");
                            $(field).insertAfter('.sidebar__content .order-summary__section--discount');
                            //reference_dom[0].parentNode.insertBefore(field, reference_dom[0].nextSibling); 
                            }
                          }
                          else{
                              var login_link = '{{shop.secure_url}}{{routes.account_login_url}}';
                              window.location.replace(login_link);
                          }
                      }
                  }                  
                }
          });
      }
      getPoints();
      
      function enableButton(){
     	var apply_discount_btn = document.getElementById("apply_dollar_button");
        var annex_redeem_input = document.getElementById("annex_redeem").value;
        annex_redeem_input = parseInt(annex_redeem_input);
        if (annex_redeem_input == null || annex_redeem_input == "" || isNaN(annex_redeem_input) == true || typeof(annex_redeem_input) != 'number'){
          apply_discount_btn.setAttribute("disabled", "disabled");
          apply_discount_btn.className = "btn--disabled field__input-btn btn";
          document.getElementById("annex_redeem").style.borderColor = "red";
          return false;
        }
        else{
          document.getElementById("annex_redeem").style.borderColor = "rgba(175,175,175,0.34)";         
          apply_discount_btn.removeAttribute("disabled");
          apply_discount_btn.className = "field__input-btn btn";
        }
      }
      function displayAnnexDiscount(){
        var subtotal = '{{ checkout.line_items_subtotal_price | money }}';
        subtotal = subtotal.substring(1).replace(/,/g, '');
        
        if(document.getElementById("annex_redeem").value <= api_points_parse.creditsToCurrencyValue){
        	document.getElementById("annex_redeem").style.borderColor = "rgba(175,175,175,0.34)";
          	if(document.getElementById("annex_redeem").value <= parseInt(subtotal)){
              document.getElementById("annex_redeem").style.borderColor = "rgba(175,175,175,0.34)";
              
              var annex_redeem = document.getElementById("annex_redeem").value;
              annex_redeem = parseInt(annex_redeem);
              if (annex_redeem == null || annex_redeem == "" || isNaN(annex_redeem) == true || typeof(annex_redeem) != 'number'){
                document.getElementById("annex_redeem").style.borderColor = "red";
                return false;
              }
              else{                
                document.getElementById("annex_redeem").style.borderColor = "rgba(175,175,175,0.34)";
                
                document.getElementById("apply_dollar_button").removeAttribute("onclick");
				document.getElementById("apply_dollar_button").innerHTML = 'Applying <div class="lds-dual-ring"></div>';
                function getCoupon(){
                  var d = new Date();
                  var dateTime = d.toISOString();
                  if(api_points_parse.creditsToCurrencyRatio < 1){
                  	var points = parseInt(document.getElementById("annex_redeem").value) / api_points_parse.creditsToCurrencyRatio;
                  }
                  else{
                  	var points = parseInt(document.getElementById("annex_redeem").value) * api_points_parse.creditsToCurrencyRatio;
                  }
                  var data = {'store_id':shop_domain, 'payload': parseInt(document.getElementById("annex_redeem").value), 'points': points, 'user_id':email, 'date':dateTime, 'action':'create_rule'};
                  $.ajax({
                    type: 'POST',
                    url: shop_url+'/apps/loyalty/jwt_generator.php/',
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function(res) {
                    	if(res.errorcode == 0){
                          document.getElementById("checkout_reduction_code").value = res.data[0].discount_code;
                          discount_id = res.data[0].discount_id; 
                          window.localStorage.setItem('stored_discount_id', discount_id);
                          rule_id = res.data[0].rule_id;
                          window.localStorage.setItem('stored_rule_id', rule_id);

                          var apply_copon_btn = document.getElementsByClassName("field__input-btn btn btn--disabled");
                          apply_copon_btn[0].removeAttribute("disabled");
                          apply_copon_btn[0].className = "field__input-btn btn";                          
                          $(".field__input-btn").trigger("click");

                          var stored_currency_bal = api_points_parse.creditsToCurrencyValue - annex_redeem;
                          var stored_points_bal = api_points_parse.availablePoints - points;

                          window.localStorage.setItem('stored_currency_bal', stored_currency_bal);
                          window.localStorage.setItem('stored_points_bal', stored_points_bal);

                          /*change the value of currence and points elements START*/
                          document.getElementsByClassName("currency_bal")[0].innerHTML = "Your currency Balance: <span id='currency_bal'>"+stored_currency_bal+"</span>";
                          document.getElementsByClassName("points_bal")[0].innerHTML = "Your available points: <span id='points_bal'>"+stored_points_bal+"</span>";
                          /*change the value of currence and points elements END*/

                          /*replace annex textbox and apply button with cancel button START*/
                          removePointsBox();                    
                          setInterval(function(){ 
                                initClose();
                          }, 2000);
                         /*replace annex textbox and apply button with cancel button END*/


                      }
                      else if(res.errorcode == 0){
                        document.getElementById("annex_redeem").style.borderColor = "red";
                        return false;
                      }
                    
                    }
                  });
                  
                  
                }
                getCoupon();      
              }
              
            }
          	else{
            	document.getElementById("annex_redeem").style.borderColor = "red";
          		return false;
            }
        }
        else{
          	document.getElementById("annex_redeem").style.borderColor = "red";
          	return false;
        }
        
      }     
      
      /*remove discount START*/
      function removeDiscount(){
        function removeCoupon(){
          
          if(discount_id == ""){
             discount_id = window.localStorage.getItem('stored_discount_id');  
          }
          if(rule_id == ""){
             rule_id = window.localStorage.getItem('stored_rule_id');  
          }          
          var data = {'store_id':shop_domain, 'discount_id': discount_id, 'rule_id': rule_id, 'user_id':email, 'action':'delete_discount'};
          $.ajax({
            type: 'POST',
            url: shop_url+'/apps/loyalty/jwt_generator.php/',
            data: JSON.stringify(data),
            dataType: "json",
            success: function(res) {
              
              if(res.errorcode == 0){
                /*remove applied coupon START*/
                if(document.getElementsByClassName("tag__button")){
                var remove_btn = document.getElementsByClassName("tag__button");
				$("#cancel_dollar_button").trigger("click");                
                /*remove applied coupon END*/
                }
                window.localStorage.removeItem('stored_discount_id');
                window.localStorage.removeItem('stored_rule_id');
                window.localStorage.removeItem('stored_currency_bal');
                window.localStorage.removeItem('stored_points_bal');

                setTimeout(function(){ 
                     updateLoyaltyTotals();
                }, 2000);

              }
              
            }
          });
		  
        }
        removeCoupon();
      }
      /*remove discount END*/
      function updateLoyaltyTotals(){
         getPoints(); 
      }
      function updateLoyaltyTotalsFix(){
        document.getElementsByClassName("currency_bal")[0].innerHTML = "Your currency Balance: <span id='currency_bal'>"+window.localStorage.getItem('stored_currency_bal')+"</span>";
        document.getElementsByClassName("points_bal")[0].innerHTML = "Your available points: <span id='points_bal'>"+window.localStorage.getItem('stored_points_bal')+"</span>";  
      }
      function addPointsBox(){
        var list = document.getElementById("apply_dollar_button_wrapper");
        list.classList.remove("hidden");
        list.innerHTML = '<div id="annexdiv" class="field__input-wrapper"><label class="field__label field__label--visible">Pay with Annex Cloud Balance</label><input id="annex_redeem" class="field__input" onkeyup="enableButton()"></div>'+
        '<button id="apply_dollar_button" class="btn--disabled field__input-btn btn" type="submit" name="button" disabled="disabled" onclick="displayAnnexDiscount()">Apply Discount Code</button>';
        updateLoyaltyTotalsFix();

      }
      function removePointsBox(){
        document.getElementById("apply_dollar_button_wrapper").innerHTML = "";
        document.getElementById("apply_dollar_button_wrapper").classList.add("hidden");
      }
      function initClose(){  
        $('.sidebar__content .tag__button').first().attr('id','cancel_dollar_button');
        $('.sidebar__content .tag__button').first().attr('onclick','removeDiscount()');
      }

      /* checking of existing discount BEGIN */
      $(document).on('page:load', function () {
        
        $(window).on('load', function() {
          
          setTimeout(function(){ 
            
          var checkDiscountCode = $('span.reduction-code__text');
          
          if(checkDiscountCode.is(':contains("ANNEX")')) {  
            
          removePointsBox();
          updateLoyaltyTotalsFix();
		  initClose();
            
          }
          else{
				$('div#apply_dollar_button_wrapper').removeClass('hidden');
          }  
          }, 3000);            

		});
 	  });
      /* checking of existing discount END*/
           
    </script>
    
<style>
.lds-dual-ring {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 13px;
  height: 13px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#apply_dollar_button_wrapper{
  padding-bottom:21px;
  height:45px;
}
.reward-dashboard {
    position: fixed;
    bottom: 3%;
    left: 1%;
    background: #363f49;
    border-radius: 30px;
    color: #fff !important;
    padding: 0 30px;
    z-index: 999999 !important;
}  
.reward-dashboard a{
    color: #fff !important;
} 
</style>
<!-- Annex Cloud loyalty code end -->

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}