{% comment %}
When a comment has just been submitted, it's not shown right away.
Shopify needs to wait until it knows for sure that it is not spam to publish it.
We can still show right away *to its author* the comment he just submitted
— although that comment may not have been published yet.
When a comment is submitted, the browser is redirected to a page that
includes the new comment id in its URL. Example:
http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
When a comment ID is specified in an article URL, that comment is accessible in the
template through a Liquid object called comment.
That comment is a full-fledged comment variable that has all the regular comment properties:
http://docs.shopify.com/themes/liquid-variables/comment.
Note that comment.created_at will only be defined if the comment did not have any blank field
— was posted without error.
{% endcomment %}

{%- capture author -%}{{ article.user.first_name }} {{ article.user.last_name }}{%- endcapture -%}

<section class="page-title page-title--article container-wrap">
	<div class="container">
		<div class="row row-sm">
			<div class="block">
				<h1>{{ article.title }}</h1>

				<p class="post-meta">
					<span class="post-meta__author">{{- 'blog.article.by_author' | t: author: author -}}</span>
					<span class="post-meta__date"><time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%B %d, %Y' }}</time></span>
					{%- if blog.comments_enabled? -%}
					<span class="post-meta__comment-count"><a href="#comments" data-anchor-link>{{ 'blog.blog_list_view.comment_count' | t: count: article.comments_count }}</a></span>
					{%- endif -%}
				</p>
			</div>
		</div>
	</div>
</section>
<div class="article__content container-wrap">
	<div class="container text-content">
		<div class="row row-sm rte">
			{%- if article.image -%}
				<div class="article__image lazyload" data-bgset="{% render 'bgset', image: article.image %}" data-sizes="auto" data-parent-fit="cover"></div>
				<noscript>
					<div class="article__image no-js-image" style="background-image: url({{ article.image | img_url: '1024x' }}); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
				</noscript>
			{%- endif -%}

			{{- article.content -}}
		</div>
	</div>
	<div class="article-footer container">
		<div class="row row-sm">
			{%- render 'accent-line' -%}

			{% if article.tags.size > 0 %}
				<p class="tags">
					{{ 'blog.article.tags_label' | t }}:
					{% for tag in article.tags %}
					<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
					{% endfor %}
				</p>
			{% endif %}
			{%- if blog.next_article or blog.previous_article -%}
				<p class="prev-next">
					{%- if blog.previous_article -%}
						<span class="__prev">
							<a href="{{ blog.previous_article }}">
								{%- render 'icon-arrow' -%}
								{{- 'blog.article.previous_post' | t -}}
							</a>
						</span>
					{%- endif -%}

					{%- if blog.next_article -%}
						<span class="__next">
							<a href="{{ blog.next_article }}">
								{{- 'blog.article.next_post' | t -}}
								{%- render 'icon-arrow' -%}
							</a>
						</span>
					{%- endif -%}
				</p>
			{%- endif -%}

			{%- if settings.share_on_facebook or settings.share_on_twitter -%}
				<p class="share-links">
					{%- render 'site-shareLinks' -%}
				</p>
			{%- endif -%}
		</div>
	</div>
	{%- if blog.comments_enabled? -%}
		{%- paginate article.comments by 4 -%}
			<div class="article-comments container">
				<div class="row row-sm">
					{%- if blog.comments_enabled? -%}
						<h4 class="meta-comments">{{ 'blog.article.comment_count' | t: count: article.comments_count }}</h4>
					{%- endif -%}

					{%- render 'blog-comments' -%}

					<p class="blog-index-link">
						<a href="{{ blog.url }}">
							{%- render 'icon-arrow' -%}
							{{- 'blog.article.back_to_all_posts' | t: title: blog.title -}}
						</a>
					</p>
				</div>
			</div>
		{%- endpaginate -%}
	{%- endif -%}
</div>