{% comment %} Settings {% endcomment %}
{%- assign logo_position = section.settings.logo_position -%}
{%- assign links_position = section.settings.links_position -%}
{%- assign logo_width = section.settings.logo_max_width -%}
{%- assign logo = section.settings.logo -%}
{%- assign logo_other = section.settings.logo_other -%}
{%- assign shop_name = shop.name | escape -%}
{%- assign show_shop_name = section.settings.show_site_name -%}

{%- assign transparent_header = false -%}
{%- if settings.color_header_bg_home == 'rgba(0,0,0,0)' -%}
	{%- assign transparent_header = true -%}
{%- endif -%}

{%- comment -%} Check if there is only one logo set and show it always {%- endcomment -%}
{%- assign single_logo = false -%}
{%- if logo and logo_other == blank -%}
	{%- assign single_logo = true -%}
{%- elsif logo == blank and logo_other -%}
	{%- assign single_logo = true -%}
{%- endif -%}

{%- capture logo_not_home -%}
	{%- assign image = logo_other -%}
	{%- if image != blank -%}
		{%- assign logo_height = logo_width | divided_by: image.aspect_ratio -%}
		{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
		{%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

		{%- assign logo_small_height = 40 -%}
		{%- if logo_height < 40 -%}
			{%- assign logo_small_height = logo_height -%}
		{%- endif -%}
		{%- assign logo_small_width = logo_small_height | times: image.aspect_ratio -%}

		{%- style -%}
			.logo__image--other { width: {{ logo_width }}px; height: {{ logo_height }}px; }
			.header--has-scrolled .logo__image--other { width: {{ logo_small_width }}px; height: {{ logo_small_height }}px; }
		{%- endstyle -%}

		<img
			class="logo__image logo__image--other{% if single_logo %} logo__image--single{% endif %} lazyload"
			src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
			data-src="{{ image_url_pattern }}"
			data-widths= "{{ image_widths }}"
			data-aspectratio="{{ image.aspect_ratio }}"
			data-sizes="auto"
			loading="lazy"
			width="{{ logo_width }}px"
			height="{{ logo_height }}px"
			alt="{{ image.alt | escape | default: shop.name }}">
		<noscript>
			<img src="{{ image | img_url: '500x' }}"
				class="logo__image"
				width="{{ logo_width }}px"
				height="{{ logo_height }}px"
				style="width: {{ logo_width }}px; height: {{ logo_height }}px;"
				alt="{{ image.alt | escape | default: shop.name }}">
		</noscript>
	{%- endif -%}
{%- endcapture -%}

{%- capture logo_home -%}
	{%- assign image = logo -%}
	{%- if image != blank -%}
		{%- assign logo_height = logo_width | divided_by: image.aspect_ratio -%}
		{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
		{%- assign image_widths = "[100, 140, 180, 220, 280, 360, 400, 440, 560, 720, 800]" -%}

		{%- assign logo_small_height = 40 -%}
		{%- if logo_height < 40 -%}
			{%- assign logo_small_height = logo_height -%}
		{%- endif -%}
		{%- assign logo_small_width = logo_small_height | times: image.aspect_ratio -%}

		{%- style -%}
			.logo__image--home { width: {{ logo_width }}px; height: {{ logo_height }}px; }
			.header--has-scrolled .logo__image--home { width: {{ logo_small_width }}px; height: {{ logo_small_height }}px; }
		{%- endstyle -%}

		<img
			class="logo__image logo__image--home{% if single_logo %} logo__image--single{% endif %} lazyload"
			src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
			data-src="{{ image_url_pattern }}"
			data-widths= "{{ image_widths }}"
			data-aspectratio="{{ image.aspect_ratio }}"
			data-sizes="auto"
			loading="lazy"
			width="{{ logo_width }}px"
			height="{{ logo_height }}px"
			style="width: {{ logo_width }}px; height: {{ logo_height }}px;"
			alt="{{ image.alt | escape | default: shop.name }}">
		<noscript>
			<img src="{{ image | img_url: '500x' }}"
				class="logo__image"
				width="{{ logo_width }}px"
				height="{{ logo_height }}px"
				style="width: {{ logo_width }}px; height: {{ logo_height }}px;"
				alt="{{ image.alt | escape | default: shop.name }}">
		</noscript>

		{%- style -%}
			.logo__image--home { width: {{ logo_width }}px; height: {{ logo_height }}px; }
			.header--has-scrolled .logo__image--home { width: {{ logo_small_width }}px; height: {{ logo_small_height }}px; }
		{%- endstyle -%}
	{%- endif -%}
{%- endcapture -%}

{%- capture headerClass -%}site-header header--no-bg header--is-standard header--{{ logo_position }}_{{ links_position }} header--standard {% unless logo or logo_other or show_shop_name %}header--no-logo{% endunless %}{%- endcapture -%}

<header class="{{ headerClass }}" data-section-type="header" id="header" data-transparent="{{ transparent_header }}" data-scroll-lock-fill-gap>
	<div class="container">
		<div class="row">
			{%- if logo or logo_other or show_shop_name -%}
				<h1 class="nav-item logo {% unless logo or logo_other %}logo--text-only{% endunless %}">
					{%- if logo or logo_other -%}
						<a href="{{ routes.root_url }}" class="logo__image-link visible-nav-link" data-width="{{ section.settings.logo_max_width }}" aria-label="{{ shop_name }}">
							{%- if logo -%}
								{{- logo_home -}}
							{%- endif -%}

							{%- if logo_other -%}
								{{- logo_not_home -}}
							{%- endif -%}
						</a>
					{%- endif -%}

					{%- if show_shop_name -%}
						<a id="shopName" class="logo__text" href="{{ routes.root_url }}">{{ shop_name }}</a>
					{%- endif -%}
				</h1>
			{%- endif -%}

			<div class="header-fix-cont">
				<div class="header-fix-cont-inner">
					<nav role="navigation" class="nav-standard nav-main">
						{%- render 'navigation', is_hamburger_nav: false -%}

						{%- if settings.show_search -%}
							{%- render 'nav-search' -%}
						{%- endif -%}
					</nav>

					<div class="header-icons">
						<a href="#menu" class="js-menuToggle menuToggle" data-target="nav" aria-expanded="false" aria-label="{{ 'general.accessibility.menu_toggle' | t }}">
							<div id="hamburger-menu" class="icon-menu">
								<div class="diamond-bar"></div>
								<div id="hamburger-bar" class="icon-bar"></div>
							</div>
						</a>

						{%- if shop.customer_accounts_enabled -%}
							<a href="{{ routes.account_url }}" class="nav-item nav-item-fixed nav-account-link{% unless settings.show_search %} nav-account-link--no-search{% endunless %}" aria-label="{{ 'general.accessibility.account' | t }}">
								{%- render 'icon-user' -%}
							</a>
                      		<a href="{{ routes.account_url }}" style="background: transparent !important;color: #744a9e;"><span class="user_name">{{customer.first_name }} {{customer.last_name }}</span></a>
						{%- endif -%}

						{%- if settings.show_search -%}
							<a href="#" class="nav-item searchToggle js-searchToggle js-searchToggle--open" data-search-nav=".nav-standard" aria-expanded="false" aria-label="{{ 'general.accessibility.search' | t }}">
							 	{%- render 'icon-search' -%}
							</a>
						{%- endif -%}

						<a id="cartTotal" href="{{ routes.cart_url }}" aria-label="{{ 'cart.labels.items_added' | t }}" class="nav-item nav-item-fixed {% if cart.item_count == 0 %} cartToggle--empty{% endif %}" aria-expanded="false" aria-label="{{ 'general.accessibility.cart' | t }}">
							{%- if cart.item_count == 0 -%}
								{%- render 'icon-cart' -%}
                          	    <div id="CartToggleItemCount" class="cartToggle-items hidden"></div>
							{%- else -%}
                          		{%- render 'icon-cart' -%}
								<div id="CartToggleItemCount" class="cartToggle-items">{{ cart.item_count }}</div>
							{%- endif -%}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{%- render 'cart-popover' -%}
</header>

{% comment %} Site Navigation {% endcomment %}
<nav role="navigation" class="nav-hamburger nav-main">
	<button class="nav-mobile-close js-menuToggle" aria-expanded="false" aria-label="{{ 'general.accessibility.menu_toggle' | t }}">
		{%- render 'icon-close' -%}
	</button>
	<div class="nav-inner">
		<div class="nav-inner-wrapper">
			{%- render 'navigation', is_hamburger_nav: true -%}
		</div>
	</div>
</nav>

{%- unless template == 'cart' -%}
  <div class="cart-drawer">
	{%- render 'site-cart' -%}
  </div>
{%- endunless -%}

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": {{ shop.name | json }},
	{%- if section.settings.logo or section.settings.logo_other -%}
		{%- if section.settings.logo -%}
			{%- assign logo = section.settings.logo -%}
		{%- elsif section.settings.logo_other -%}
			{%- assign logo = section.settings.logo_other -%}
		{%- endif -%}
		{%- assign image_size = logo.width | append:'x' -%}

		"logo": {{ logo | img_url: image_size | prepend: "https:" | json }},
	{%- endif -%}
	"sameAs": [
		{{ settings.instagram_link | json }},
		{{ settings.facebook_link | json }},
		{{ settings.twitter_link | json }},
		{{ settings.youtube_link | json }},
		{{ settings.vimeo_link | json }},
		{{ settings.pinterest_link | json }},
		{{ settings.tumblr_link | json }}
	],
	"url": {{ shop.url | append: page.url | json }}
}
</script>

{%- if template.name == 'index' -%}
	{%- assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" -%}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": {{ shop.name | json }},
			"potentialAction": {
				"@type": "SearchAction",
				"target": {{ potential_action_target | json }},
				"query-input": "required name=search_term_string"
			},
			"url": {{ shop.url | append: page.url | json }}
		}
	</script>
{%- endif -%}

{% schema %}
{
	"name": "Header",
	"class": "shopify-section-header",
	"settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Custom logo (Transparent header)",
			"info": "Used on Home and Collection pages when the header is transparent"
		},
		{
			"type": "image_picker",
			"id": "logo_other",
			"label": "Custom logo (Default)",
			"info": "Used on the other pages and on scroll when the header is sticky"
		},
		{
			"type": "range",
			"id": "logo_max_width",
			"label": "Custom logo width (in pixels)",
			"info": "Max logo height is 100px",
			"min": 50,
			"max": 400,
			"default": 100,
			"step": 5,
			"unit": "px"
		},
		{
			"type": "checkbox",
			"id": "show_site_name",
			"label": "Show site name",
			"default": true
		},
		{
			"type": "header",
			"content": "Menus"
		},
		{
			"type": "link_list",
			"id": "menu_list",
			"label": "Primary menu"
		},
		{
			"type":"header",
			"content":"Navigation settings"
		},
		{
			"type": "select",
			"id": "links_position",
			"label": "Links position",
			"default": "links_center",
			"options": [
				{
					"value": "links_left",
					"label": "Left"
				},
				{
					"value": "links_right",
					"label": "Right"
				},
				{
					"value": "links_center",
					"label": "Center"
				}
			]
		},
		{
			"type": "select",
			"id": "logo_position",
			"label": "Logo position",
			"default": "logo_left",
			"options": [
				{
					"value": "logo_left",
					"label": "Left"
				},
				{
					"value": "logo_center",
					"label": "Center"
				}
			]
		},
		{
			"type":"header",
			"content":"Mega menu"
		},
		{
			"type": "image_picker",
			"id": "meganav_image",
			"label": "Image",
			"info": "Recommended size: 500 x 800 px"
		},
		{
			"type": "range",
			"id": "image_aspect_ratio",
			"label": "Image aspect ratio",
			"min": 0.5,
			"max": 1.5,
			"step": 0.1,
			"unit": ":1",
			"default": 1
		},
		{
			"type": "text",
			"id": "meganav_image_heading",
			"label": "Heading"
		},
		{
			"type": "url",
			"id": "meganav_image_link",
			"label": "Link"
		}
	]
}
{% endschema %}

<style>
span.user_name {
    margin-right: 10px;
}
.header-icons .nav-item{
  margin-right: 0px;
}
    .cartToggle-items {
    color: inherit;
    font-size: 12px;
    text-align: center;
    position: absolute;
    background-color: #b9abe4;
    right: -6px;
    top: -5px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-weight: bold;
}
</style>