{%- comment -%} Settings {%- endcomment -%}
{%- assign title = section.settings.title -%}
{%- assign subtitle = section.settings.subtitle -%}

{%- comment -%} Layout {%- endcomment -%}
{%- assign collectionsColumns = section.blocks.size -%}
{%- assign layoutClass = collectionsColumns | append: '-blocks' -%}
{%- assign blocksHeight = section.settings.blocks_height -%}

{%- comment -%} Colors {%- endcomment -%}
{%- assign text_color = section.settings.text_color -%}
{%- assign overlay_color = section.settings.overlay_color -%}
{%- assign overlay_opacity = section.settings.overlay_opacity | times: 0.01 | round: 2 -%}

<style>
	#collection-module-{{ section.id }} .collectionBlock-info { color: {{ text_color }}; }
	#collection-module-{{ section.id }} .collectionBlock .collectionBlock-image::before { background-color: {{ overlay_color }}; opacity: {{ overlay_opacity }}; }
</style>

{% comment %} Section {% endcomment %}
<section class="collectionList container-wrap js-collection-grid container-wrap-framed" id="collection-module-{{ section.id }}" data-section-type="collection-grid" data-section-id="{{ section.id }}">
		  {% comment %}<img class="kante lazyload" {{ 'kante_lila.svg' | asset_url | img_tag: 'Planted' }}
    <img class="kanteunten lazyload" {{ 'kanteUnten_Lila.svg' | asset_url | img_tag: 'Planted' }}{% endcomment %}
  {%- unless title == blank and subtitle == blank -%}
		<div class="collectionList-header row row-sm">
			<div class="block s1">
				{%- if title != blank -%}
					<h2>{{ title }}</h2>
				{%- endif -%}

				{%- if subtitle != blank -%}
					<p>{{ subtitle }}</p>
				{%- endif -%}
			</div>
		</div>
	{% endunless %}

	<div class="collectionList__wrapper">
		<div class="collectionList__inner">
			<div class="collectionList-row row--mosaic row--{{ layoutClass }} row--{{ blocksHeight }}">
				{% comment %} Collection Block, contains .js-quickView {% endcomment %}

					{%- for block in section.blocks -%}
						{%- assign collection = collections[block.settings.collection] -%}
						{%- assign image = block.settings.image -%}
						{%- if image == blank -%}
							{%- assign image = collection.image -%}
						{%- endif -%}
						{%- render 'collectionList-block', collection: collection, block: block, image: image -%}
					{%- endfor -%}
			</div>
		</div>
	</div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
{
	"name": "Collections list",
	"class": "shopify-section--collections-list shopify-section--mosaic",
	"max_blocks": 5,
	"settings": [
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "subtitle",
			"label": "Text"
		},
		{
			"type": "header",
			"content": "Blocks layout"
		},
		{
			"type": "select",
			"id": "blocks_height",
			"label": "Height",
			"default": "default-height",
			"options": [
				{ "label": "Full height", "value": "full-height" },
				{ "label": "3/4 height", "value": "default-height" }
			]
		},
		{
			"type": "select",
			"id": "coll_text_position",
			"label": "Text position",
			"default": "center",
			"options": [
				{ "label": "Top left", "value": "top_left" },
				{ "label": "Top right", "value": "top_right" },
				{ "label": "Center", "value": "center" },
				{ "label": "Bottom left", "value": "bottom_left" },
				{ "label": "Bottom right", "value": "bottom_right" }
			],
			"info": "Desktop only"
		},
		{
			"type": "checkbox",
			"id": "show_description",
			"label": "Show descriptions",
			"default": true,
			"info": "Hidden on mobile"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button label",
			"default":"Shop Now"
		},
		{
			"type": "select",
			"id": "button_style",
			"label": "Button style",
			"default": "primary",
			"options": [
				{ "label": "Primary", "value": "primary" },
				{ "label": "Secondary", "value": "secondary" }
			]
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "text_color",
			"label": "Text",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "overlay_color",
			"label": "Overlay",
			"default": "#333333"
		},
		{
			"type": "range",
			"id": "overlay_opacity",
			"label": "Overlay",
			"step": 5,
			"max": 95,
			"min": 0,
			"unit": "%",
			"default": 0
		}
	],
	"blocks": [
		{
			"type": "collection",
			"name": "Collection",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Replacement image"
				}
			]
		}
	],
	"presets": [
		{
			"category": "Collection",
			"name": "Collections list",
			"blocks": [
				{
					"type": "collection"
				},
				{
					"type": "collection"
				},
				{
					"type": "collection"
				},
				{
					"type": "collection"
				},
				{
					"type": "collection"
				}
			]
		}
	]
}
{% endschema %}
