{%- assign enableSection = section.settings.related_products_enable -%}
{%- assign heading = section.settings.product_recommendations_heading -%}
{%- assign enable_color_swatches = settings.enable_color_swatches -%}
{%- assign show_reviews = settings.show_reviews -%}

{% comment %}
  Set collectionBlock size classes
  These are applied in the collectionGrid-block.liquid file
{% endcomment %}
{%- assign products_rows = settings.products_rows | plus: 0 -%}
{%- assign products_columns = settings.products_columns | plus: 0 -%}
{%- assign products_columns_mobile = settings.products_columns_mobile | plus: 0 -%}
{%- assign products_limit = products_columns | times: products_rows -%}
{%- assign columns_size = products_columns | replace: '1', '' -%}
{%- assign columns_size_mobile = products_columns_mobile | replace: '1', '' -%}
{%- assign collection_block_size = 'lg_s1' | append: columns_size -%}
{%- assign collection_block_size_mobile = 's1' | append: columns_size_mobile -%}

{% comment %} Set tablet size to be one-half {% endcomment %}
{%- if products_columns > 2 -%}
	{%- assign collection_block_size = 'lg_s1' | append: columns_size | append: ' med_s13' -%}
{%- endif -%}

<section class="related-products container-wrap collectionGrid js-collectionGrid {% unless enableSection %}visually-hidden{% endunless%}"
	data-columns="{{ products_columns }}"
	data-section-type="related-products"
	data-section-id="{{ section.id }}"
	data-product-id="{{ product.id }}"
	data-limit="{{ settings.products_columns }}"
	data-show_quantity="{{ settings.show_quantity }}"
	data-show_reviews="{{ show_reviews }}"
	data-yotpo="{{ settings.enable_yotpo }}"
	data-yotpo-id="{{ settings.yotpo_ID }}"
	data-enable-color-swatches="{{ enable_color_swatches }}"
	data-image-aspectratio="{{ settings.image_aspect_ratio }}"
	data-image-size="{{ settings.image_size }}">

	{%- if enableSection -%}
		{%- if recommendations.performed -%}
			{%- if recommendations.products_count > 0 -%}

				{%- assign alignCenter = false -%}
				{%- if recommendations.products_count < products_columns -%}
					{%- assign alignCenter = true -%}
				{%- endif -%}

				{%- if heading != blank -%}
					<div class="page-title">
						<div class="container">
							<div class="row row-sm">
								<h2 class="related-title">{{ 'products.recommendations.title' | t }}</h2>
							</div>
						</div>
					</div>
				{%- endif -%}

				<div class="collectionGrid-row {% if alignCenter %}row--center{% endif %}">
					{%- for product in recommendations.products -%}
						{%- render 'product-grid-item', product: product, collection_block_size: collection_block_size, collection_block_size_mobile: collection_block_size_mobile, index: forloop.index -%}
					{%- endfor -%}
				</div>
			{%- endif -%}
		{%- else -%}
			<div class="related__placeholder"></div>
		{%- endif -%}
	{%- endif -%}
</section>

{%- render 'product-quick-view' -%}

{% schema %}
{
	"name": "Product recommendations",
	"settings": [
		{
			"type": "checkbox",
			"id": "related_products_enable",
			"label": "Show related products",
			"info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
			"default": true
		},
		{
			"type": "text",
			"id": "product_recommendations_heading",
			"label": "Heading",
			"default": "Related products"
		}
	]
}
{% endschema %}