
   	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
<script type="text/javascript">
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};

var variant_id = getUrlParameter('id');
var reward_point = getUrlParameter('reward_point');
var url='/cart';
//add ajax to call cart api
var cart = { 
  items: [
    {
      quantity: 1,
      id: variant_id,
      properties: {
        'reward_point': reward_point
      }
    }
  ]
};
  
if(isNaN(reward_point) === false)
{
    //check if points is available in loyalty to add rewards
  var total_reward_point = parseInt(reward_point);
  
  {% for item in cart.items%}
  	{% if item.properties.reward_point != blank %} 
  		total_reward_point += parseInt({{item.properties.reward_point}}*{{item.quantity}});
    {% endif %}
  {% endfor %}
  
  var shop_domain = '{{shop.permanent_domain}}';
  var shop_url = '{{shop.secure_url}}';
  var email = '{{customer.email}}';
  var customer_id='{{customer.id}}';
  
  function getReward()
  {
    var data = {'store_id':shop_domain, 'payload':email, 'user_id':email, 'action':'dollar'};
    console.log(JSON.stringify(data));
    $.ajax({
      type: 'POST',
      url: shop_url+'/apps/loyalty/jwt_generator.php/',
      data: JSON.stringify(data),
      dataType: "json",
      success: function(res) 
      {
        console.log(res);
        var points_obj = JSON.parse(res.data);
        if(!points_obj.errorCode){
          var rewards_obj = JSON.parse(res.reward);
          var total_available_points = points_obj.availablePoints;
          
          //alert("total available points: "+total_available_points);
          //alert("total rewards points(include points added in cart): "+total_reward_point);
          if(total_available_points >= total_reward_point){
//             $.post('/cart/add.js', cart).success(function(response){
 //              alert("added to cart");
//               window.location.href = url;              
//             });
            jQuery.post('/cart/add.js', { 
              items: [
                {
                  quantity: 1,
                  id: variant_id,
                  properties: {
                    'reward_point': reward_point
                  }
                }
              ]                                       
            });
//             alert("added to cart");
              setTimeout(function(){ 
              window.location.href = url;  
             }, 500);
            
          }else{
            alert("Can't add more rewards, you have consumed your available points..");
            window.location.href = '/pages/loyalty-dashboard';
          }	
        }else{
        	console.log(points_obj.errorMessage);
			window.location.href = '/pages/loyalty-dashboard';
        }
      }
    });
  }
  getReward();
  
}else{
  	alert("missing or invalid reward id..");
	window.location.href = '/pages/loyalty-dashboard';
}


</script>