{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
<div class="flex-container">
	<div class="account-details thin-column">
		{% render 'account-menu' %}
	</div>
	<div class="wide-column block-full-height">
		<div id='socialannex_dashboard'></div>
	</div>
</div>
<script type = 'text/javascript'>
  
  
  var sa_uni = sa_uni || [];
  var jwt = sa_emailid = token = '';
  var shop_domain = '{{shop.permanent_domain}}';
  var shop_url = '{{shop.secure_url}}';  
  var primary_key='customer_email';
  if(primary_key=='customer_id'){
    var email = '{{customer.id}}';
  }
  else{
    var email = '{{customer.email}}';
  }
  function getJWT(){
    
    var data = {'store_id':shop_domain, 'payload':email};
    $.ajax({
      type: 'POST',
      url: shop_url+'/apps/loyalty/jwt_generator.php/',
      data: JSON.stringify(data),
      dataType: 'json',
      success: function(res) {
        if(res.errorcode == 0){
          jwt = res.data[0].jwt_token;
          $( document ).ready(function() {
         	window.acPageLang = $('html').attr('lang').toUpperCase();          	
          });
          
          var account_status = '{{shop.customer_accounts_enabled}}';
          if(account_status == 'true'){
            var cutsomer_status = '{{customer}}';
            if(cutsomer_status != ''){
              sa_emailid = email;
              token = jwt;
              var acPageLang =window.acPageLang;
              sa_uni.push(['sa_pg', '5']);
              (function (){
                function sa_async_load(){
                  var sa = document.createElement('script');
                  sa.type = 'text/javascript';
                  sa.async = true;  
                  sa.src = 'https://cdneu.socialannex.com/partner/49543201/universal.js';
                  var sax = document.getElementsByTagName('script')[0];
                  sax.parentNode.insertBefore(sa, sax);
                }
                sa_async_load();
              })();
            }
            else{
              var login_link = '{{shop.secure_url}}{{routes.account_login_url}}';
              window.location.replace(login_link);
            }
          }
        }
      }
    });
  }
  
//   document.addEventListener("DOMContentLoaded", function() {
//    getJWT();
//   });
  
  
$( window ).load(function() 
{
  getJWT();
  $('.wg-li a:not(.wgcurrent a)').on('click', function() {
   
    var url=window.location.origin;
    var langAttr=$('html').attr('lang');    
    setTimeout(function(){ 
      window.location = url+'/pages/loyalty-dashboard?lang='+langAttr;
   	}, 1500);   
   

  });
});
  

</script>
<style>
.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;

}
.wide-column {
    flex-grow: 1;
}
.account-details{
  padding: 0 5%;
}
@media (min-width: 1024px) {
    .flex-container {
        flex-direction: row;
    }
    .account-details{
        padding: 0;
  }
}
</style>